<div class="tour-card" [ngClass]="{ isLarge: isLargeCard }">
  <p-card
    [style]="{
      'border-radius': '1rem',
      overflow: 'hidden',
      border: 'none',
      boxShadow: 'none'
    }"
    [styleClass]="'tour-card-wrapper'"
  >
    <ng-template pTemplate="header">
      <div class="img" (click)="handleTourClick()">
        <img [src]="tourData.imageUrl" [alt]="tourData.title" loading="lazy" />
        <div class="overlay">
          <span class="rating p-button-primary">{{ tourData.rating }} ★</span>
          <div class="tags-container">
            <span *ngIf="tourData.isByDr" class="tag expandable-tag">
              <span class="short-text">
                <img
                  alt="Different Roads logo"
                  src="favicon-different.png"
                  class="logo"
                  height="5px"
                />
              </span>
              <span class="expanded-content">Tour creado por Different Roads</span>
            </span>
            <span class="tag" *ngIf="tourData.tag">{{ tourData.tag }}</span>
          </div>
          <div class="title-overlay">
            <p>{{ tourData.description }}</p>
            <h3>{{ tourData.title }}</h3>
          </div>
        </div>
      </div>
    </ng-template>
    
    <ng-template pTemplate="content">
      <div class="card-footer">
        <div class="price-content">
          <div class="price-section">
            <div class="price-info">
              <span class="desde">Desde</span>
              <span class="price">{{ tourData.price | currencyFormat : "EUR" }}</span>
            </div>
            <div class="button-container">
              <div class="trip-type-container">
                <p-tag
                  *ngFor="let type of tourData.tripType"
                  class="trip-type"
                  [styleClass]="getTripTypeClass(type)"
                >
                  {{ getTripTypeLabel(type) }}
                </p-tag>
              </div>
              <p-button
                type="button"
                label="Ver tour"
                class="p-button-rounded buttonVertour"
                [rounded]="true"
                (onClick)="handleTourClick()"
              ></p-button>
            </div>
          </div>
          <ng-container *ngIf="showScalapayPrice">
            <div class="priceScalapay">

              <div class="widget" #widgetContainer>
                <!-- El contenedor visible del precio actual -->
                <span class="amount" style="display: none;">{{ tourData.price }}</span>
                
                <!-- Widget de Scalapay -->
                <scalapay-widget
                  #scalapayWidget
                  channel="travel"
                  type="tour-card"
                  [amount]="tourData.price"
                  show-title="false"
                  frequency-number="30"
                  number-of-installments="4"
                  hide="false"
                  hide-price="false"
                  min="0.01"
                  max="999999"
                  currency-position="before"
                  currency-display="symbol"
                  logo-size="100"
                  locale="es"
                >
                </scalapay-widget>
              </div>
            </div>
          </ng-container>
          <div class="months">
            <p-tag
              *ngFor="let month of tourData.availableMonths"
              class="month"
              severity="info"
            >
              {{ month }}
            </p-tag>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>