<section class="community-section">
  <app-community-hero></app-community-hero>
  <app-community-gallery
    [communityImages]="communityImages"
  ></app-community-gallery>
  <app-community-reviews [reviews]="reviews!"></app-community-reviews>

  <div class="newsletter-section">
    <div class="newsletter-content">
      <h3>
        Únete a la comunidad Different y descubre todas nuestras novedades
      </h3>
      <p>
        Destinos inspiradores, consejos exclusivos y ofertas únicas para tus
        próximas aventuras.
      </p>
      <div class="input-group">
        <input pInputText type="email" placeholder="Escribe tu email" />
        <p-button label="Unirme" styleClass="p-button-rounded"></p-button>
      </div>
    </div>
  </div>
</section>
