<div class="img" (click)="handleTourClick()">
  <img [src]="tourData.imageUrl" [alt]="tourData.title" loading="lazy" />
  <div class="overlay">
    <span class="rating p-button-primary">{{ averageRating }} ★</span>
    <!-- Opcional: Mostrar el conteo de reseñas -->
    <!-- <span class="review-count" *ngIf="reviewCount > 0">({{ reviewCount }})</span> -->
    <span *ngIf="tourData.isByDr" class="tag expandable-tag by-dr-tag">
      <span class="short-text">
        <img
          alt="Different Roads logo"
          src="favicon-different.png"
          class="logo"
          height="5px"
        />
        By DR
      </span>
      <span class="expanded-content">
        <img
          alt="Different Roads logo"
          src="favicon-different.png"
          class="logo"
          height="5px"
        />
        Viaje creado por el equipo de Different Roads
      </span>
    </span>
    <div class="tags-container">
      <span class="tag" *ngIf="tourData.tag">{{ tourData.tag }}</span>
    </div>
    <div class="title-overlay">
      <p>{{ tourData.description }}</p>
      <h3>{{ tourData.title }}</h3>
    </div>
  </div>
</div>
