<app-tour-date-selector
  [title]="title"
  [selectedDate]="selectedDate"
  [tripType]="tripType"
  [dateOptions]="dateOptions"
  [selectedOption]="selectedOption"
  [showPlaceholder]="showPlaceholder"
  [tagsOptions]="tagsOptions"
  (dateChange)="onDateChange($event)"
></app-tour-date-selector>

<div class="itinerary-container">
  <div class="timeline-section">
    <div class="card">
      <p-timeline
        [value]="itinerary"
        align="left"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <!-- Marcador del timeline clickeable con indicador visual de activo -->
          <span
            class="pi pi-map-marker"
            style="padding-top: 1rem; font-size: larger; cursor: pointer"
            [ngClass]="{ 'active-marker': !event.collapsed }"
            [attr.data-index]="itinerary.indexOf(event)"
            (click)="markerClicked($event)"
          ></span>
          <!--  <span
            class="p-timeline-event-marker clickable-marker"
            [ngClass]="{ 'active-marker': !event.collapsed }"
            [style.backgroundColor]="event.color"
            [attr.data-index]="itinerary.indexOf(event)"
            (click)="markerClicked($event)"
          >
          
          </span>
          -->
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-panel
            #itineraryPanel
            [toggleable]="true"
            styleClass="custom-panel"
            [(collapsed)]="event.collapsed"
          >
            <ng-template pTemplate="header">
              <div
                class="panel-header-content"
                [attr.data-index]="itinerary.indexOf(event)"
                (click)="markerClicked($event)"
              >
                <div class="day-info">
                  <h3 class="day-title">{{ event.title }}</h3>
                </div>
                <!--<div class="header-image">
                  <img
                    *ngIf="event.image"
                    [src]="event.image"
                    [alt]="event.title"
                    class="day-thumbnail"
                  />
                </div>-->
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <!-- <h3 class="content-title">{{ event.title }}</h3> -->
              <div class="itinerary-content">
                <div [innerHTML]="event.description"></div>
                <img
                  *ngIf="event.image"
                  [src]="event.image"
                  [alt]="event.title"
                  width="100%"
                  class="img"
                />
              </div>
              <div class="hotel-card" *ngIf="event?.hotel?.name">
                <img
                  [src]="event.hotel.hotelimage?.[0]?.url||''"
                  [alt]="event.hotel.hotelimage?.[0]?.alt || event.hotel.name"
                  class="hotel-card-image"
                />
                <div class="hotel-card-content">
                  <span>
                    <p-rating
                      [ngModel]="event.hotel.category"
                      [readonly]="true"
                      [stars]="5"
                    ></p-rating>
                  </span>
                  <h4 class="hotel-card-name">
                    {{ event.hotel.name }}
                  </h4>
                  <p class="hotel-card-location">
                    <i class="pi pi-map-marker"></i> {{ event.hotel.address }}
                  </p>
                </div>
                <div class="hotel-card-bookings-section">
                  <img
                    src="booking-logo.png"
                    alt="Different Roads Logo"
                    class="logo"
                    height="60px"
                  />
                  <p>8.9</p>
                </div>
              </div>

              <div class="itinerary-activities">
                <p-carousel
                  [value]="event.highlights"
                  [numVisible]="3"
                  [circular]="true"
                  [showNavigators]="false"
                  [responsiveOptions]="responsiveOptions"
                  [showIndicators]="true"
                  [autoplayInterval]="carouselConfig.DEFAULT_AUTOPLAY_INTERVAL"
                >
                  <ng-template let-highlight pTemplate="item">
                    <p-card
                      styleClass="highlight-card"
                      [style]="{
                        'border-radius': '1rem',
                        overflow: 'hidden',
                        border: 'none',
                        boxShadow: 'none'
                      }"
                    >
                      <ng-template pTemplate="header">
                        <img
                          [src]="highlight.image || 'https://picsum.photos/200'"
                          [alt]="highlight.title"
                        />
                        <span
                          class="status-badge"
                          [class.optional]="highlight.optional"
                        >
                          {{ highlight.optional ? "Opcional" : "Incluida" }}
                        </span>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <h3>{{ highlight.title }}</h3>
                        <div
                          [innerHTML]="highlight.description"
                          class="highlight-card-description"
                        ></div>
                      </ng-template>
                      <ng-template
                        pTemplate="footer"
                        *ngIf="highlight.optional"
                      >
                        <p-button
                          (click)="onAddActivity(highlight)"
                          label="{{ highlight.added ? 'Añadida' : 'Añadir' }}"
                          styleClass="p-button-rounded"
                        ></p-button>
                        <div>
                          +{{ highlight.price | currencyFormat : "EUR" }}
                        </div>
                      </ng-template>
                    </p-card>
                  </ng-template>
                </p-carousel>
              </div>
            </ng-template>
          </p-panel>
        </ng-template>
      </p-timeline>
    </div>
  </div>
  <div class="map-section">
    <!-- Map will be added here later -->
    <div class="map-placeholder">
      <p *ngIf="!apiLoaded">Loading map...</p>
      <div class="map-loaded" *ngIf="apiLoaded">
        <google-map
          [center]="center"
          [zoom]="zoom"
          [options]="mapOptions"
          [width]="sizeMapaWidth"
          [height]="sizeMapaHeight"
          [mapTypeId]="mapTypeId"
        >
          <map-marker
            #markerElem
            *ngFor="let marker of markers"
            [position]="marker.position"
            [options]="marker.options"
          >
          </map-marker>
          <map-info-window>Hello Google Maps</map-info-window>
        </google-map>
      </div>
    </div>
  </div>
</div>
