.itinerary-section {
  padding: 2rem 0;

  h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.itinerary-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0.5rem 0;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
  }
}

.itinerary-activities::ng-deep {
  .p-carousel {
    .p-card-body {
      padding: 0px;
    }

    .p-carousel-content {
      padding: 0;
    }

    .highlight-card {
      border: none;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 17rem;

      .p-card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .card-header {
        position: relative;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 12px;
        }

        .status-badge {
          position: absolute;
          top: 1rem;
          right: 1rem;
          background: var(--p-button-primary-color);
          color: var(--background-azul);
          padding: 0.3rem 0.6rem;
          border-radius: 8px;
          font-size: 0.9rem;

          &.optional {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: var(--p-primary-color);
            color: #fff;
            padding: 0.3rem 0.6rem;
            border-radius: 8px;
            font-size: 0.9rem;
          }
        }
      }

      h3 {
        margin: 0.5rem 0;
        color: var(--background-azul);
        font-size: 1.25rem;
      }

      p {
        margin: 0;
        color: var(--background-azul);
        line-height: 1.5;
        font-size: 0.875rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
      }
    }

    .p-carousel-prev,
    .p-carousel-next {
      color: var(--primary-color);
    }
  }
}

.hotel-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 18px;
  border: 1px solid #d9d9d9;
  padding: 10px 20px 10px 10px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    align-items: flex-start;
    padding: 1rem 0;
    text-align: left;

    h4 {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      margin: 0;

      & > i {
        color: var(--p-primary-color);
      }
    }
  }

  &-image {
    //width: 200px;

    //height: 105px;
    width: 40%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 14px;
  }

  &-bookings-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    p {
      display: inline-flex;
      height: 29px;
      width: 29px;
      justify-content: center;
      align-items: center;
      gap: 8.286px;
      flex-shrink: 0;
      border-radius: 3.314px 3.314px 3.314px 0px;
      background: var(--background-azul);
      color: var(--background-azul-color-letra);
      font-size: 11.6px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 12.76px */
    }
  }
}
