<p-toast position="top-right"></p-toast>

<app-tour-date-selector
  [title]="title"
  [selectedDate]="selectedDate"
  [tripType]="tripType"
  [dateOptions]="dateOptions"
  [selectedOption]="selectedOption"
  [showPlaceholder]="showPlaceholder"
  [tagsOptions]="tagsOptions"
  (dateChange)="onDateChange($event)"
></app-tour-date-selector>

<div class="itinerary-container">
  <div class="timeline-section">
    <div class="card">
      <p-timeline
        [value]="itinerary"
        align="left"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <!-- Marcador del timeline clickeable con indicador visual de activo -->
          <span
            class="pi pi-map-marker"
            style="padding-top: 1rem; font-size: larger; cursor: pointer"
            [ngClass]="{ 'active-marker': !event.collapsed }"
            [attr.data-index]="itinerary.indexOf(event)"
            (click)="markerClicked($event)"
          ></span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-panel
            #itineraryPanel
            [toggleable]="true"
            styleClass="custom-panel"
            [(collapsed)]="event.collapsed"
          >
            <ng-template pTemplate="header">
              <div
                class="panel-header-content"
                [attr.data-index]="itinerary.indexOf(event)"
                (click)="markerClicked($event)"
              >
                <div class="day-info">
                  <h3 class="day-title">{{ event.title }}</h3>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="itinerary-content">
                <div [innerHTML]="event.description"></div>
                <img
                  *ngIf="event.image"
                  [src]="event.image"
                  [alt]="event.title"
                  width="100%"
                  class="img"
                />
              </div>

              <app-hotel-card
                [hotel]="event.hotel"
                [bookingScore]="8.9"
                [bookingLogoSrc]="'booking-logo.png'"
              ></app-hotel-card>

              <app-activities-carousel
                [highlights]="event.highlights"
                (addActivity)="onAddActivity($event)"
              ></app-activities-carousel>
            </ng-template>
          </p-panel>
        </ng-template>
      </p-timeline>
    </div>
  </div>
  <div class="map-section">
    <!-- Usar el nuevo componente de mapa -->
    <app-tour-map [cities]="cities" [citiesData]="citiesData"></app-tour-map>
  </div>
</div>
