.community-hero {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 3rem;
      font-weight: 600;
      color: var(--background-azul-color-letra);
    }

    .google-rating {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      img {
        height: 24px;
      }

      .rating {
        font-weight: 600;
        color: var(--text-color);
      }
    }
  }

  .featured-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;

    .featured-images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-around;

      ::ng-deep .featured-image {
        //flex: 0 0 calc(50% - 0.5rem);

        img {
          object-fit: cover;
          border-radius: 1rem;
        }

        p-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .featured-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    color: var(--background-azul-color-letra);
  }
}
