<div class="community-hero">
  <div class="header">
    <h2>{{ data.title }}</h2>
    <div class="google-rating">
      <img src="google_icon-icons.svg" alt="Google" />
      <span class="rating">{{ data.googleRating }}</span>
      <p-rating
        [ngModel]="data.googleRating"
        [readonly]="true"
        [stars]="5"
      ></p-rating>
    </div>
  </div>

  <div class="featured-content">
    <div class="featured-images">
      <p-image
        *ngFor="let image of data.featured.images"
        [src]="image"
        [alt]="'Featured image'"
        [preview]="true"
        class="featured-image"
      >
      </p-image>
    </div>
    <div class="featured-text">
      <div [innerHTML]="data.featured.content"></div>
    </div>
  </div>
</div>
