@use "sass:math";

.community-hero {
  --rating-background: var(--p-content-background);
  --rating-text: #6a6a6a;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --spacing-sm: 1rem;
  --spacing-md: 1rem;

  @media screen and (min-width: 2560px) {
    --spacing-sm: 1.5rem;
    --spacing-md: 2rem;
    --border-radius-sm: 12px;
    --border-radius-md: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-md);
    margin-top: -50px;

    @media screen and (max-width: 1024px) {
      h2 {
        font-size: clamp(1.3rem, 3.5vw, 2rem);
        text-align: left;
      }
      gap: 1rem;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 1024px) and (min-width: 769px) {
      gap: 1rem;
      margin-top: -20px;
    }

    h2 {
      font-size: clamp(2rem, 5vw, 3rem);
      font-weight: 600;
      color: var(--background-azul-color-letra);

      @media screen and (min-width: 2560px) {
        font-size: clamp(3rem, 4vw, 4.5rem);
      }

      @media screen and (max-width: 1024px) {
        font-size: clamp(1.3rem, 3.5vw, 2rem);
        line-height: 1.2;
      }

      @media screen and (max-width: 768px) {
        font-size: clamp(1.6rem, 4.5vw, 2.2rem);
        text-align: center;
        width: 100%;
        margin-bottom: 0.3rem;
        margin-top: 40px;
      }
    }

    .google-rating-container {
      width: 247px;
      height: 94px;
      background: var(--rating-background);
      border-radius: var(--border-radius-md);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 2560px) {
        width: 370px;
        height: 141px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      }

      @media screen and (max-width: 1024px) {
        height: 75px;
      }

      @media screen and (max-width: 768px) {
        height: 70px;
        margin-top: 0;
      }

      .content {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media screen and (min-width: 2560px) {
          padding: 15px 25px;
          gap: 15px;
        }

        @media screen and (max-width: 768px) {
          padding: 8px 16px;
          gap: 8px;
        }

        .svg-wrapper {
          position: relative;

          @media screen and (min-width: 2560px) {
            transform: scale(1.5);
          }

          @media screen and (max-width: 768px) {
            transform: scale(0.8);
          }
        }

        .text-content {
          display: flex;
          align-items: flex-end;
          gap: 19px;

          @media screen and (min-width: 2560px) {
            gap: 28px;
          }

          @media screen and (max-width: 768px) {
            gap: 10px;
          }

          .text-block {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media screen and (min-width: 2560px) {
              gap: 8px;
            }

            @media screen and (max-width: 768px) {
              gap: 3px;
            }

            .rating-label {
              color: var(--rating-text);
              font-size: 11.5px;
              font-family: "Plus Jakarta Sans", sans-serif;
              font-weight: 700;

              @media screen and (min-width: 2560px) {
                font-size: 17px;
              }

              @media screen and (max-width: 768px) {
                font-size: 10px;
              }
            }

            .rating-value {
              display: flex;
              align-items: center;
              gap: 10px;

              @media screen and (min-width: 2560px) {
                gap: 15px;
              }

              @media screen and (max-width: 768px) {
                gap: 6px;
              }

              .value {
                font-size: 25px;
                font-family: "Plus Jakarta Sans", sans-serif;
                font-weight: 800;

                @media screen and (min-width: 2560px) {
                  font-size: 38px;
                }

                @media screen and (max-width: 768px) {
                  font-size: 20px;
                }
              }

              .rating-stars {
                display: flex;
                align-items: center;

                @media screen and (min-width: 2560px) {
                  transform: scale(1.5);
                  transform-origin: left center;
                }

                @media screen and (max-width: 768px) {
                  transform: scale(0.8);
                  transform-origin: left center;
                }
              }
            }
          }
        }
      }
    }
  }

  .featured-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-md);
    margin: var(--spacing-md) 0;
    align-items: end;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
      align-items: stretch;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: var(--spacing-sm);
      margin: var(--spacing-sm) 0;
      padding: 0;
      align-items: start;
    }

    @media screen and (min-width: 2560px) {
      gap: calc(var(--spacing-md) * 1.5);
      margin: calc(var(--spacing-md) * 1.5) 0;
    }

    .featured-images {
      grid-column: span 3;
      display: flex;
      height: 100%;

      @media screen and (max-width: 768px) {
        grid-column: span 12;
        margin-bottom: 0.3rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-sm);
        aspect-ratio: 1/1;
      }
    }

    .featured-text {
      grid-column: span 6;
      align-self: end;
      max-height: 100%;
      overflow: hidden;
      padding: 0 var(--spacing-md);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 0.5rem;
      color: var(--background-azul-color-letra);

      @media screen and (max-width: 1024px) {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none;
      }

      @media screen and (max-width: 768px) {
        grid-column: span 12;
        padding: 0 0.6rem 0 0.3rem;
        align-self: start;
        text-align: left;
      }

      @media screen and (min-width: 2560px) {
        font-size: 1.5rem;

        h2,
        h3 {
          font-size: 2.5rem;
        }

        h4,
        h5,
        h6 {
          font-size: 2rem;
        }

        p,
        li,
        span {
          font-size: 1.5rem;
          line-height: 1.6;
        }
      }

      .content {
        @media screen and (min-width: 2560px) {
          font-size: 2.5rem !important;

          p,
          li,
          span {
            line-height: 1.3;
          }
        }
      }

      p {
        margin: 0.2rem 0;
        line-height: 1.2;

        @media screen and (max-width: 1024px) {
          margin: 0.1rem 0;
          line-height: 1.1;
        }
      }
    }
  }
}
