<div class="tour-overview">
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home' }"
    styleClass="destinations-breadcrumb"
  ></p-breadcrumb>

  <div class="tour-content">
    <div class="tour-image">
      <p-image
        [src]="tour?.image?.[0]?.url"
        [alt]="tour?.image?.[0]?.alt"
        [preview]="true"
      ></p-image>

      <div class="tour-content-image-tags">
        <div
          *ngFor="let tag of tour?.vtags; let i = index"
          class="tag is-rounded p-16"
        >
          {{ tag }}
        </div>
      </div>
    </div>
    <div class="tour-details">
      <div class="overview-header">
        <h2>{{ tour?.subtitle || '' }}</h2>

        <div class="tour-content-countries-section">
          <div
            *ngFor="let country of tour?.cities; let i = index"
            class="tag is-ghost"
          >
            <i class="pi pi-map-marker"></i>
            {{ country }}
          </div>
        </div>
      </div>

      <div class="formated-content">
        <div
          class="tour-content-highlights"
          [innerHTML]="sanitizeHtml(tour?.description || '')"
        ></div>
      </div>

      <div class="expert-section">
        <div class="expert-info">
          <p-avatar
            [image]="tour?.expert?.ephoto?.[0]?.url"
            shape="circle"
            size="large"
            [style]="{ width: '64px', height: '64px' }"
          ></p-avatar>
          <div class="expert-details">
            <h4>{{ tour?.expert?.name || '' }}</h4>
            <span class="expert-role">{{ tour?.expert?.charge || '' }}</span>
          </div>
        </div>
        <div class="expert-opinion">
          <p-message
            severity="info"
            [styleClass]="'custom-message'"
            [innerHTML]="sanitizeHtml(tour?.expert?.opinion || '')"
          >
          </p-message>
        </div>
      </div>
    </div>
  </div>
</div>
