.publicity {
  padding: 4rem 2rem;
  background-color: var(--background-azul);
  color: var(--background-azul-color-letra);
  --p-panel-background: var(--background-azul);
  --p-panel-color: var(--background-azul-color-letra);
  --p-panel-header-color: var(--background-azul-color-letra);

  @media (min-width: 768px) {
    padding: 8rem 6rem;
  }
}

.publicity-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &-title {
    color: var(--p-primary-color);
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &-subtitle {
    border: solid 1px var(--background-azul-color-letra);
    padding: 0.3rem 2.5rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    text-align: center;

    @media (max-width: 480px) {
      padding: 0.2rem 1.5rem;
      font-size: 0.9rem;
    }
  }

  &-description {
    font-size: 1.25rem;
    text-align: center;
    max-width: 800px;

    @media (max-width: 768px) {
      font-size: 1.1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}

.publicity-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.panel-header {
  text-align: center;
  margin: 0;
  font-weight: normal;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-content {
  margin: 0;
  min-height: 5rem;
}
