.publicity {
  padding: 8rem 6rem;
  background-color: var(--background-azul);
  color: var(--background-azul-color-letra);

  &-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      color: var(--p-primary-color);
      text-align: center;
      font-size: 2.5rem;
    }

    &-subtitle {
      border: solid 1px white;
      padding: 0.3rem 2.5rem;
      border-radius: 5rem;
    }

    &-description {
      font-size: 1.25rem;
      text-align: center;
    }
  }

  &-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.625rem;
    max-width: 45rem;
    margin: 2rem auto;

    @media (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-item {
      position: relative;
      border: 0.0625rem solid var(--accent-white);
      color: var(--accent-white);
      cursor: pointer;
      border-radius: 0.375rem;
      padding: 0.875rem;
      height: fit-content;
      transition: background-color 0.3s ease, color 0.3s ease;

      &.active-item {
        background-color: var(--accent-white);
        color: var(--background-azul);

        .publicity-grid-item-more {
          opacity: 1;
        }

        .publicity-grid-item-description {
          opacity: 1;
          max-height: 500px;
          /* Ajusta este valor según el contenido */
        }
      }

      &-wrap {
        display: flex;
        margin-right: auto;
        flex-direction: column;
      }

      &-name {
        text-align: left;
        font-size: 1.5rem;
        width: 100%;
      }

      &-description {
        font-size: 1rem;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
      }

      &-more {
        font-size: 0.75rem;
        display: inline-flex;
        margin-right: auto;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {
        background-color: var(--accent-white);
        color: var(--background-azul);

        .publicity-grid-item-more {
          opacity: 1;
        }

        .publicity-grid-item-description {
          opacity: 1;
          max-height: 500px;
        }
      }
    }
  }
}
