<!-- Encabezado del panel -->
<div class="traveler-header">
  <p-panel class="user-button">
    <i class="pi pi-user"></i>
    <p class="user">{{ traveler.ageGroup.slice(0, -1) }}</p>
  </p-panel>
  <p class="user-description">
    <i class="pi pi-exclamation-circle info-icon"></i>
    Introduce el nombre y el apellido tal y como aparecen en el documento de identificación. 
    <strong>Los campos marcados con * son obligatorios.</strong>
    {{
      allFieldsMandatory
        ? "Todos los campos son necesarios para vuelos seleccionados."
        : ""
    }}
  </p>
</div>

<!-- Formulario del viajero -->
<form [formGroup]="form" class="traveler-form">
  <!-- Campos OBLIGATORIOS visibles siempre -->
  <div class="form-section mandatory-fields">
    <div class="form-row">
      <!-- Nombre y Apellido siempre son obligatorios -->
      <div class="form-column form-field half-width">
        <label>Nombre*</label>
        <input
          pInputText
          name="name"
          placeholder="Introduce tu nombre"
          formControlName="firstName"
        />
      </div>
      <div class="form-column form-field half-width">
        <label>Apellido*</label>
        <input
          pInputText
          name="surname"
          placeholder="Introduce Apellido"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="form-row">
      <!-- Email siempre es obligatorio -->
      <div class="form-column form-field half-width">
        <label>Email*</label>
        <input
          pInputText
          type="email"
          name="email"
          formControlName="email"
          placeholder="Introduce tu email"
        />
      </div>
      
      <!-- Campos obligatorios según shouldShowInMandatorySection -->
      <!-- Sexo -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('sexo') && shouldShowInMandatorySection('sexo')">
        <label>Sexo*</label>
        <p-select
          formControlName="sexo"
          [options]="sexoOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
        ></p-select>
      </div>
      
      <!-- DNI -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('dni') && shouldShowInMandatorySection('dni')">
        <label>DNI*</label>
        <input
          pInputText
          formControlName="dni"
          placeholder="Introduce tu DNI"
        />
      </div>
      
      <!-- Teléfono -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('phone') && shouldShowInMandatorySection('phone')">
        <label>Teléfono*</label>
        <input
          pInputText
          formControlName="phone"
          name="phone"
          placeholder="Introduce tu teléfono"
        />
      </div>
      
      <!-- Pasaporte -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('passport') && shouldShowInMandatorySection('passport')">
        <label>Pasaporte*</label>
        <input
          pInputText
          formControlName="passport"
          name="passport"
          placeholder="Introduce tu pasaporte"
        />
      </div>
      
      <!-- Fechas de pasaporte -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('passportExpirationDate') && shouldShowInMandatorySection('passportExpirationDate')">
        <label>Fecha de expiración pasaporte*</label>
        <p-datepicker
          formControlName="passportExpirationDate"
          [dateFormat]="dateFormat"
          showIcon
          appendTo="body"
        ></p-datepicker>
      </div>

      <div class="form-column form-field half-width" *ngIf="shouldShowField('passportIssueDate') && shouldShowInMandatorySection('passportIssueDate')">
        <label>Fecha de emisión pasaporte*</label>
        <p-datepicker
          formControlName="passportIssueDate"
          [dateFormat]="dateFormat"
          showIcon
          appendTo="body"
        ></p-datepicker>
      </div>

      <!-- Asociar reserva del menor -->
      <div class="form-column form-field half-width" *ngIf="traveler.ageGroup === 'Niños' && shouldShowInMandatorySection('associatedAdult')">
        <label>Asociar reserva del menor a*</label>
        <p-select
          formControlName="associatedAdult"
          [options]="getAdultsOptions()"
          placeholder="Seleccione"
          appendTo="body"
        ></p-select>
      </div>
    </div>
  </div>

  <!-- Botón Ver más / Ver menos -->
  <div class="form-row">
    <div class="form-column">
      <button
        pButton
        type="button"
        [label]="showMoreFields ? 'Ver menos' : 'Ver más'"
        [icon]="showMoreFields ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
        (click)="toggleMoreFields()"
        class="p-button-text p-button-sm show-more-button"
      ></button>
    </div>
  </div>
  
  <!-- Mensaje debajo del botón Ver más / Ver menos con clases independientes -->
  <div class="datos-adicionales-info">
    <p class="mensaje-info">
      <i class="pi pi-exclamation-circle icono-info"></i>
      Completa tus datos pendientes antes de tu viaje. 
      <strong>Puedes rellenarlos más tarde desde tu perfil.</strong>
    </p>
  </div>

  <!-- Campos NO obligatorios visibles al hacer Ver más -->
  <div class="additional-fields" *ngIf="showMoreFields">
    <div class="form-row">
      <!-- Fecha de nacimiento siempre en "Ver más" -->
      <div class="form-column form-field half-width">
        <label>Fecha de nacimiento</label>
        <p-datepicker
          formControlName="birthdate"
          [dateFormat]="dateFormat"
          showIcon
          appendTo="body"
        ></p-datepicker>
      </div>

      <!-- Nacionalidad siempre en "Ver más" -->
      <div class="form-column form-field half-width"  *ngIf="shouldShowField('sexo') && shouldShowInOptionalSection('nationality')">
        <label>Nacionalidad</label>
        <p-autocomplete
          formControlName="nationality"
          [suggestions]="filteredCountries"
          (completeMethod)="filterCountries($event)"
          (onSelect)="onCountrySelect($event)"
          [optionValue]="'code'"
          field="name"
          placeholder="Introduce tu nacionalidad"
          appendTo="body"
          [dropdown]="true"
        ></p-autocomplete>
      </div>
      
      <!-- Campos opcionales según shouldShowInOptionalSection -->
      <!-- Sexo -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('sexo') && shouldShowInOptionalSection('sexo')">
        <label>Sexo</label>
        <p-select
          formControlName="sexo"
          [options]="sexoOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
        ></p-select>
      </div>
      
      <!-- DNI -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('dni') && shouldShowInOptionalSection('dni')">
        <label>DNI</label>
        <input
          pInputText
          formControlName="dni"
          placeholder="Introduce tu DNI"
        />
      </div>
      
      <!-- Teléfono -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('phone') && shouldShowInOptionalSection('phone')">
        <label>Teléfono</label>
        <input
          pInputText
          formControlName="phone"
          name="phone"
          placeholder="Introduce tu teléfono"
        />
      </div>
      
      <!-- Pasaporte -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('passport') && shouldShowInOptionalSection('passport')">
        <label>Pasaporte</label>
        <input
          pInputText
          name="passport"
          formControlName="passport"
          placeholder="Introduce tu pasaporte"
        />
      </div>
      
      <!-- Fechas de pasaporte -->
      <div class="form-column form-field half-width" *ngIf="shouldShowField('passportExpirationDate') && shouldShowInOptionalSection('passportExpirationDate')">
        <label>Fecha de expiración pasaporte</label>
        <p-datepicker
          formControlName="passportExpirationDate"
          [dateFormat]="dateFormat"
          showIcon
          appendTo="body"
        ></p-datepicker>
      </div>

      <div class="form-column form-field half-width" *ngIf="shouldShowField('passportIssueDate') && shouldShowInOptionalSection('passportIssueDate')">
        <label>Fecha de emisión pasaporte</label>
        <p-datepicker
          formControlName="passportIssueDate"
          [dateFormat]="dateFormat"
          showIcon
          appendTo="body"
        ></p-datepicker>
      </div>
      
      <!-- Asociar reserva del menor -->
      <div class="form-column form-field half-width" *ngIf="traveler.ageGroup === 'Niños' && shouldShowInOptionalSection('associatedAdult')">
        <label>Asociar reserva del menor a</label>
        <p-select
          formControlName="associatedAdult"
          [options]="getAdultsOptions()"
          placeholder="Seleccione"
          appendTo="body"
        ></p-select>
      </div>
    </div>
  </div>

  <app-traveler-activity-selector *ngIf="travelerId" [travelerId]="travelerId">
  </app-traveler-activity-selector>
</form>