:host {
  display: block;
  width: 100%;
}

.user {
  display: inline-block;
  margin: 0;
  margin-left: 14px;
  padding: 0px;
}

.user-description {
  font-size: 12px;
}

.traveler-form {
  margin-top: 20px;
  width: 100%;

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      flex-direction: column;

      .form-column {
        margin-right: 0;
      }
    }

    .form-column {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .form-field {
        margin-bottom: 10px;
        font-size: 14px;

        label {
          display: block;
          margin-bottom: 5px;
          color: var(--background-azul);
        }

        input,
        p-autocomplete,
        p-calendar {
          width: 100%;
        }

        &.half-width {
          flex: 1;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          @media (max-width: 768px) {
            flex: 1 1 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
}

::ng-deep {
  .form-field {
    margin-bottom: 10px;

    label {
      display: block;
      color: var(--background-azul);
    }

    .p-inputtext,
    .p-dropdown,
    .p-calendar,
    .p-autocomplete,
    .p-inputmask {
      width: 100%;
      border: none;
      border-bottom: 1px solid var(--background-azul);
      border-radius: 0;
      background: #f7f6f200;
      font-size: 14px;
    }

    .p-datepicker {
      width: 100%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .p-select {
      cursor: pointer;
      border: none;
      border-bottom: 1px solid var(--background-azul);
      border-radius: 0px;
      width: 100%;
    }

    .p-select-dropdown {
      color: var(--background-azul);
    }
  }

  .p-panel .p-panel-content {
    padding: 10px;
    border: 1px solid #d1c1c1;
    border-radius: 9px;
    width: auto;
    display: inline-block;
  }

  .p-panel .p-panel-header {
    padding: 0;
  }
}