<div class="flights">
  <div class="step">
    <div class="step-title">Elige tus vuelos</div>
    <div class="step-description">Vuelos disponibles</div>
  </div>

  <!-- Agregar componente de búsqueda -->
  <app-flight-search 
    [flights]="flights" 
    (filteredFlightsChange)="onFilteredFlightsChange($event)">
  </app-flight-search>

  <div *ngFor="let flight of filteredFlights">
    <app-flight-itinerary
      [flight]="flight"
      [selectFlight]="selectFlight.bind(this)"
      [isFlightSelected]="isFlightSelected.bind(this)"
    >
    </app-flight-itinerary>
  </div>
</div>