<div class="flights">
  <div class="step">
    <div class="step-title">Elige tus vuelos</div>
    <div class="step-description">Vuelos disponibles</div>
  </div>

  <!-- Display original flights -->
  <div *ngFor="let flight of filteredFlights">
    <app-flight-itinerary
      [flight]="flight"
      [selectFlight]="selectFlight.bind(this)"
      [isFlightSelected]="isFlightSelected.bind(this)"
    >
    </app-flight-itinerary>
  </div>

  <!-- Add the button to toggle flight search -->
  <div class="flight-search-toggle">
    <p-button
      label="Ver otras opciones de vuelos"
      styleClass="p-button-outlined p-button-secondary"
      (click)="toggleFlightSearch()"
      [icon]="showFlightSearch ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
      iconPos="right"
    >
    </p-button>
  </div>

  <!-- Conditionally display flight search -->
  <div *ngIf="showFlightSearch">
    <app-flight-search
      [flights]="flights"
      (filteredFlightsChange)="onFilteredFlightsChange($event)"
    >
    </app-flight-search>
  </div>
</div>
