<div class="map-placeholder">
  <p *ngIf="!apiLoaded" class="loading-message">Cargando mapa...</p>
  <div class="map-loaded" *ngIf="apiLoaded">
    <google-map
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions"
      [width]="sizeMapaWidth"
      [height]="sizeMapaHeight"
      [mapTypeId]="mapTypeId"
      [mapId]="mapId"
    >
      <!-- Usar trackBy para optimizar el renderizado de marcadores -->
      <map-advanced-marker
        #markerElem
        *ngFor="let marker of markers; trackBy: trackByPosition"
        [position]="marker.position"
        [title]="marker.title || ''"
        [options]="marker.options"
      >
      </map-advanced-marker>
      
      <!-- <map-polyline
        *ngIf="polylinePath.length > 1"
        [path]="polylinePath"
        [options]="polylineOptions"
      ></map-polyline> -->
      
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
  </div>
</div>