@use "sass:map";

// Variables
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1366px,
);

$border-radius: (
  sm: 8px,
  md: 14px,
  lg: 18px,
);

// Mixins
@mixin resp($bp) {
  @media (max-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

.map-placeholder {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: map.get($border-radius, lg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .map-loaded {
    width: 100%;
    height: 100%;
  }
}