// Variables
$desktop-padding: 4rem;
$tablet-padding: 3rem 1.5rem;
$mobile-padding: 2rem 1rem;

$title-desktop-size: 2rem;
$title-tablet-size: 1.75rem;
$title-mobile-size: 1.25rem;

// Breakpoints
$breakpoint-large: 1366px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;

.tours-section {
    padding: $desktop-padding;

    .title {
        color: var(--background-azul);
        font-weight: 400;
        margin-top: -10px;
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: $title-desktop-size;
    }

    .buttonVertour {
        width: 7rem;
    }

    // Media queries
    @media screen and (max-width: $breakpoint-large) {
        padding: $desktop-padding 1.2rem;
    }

    @media screen and (max-width: $breakpoint-medium) {
        padding: $tablet-padding;

        h2 {
            font-size: $title-tablet-size;
        }

        .buttonVertour {
            width: 6rem;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        padding: $mobile-padding;
        margin-top: 20px;

        h2 {
            font-size: $title-mobile-size;
            margin-bottom: 1.5rem;
        }

        .buttonVertour {
            width: auto !important;
            min-width: 6rem;
            height: 2.5rem;
            margin-top: 35px;
            font-size: 0.9rem;
        }
    }
}
