<div class="flights-container">
    <p-panel header="Vuelos">
      <div class="flights-content">
        <!-- IDA -->
        <div class="flight-direction">
          <div class="direction-header">
            <div class="direction-title">IDA</div>
            <div class="direction-line"></div>
            <div class="direction-date">{{flightsData.outbound.date}}</div>
          </div>
          
          <div class="stops-info">
            <i class="pi pi-info-circle"></i>
            <span>{{flightsData.outbound.stops}} escala</span>
          </div>
          
          <!-- Primer segmento IDA -->
          <div class="flight-segment">
            <div class="segment-time departure">
              <div class="time">
                <i class="pi pi-arrow-up flight-icon departure"></i>
                {{flightsData.outbound.segments[0].departureTime}}
              </div>
              <div class="airport">{{flightsData.outbound.segments[0].departureAirport}} ({{flightsData.outbound.segments[0].departureCode}})</div>
            </div>
            
            <div class="segment-connector">
              <i class="pi pi-send flight-path-icon"></i>
            </div>
            
            <div class="segment-time arrival">
              <div class="time">
                {{flightsData.outbound.segments[0].arrivalTime}}
                <i class="pi pi-arrow-down flight-icon arrival"></i>
              </div>
              <div class="airport">{{flightsData.outbound.segments[0].arrivalAirport}} ({{flightsData.outbound.segments[0].arrivalCode}})</div>
            </div>
          </div>
          
          <!-- Segundo segmento IDA -->
          <div class="flight-segment second-segment">
            <div class="segment-time departure">
              <div class="time">
                <i class="pi pi-arrow-up flight-icon departure"></i>
                {{flightsData.outbound.segments[1].departureTime}}
              </div>
              <div class="airport">{{flightsData.outbound.segments[1].departureAirport}} ({{flightsData.outbound.segments[1].departureCode}})</div>
            </div>
            
            <div class="segment-connector">
              <i class="pi pi-send flight-path-icon"></i>
            </div>
            
            <div class="segment-time arrival">
              <div class="time">
                {{flightsData.outbound.segments[1].arrivalTime}}
                <i class="pi pi-arrow-down flight-icon arrival"></i>
              </div>
              <div class="airport">{{flightsData.outbound.segments[1].arrivalAirport}} ({{flightsData.outbound.segments[1].arrivalCode}})</div>
            </div>
          </div>
        </div>
        
        <!-- VUELTA -->
        <div class="flight-direction">
          <div class="direction-header">
            <div class="direction-title">VUELTA</div>
            <div class="direction-line"></div>
            <div class="direction-date">{{flightsData.inbound.date}}</div>
          </div>
          
          <div class="stops-info">
            <i class="pi pi-info-circle"></i>
            <span>{{flightsData.inbound.stops}} escala</span>
          </div>
          
          <!-- Primer segmento VUELTA -->
          <div class="flight-segment">
            <div class="segment-time departure">
              <div class="time">
                <i class="pi pi-arrow-up flight-icon departure"></i>
                {{flightsData.inbound.segments[0].departureTime}}
              </div>
              <div class="airport">{{flightsData.inbound.segments[0].departureAirport}} ({{flightsData.inbound.segments[0].departureCode}})</div>
            </div>
            
            <div class="segment-connector">
              <i class="pi pi-send flight-path-icon"></i>
            </div>
            
            <div class="segment-time arrival">
              <div class="time">
                {{flightsData.inbound.segments[0].arrivalTime}}
                <i class="pi pi-arrow-down flight-icon arrival"></i>
              </div>
              <div class="airport">{{flightsData.inbound.segments[0].arrivalAirport}} ({{flightsData.inbound.segments[0].arrivalCode}})</div>
            </div>
          </div>
          
          <!-- Segundo segmento VUELTA -->
          <div class="flight-segment second-segment">
            <div class="segment-time departure">
              <div class="time">
                <i class="pi pi-arrow-up flight-icon departure"></i>
                {{flightsData.inbound.segments[1].departureTime}}
              </div>
              <div class="airport">{{flightsData.inbound.segments[1].departureAirport}} ({{flightsData.inbound.segments[1].departureCode}})</div>
            </div>
            
            <div class="segment-connector">
              <i class="pi pi-send flight-path-icon"></i>
            </div>
            
            <div class="segment-time arrival">
              <div class="time">
                {{flightsData.inbound.segments[1].arrivalTime}}
                <i class="pi pi-arrow-down flight-icon arrival"></i>
              </div>
              <div class="airport">{{flightsData.inbound.segments[1].arrivalAirport}} ({{flightsData.inbound.segments[1].arrivalCode}})</div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>