<section class="hero-section">
  <ng-container *ngIf="bannerSection; else loadingState">
    <ng-container *ngIf="!bannerSection.bType; else videoContent">
      <ng-container *ngFor="let image of bannerSection['banner-image']">
        <img
          [src]="image.url"
          [alt]="image.alt || ''"
          class="background-video"
        />
      </ng-container>
    </ng-container>
    <ng-template #videoContent>
      <video
        *ngIf="bannerSection['banner-video']"
        class="background-video"
        autoplay
        loop
        muted
      >
        <source [src]="bannerSection['banner-video']" type="video/mp4" />
      </video>
    </ng-template>
  </ng-container>

  <ng-template #loadingState>
    <div class="spinner-container">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
  <div class="search-container">
    <div class="search-form">
      <p-iftalabel>
        <input
          pInputText
          id="destionationInput"
          autocomplete="off"
          placeholder="Pais, ciudad, Ofertas, destinos, todo lo que se te ocurra..."
          class="input-text"
        />
        <label for="destionationInput" class="float-label"
          >¿Cuál es tu próximo destino?</label
        >
      </p-iftalabel>

      <p-iftaLabel>
        <p-datepicker
          [(ngModel)]="departureDate"
          [showIcon]="false"
          id="departureDateInput"
          fluid="true"
          placeholder="DD/MM/AAAA"
        >
        </p-datepicker>
        <label for="departureDateInput" class="float-label">Ida</label>
      </p-iftaLabel>

      <p-iftaLabel>
        <p-datepicker
          [(ngModel)]="returnDate"
          [showIcon]="false"
          id="returnDateInput"
          fluid="true"
          placeholder="DD/MM/AAAA"
        >
        </p-datepicker>
        <label for="returnDateInput" class="float-label">Vuelta</label>
      </p-iftaLabel>

      <p-iftaLabel>
        <p-autoComplete
          [suggestions]="filteredTripTypes"
          (completeMethod)="filterTripTypes($event)"
          [dropdown]="true"
          [(ngModel)]="selectedTripType"
          id="tripTypeInput"
          placeholder="Seleccionar tipo"
        >
        </p-autoComplete>
        <label for="tripTypeInput" class="float-label">Tipo de viaje</label>
      </p-iftaLabel>

      <p-button
        type="button"
        icon="pi pi-search"
        fluid="true"
        (click)="searchTrips()"
      ></p-button>
    </div>
  </div>
</section>
