<section class="hero-section">
  <ng-container *ngIf="!bannerSection.bType; else videoContent">
    <ng-container *ngFor="let image of bannerSection['banner-image']">
      <img [src]="image.url" [alt]="image.alt || ''" class="background-video" />
    </ng-container>
  </ng-container>
  <ng-template #videoContent>
    <video
      *ngIf="bannerSection['banner-video']"
      class="background-video"
      autoplay
      loop
      muted
    >
      <source [src]="bannerSection['banner-video']" type="video/mp4" />
    </video>
  </ng-template>
  <div class="search-container">
    <div class="search-form">
      <p-floatlabel variant="on">
        <p-autoComplete
          [suggestions]="filteredDestinations"
          (completeMethod)="filterDestinations($event)"
          [dropdown]="true"
          [(ngModel)]="selectedDestination"
          id="destinationInput"
        >
        </p-autoComplete>
        <label for="destinationInput">¿Donde quieres ir?</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-datepicker
          [(ngModel)]="departureDate"
          [showIcon]="true"
          id="departureDateInput"
          fluid="true"
        >
        </p-datepicker>
        <label for="departureDateInput">Ida</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-datepicker
          [(ngModel)]="returnDate"
          [showIcon]="true"
          id="returnDateInput"
          fluid="true"
        >
        </p-datepicker>
        <label for="returnDateInput">Vuelta</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-autoComplete
          [suggestions]="filteredTripTypes"
          (completeMethod)="filterTripTypes($event)"
          [dropdown]="true"
          [(ngModel)]="selectedTripType"
          id="tripTypeInput"
        >
        </p-autoComplete>
        <label for="tripTypeInput">Tipo de viaje</label>
      </p-floatlabel>

      <p-button
        type="button"
        label="Buscar"
        icon="pi pi-search"
        [rounded]="true"
        fluid="true"
      ></p-button>
    </div>
  </div>
</section>
