.hero-section {
  height: 65vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
  }

  .search-container {
    position: relative;
    z-index: 1;
    padding: 2rem;
    width: 80%;
    max-width: 1200px;

    .search-form {
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;

      .flex-30 {
        flex: 20%;
        min-width: 15rem;
        @media screen and (max-width: 400px) {
          min-width: 7rem;
        }
      }

      .flex-20 {
        flex: 16%;
        min-width: 13rem;
        @media screen and (max-width: 400px) {
          min-width: 7rem;
        }
      }

      .flex-10 {
        flex: 8%;
        min-width: 11rem;
        @media screen and (max-width: 400px) {
          min-width: 7rem;
        }
      }

      div p-iftaLabel {
        border: none;
      }

      div p-floatlabel {
        flex: 1;
        display: flex;
        min-width: 200px;
        height: 50px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;

        .input-text {
          border: none;
          font-size: 16px;
          width: 270px;
        }

        p-autoComplete,
        p-datepicker {
          border: none;
          flex: 1;
          width: 100%;

          ::ng-deep .p-autocomplete,
          ::ng-deep .p-calendar {
            width: 100%;
          }
        }
      }
    }
  }

  ::ng-deep .p-inputtext {
    border: transparent;
    font-size: 16px;
  }

  ::ng-deep .p-autocomplete-dropdown {
    background-color: var(--background-azul-color-letra);
    border: none;
  }

  ::ng-deep .button-search {
    border-radius: 3rem;
    height: 3.125rem;
    width: 7rem;
  }

  .float-label {
    color: var(--background-azul);
    font-weight: 500;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
