<section class="hero-section">
  <video class="background-video" autoplay muted loop playsinline>
    <source
      src="https://d2sk3o7yhm4ek9.cloudfront.net/public/main-banner/desktop/fdb7592e-79e7-41bf-b1dd-36db39611353/different_roads_2025_tours_organizados_video_home.mp4"
      type="video/mp4"
    />
  </video>
  <div class="search-container">
    <div class="search-form">
      <p-autoComplete
        [suggestions]="filteredDestinations"
        (completeMethod)="filterDestinations($event)"
        placeholder="¿Donde quieres ir?"
        [dropdown]="true"
        [(ngModel)]="selectedDestination"
      >
      </p-autoComplete>

      <p-datepicker
        [(ngModel)]="departureDate"
        placeholder="Ida"
        [showIcon]="true"
      >
      </p-datepicker>

      <p-datepicker
        [(ngModel)]="returnDate"
        placeholder="Vuelta"
        [showIcon]="true"
      >
      </p-datepicker>

      <p-autoComplete
        [suggestions]="filteredTripTypes"
        (completeMethod)="filterTripTypes($event)"
        placeholder="Tipo de viaje"
        [dropdown]="true"
        [(ngModel)]="selectedTripType"
      >
      </p-autoComplete>

      <p-button
        type="button"
        label="Buscar"
        icon="pi pi-search"
        [rounded]="true"
      ></p-button>
    </div>
  </div>
</section>
