<section class="tours-section">
  <h2 class="title">{{ title }}</h2>
  <p-dataView #dv [value]="tours" [layout]="'grid'">
    <ng-template let-tours #grid>
      <div class="grid">
                <div
                  *ngFor="let tour of tours; let i = index"
                  class="col-12 sm:col-6 lg:col-3"
                >
                  <app-tour-card-v2 
                    [tourData]="tour" 
                    [showScalapayPrice]="false"
                    [itemListId]="title || 'home_grid'"
                    [itemListName]="title || 'Grid de tours'"
                    [index]="i"
                  ></app-tour-card-v2>
                </div>
      </div>
    </ng-template>
  </p-dataView>

  <div *ngIf="viewMoreButton" class="tours-sectionMore">
    <p-button
      [label]="viewMoreButton.text"
      styleClass="p-button-rounded main-btn-circle"
      (onClick)="onViewMore()"
    >
    </p-button>
  </div>
</section>