<section class="tours-section">
  <h2 class="title">{{ title }}</h2>
  <p-carousel
    [value]="tours"
    [numVisible]="5"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showNavigators]="false"
    [autoplayInterval]="carouselConfig.DEFAULT_AUTOPLAY_INTERVAL"
  >
    <ng-template let-tour pTemplate="item">
      <app-tour-card
        [tourData]="tour"
        [showScalapayPrice]="true"
        [isLargeCard]="true"
      ></app-tour-card>
    </ng-template>
  </p-carousel>
</section>
