.tours-section {
  padding: 4rem 4rem;

  .title {
    color: var(--background-azul);
    font-weight: 400;
  }

  .tour-card {
    padding: 0.5rem;
    height: 100%;

    ::ng-deep .tour-card-wrapper {
      .p-card {
        border-radius: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        height: 100%;
        display: flex;
        flex-direction: column;

        .p-card-body {
          /* padding: 10px; */
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        .p-card-content {
          padding: 0;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }

      .image-container {
        position: relative;
        height: 280px;

        @media screen and (max-width: 1024px) {
          height: 220px;
        }

        @media screen and (max-width: 768px) {
          height: 240px; // Changed from 180px to make image taller on mobile
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
          padding: 1rem;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;

          .rating {
            align-self: flex-start;
            background: var(--p-primary-color);
            color: var(--p-button-primary-color);
            padding: 0.3rem 0.6rem;
            border-radius: 4px;
            font-size: 0.9rem;

            @media screen and (max-width: 1024px) {
              font-size: 0.85rem;
              padding: 0.25rem 0.5rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
          }

          .indicator {
            font-weight: 500;
            font-size: 12px;
            text-align: start;
            color: var(--p-primary-color);

            @media screen and (max-width: 1024px) {
              font-size: 0.8rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.7rem;
            }
          }

          .tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: var(--p-button-primary-color);
            color: var(--background-azul);
            padding: 0.3rem 0.6rem;
            border-radius: 4px;
            font-size: 0.9rem;

            @media screen and (max-width: 1024px) {
              font-size: 0.85rem;
              padding: 0.25rem 0.5rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
          }

          .title-overlay {
            margin-top: auto;
            color: white;

            h3 {
              font-size: 1.5rem;
              margin-top: 1px;
              margin-bottom: 0.3rem;

              @media screen and (max-width: 1024px) {
                font-size: 1.3rem;
                margin-bottom: 0.4rem;
              }

              @media screen and (max-width: 768px) {
                font-size: 1.2rem;
                margin-bottom: 0.3rem;
              }
            }

            p {
              margin-bottom: 0;
              font-size: 1rem;

              @media screen and (max-width: 1024px) {
                font-size: 0.95rem;
              }

              @media screen and (max-width: 768px) {
                font-size: 0.9rem;
              }
            }
          }
        }
      }

      .card-footer {
        margin: -15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: row !important;
          justify-content: space-between !important;
          align-items: center !important;
          gap: 1rem;
        }

        .price-section {
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 768px) {
            flex: 1;
          }

          .desde {
            font-size: 0.9rem;
            color: var(--background-azul);

            @media screen and (max-width: 1024px) {
              font-size: 0.85rem;
              margin-top: 0.4rem; // Ajusta este valor según sea necesario
            }

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
              margin-top: 0.3rem; // Ajusta este valor según sea necesario
            }
          }

          .price {
            font-size: 2rem;
            font-weight: bold;
            color: var(--background-azul);
            line-height: 1.2rem;
            margin-bottom: 0.5rem;;
            @media screen and (max-width: 1024px) {
              font-size: 1.4rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 1.3rem;
            }
          }

          .priceScalapay{
            color: var(--p-primary-color);
            font-size:0.9rem;
          }

          .months {
            display: flex;
            gap: 0.5rem;
            //margin-top: 0.5rem;
            flex-wrap: wrap;
            width: 15rem;
            height: 2.5rem;
            align-items: center;
            justify-content: flex-start;

            @media screen and (max-width: 1024px) {
              width: 12rem;
              height: 2.2rem;
            }

            @media screen and (max-width: 768px) {
              width: 100%;
              height: auto;
              max-height: 3.5rem;
              overflow-y: auto;
            }

            .month {
              font-size:0.7rem;
              //width: 2.4rem;
              //text-align: center;
            //  color: #fff;
             // background: var(--background-azul);
            /*  font-size: 0.67869rem;
              font-style: normal;
              font-weight: 500;*/
              
            /*  display: flex;
              width: 1.90038rem;
              height: 0.81444rem;
              padding: 0.13575rem 0.33938rem;
              justify-content: center;
              align-items: center;
              gap: 0.67869rem;
              leading-trim: both;
              text-edge: cap;
              line-height: 0.67869rem;

              @media screen and (max-width: 1024px) {
                width: 1.8rem;
                height: 0.75rem;
                font-size: 0.65rem;
                padding: 0.12rem 0.3rem;
              }

              @media screen and (max-width: 768px) {
                width: 1.7rem;
                height: 0.7rem;
                font-size: 0.6rem;
                padding: 0.1rem 0.25rem;
              }

*/
             //   background: var(--background-azul);

            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1366px) {
    padding: 4rem 1.2rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;

    @media screen and (max-width: 1024px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
  }

  .buttonVertour {
    width: 7rem;

    @media screen and (max-width: 1024px) {
      width: 6rem;
    }

    @media screen and (max-width: 768px) {
      width: auto !important;
      min-width: 6rem;
      height: 2.5rem;
      margin-top: 35px;
      font-size: 0.9rem;
    }
  }
}
