<section class="tours-section">
  <h2 class="title">Descubre lo mejor de Europa</h2>
  <p-carousel
    [value]="tours"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
    [showNavigators]="false"
  >
    <ng-template let-tour pTemplate="item">
      <app-tour-card
        [tourData]="tour"
        [onTourCardClick]="onTourClick"
        [showScalapayPrice]="true"
        [isLargeCard]="true"
      ></app-tour-card>
    </ng-template>
  </p-carousel>
</section>
