<section class="tours-section">
  <h2>Descubre lo mejor de Europa</h2>
  <p-carousel
    [value]="tours"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
  >
    <ng-template let-tour pTemplate="item">
      <div class="tour-card">
        <p-card
          [style]="{ 'border-radius': '1rem', overflow: 'hidden' }"
          [styleClass]="'tour-card-wrapper'"
        >
          <ng-template pTemplate="header">
            <div class="image-container">
              <img [src]="tour.imageUrl" [alt]="tour.title" />
              <div class="overlay">
                <span class="rating p-button-primary">{{ tour.rating }} ★</span>
                <span class="tag">{{ tour.tag }}</span>
                <div class="title-overlay">
                  <h3>{{ tour.title }}</h3>
                  <p>{{ tour.description }}</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="card-footer">
              <div class="price-section">
                <span class="desde">desde</span>
                <span class="price">{{ tour.price }}€</span>
                <div class="months">
                  <span 
                    *ngFor="let month of tour.availableMonths" 
                    class="month" 
                    [class.active]="true">
                    {{ month }}
                  </span>
                </div>
              </div>
              <p-button
                type="button"
                label="Ver tour"
                class="p-button-rounded, buttonVertour"
                [rounded]="true"
                fluid="true"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</section>