.tours-section {
  padding: 4rem 2rem;

  .title {
    color: var(--background-azul);
    font-weight: 400;
  }

  @media screen and (max-width: 1366px) {
    padding: 4rem 1.2rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;

    @media screen and (max-width: 1024px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
  }

  .buttonVertour {
    width: 7rem;

    @media screen and (max-width: 1024px) {
      width: 6rem;
    }

    @media screen and (max-width: 768px) {
      width: auto !important;
      min-width: 6rem;
      height: 2.5rem;
      margin-top: 35px;
      font-size: 0.9rem;
    }
  }
}
