<div class="additional-info">
  <p-accordion *ngIf="infoCards.length > 0" [multiple]="true" [value]="0">
    <p-accordion-panel
      *ngFor="let card of infoCards; let i = index; trackBy: trackByFn"
      [value]="i"
    >
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          <i class="pi" [ngClass]="active ? 'pi-minus-circle' : 'pi-plus-circle'" aria-hidden="true"></i>
        </ng-template>
        <div [innerHTML]="sanitizeHtml(card.title)"></div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="paddingDiv">
          <div class="content-wrapper">
            <div #contentDiv [ngClass]="{'truncated-content': !card.showFullContent}" [innerHTML]="sanitizeHtml(card.content)"></div>
            <button class="show-more-btn" (click)="toggleContent(card)">
              {{ card.showFullContent ? 'Mostrar menos' : 'Mostrar más' }}
            </button>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>