// Variables
$azul: var(--background-azul);
$primary: var(--p-primary-color);
$white: #fff;

.additional-info {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.paddingDiv {
  padding: 1rem;
}

.content-wrapper {
  position: relative;
}

.truncated-content {
  max-height: 300px;
  overflow: hidden;
  position: relative;

  // Only show gradient when content is overflowing
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      var(--surface-color-0)
    );
    pointer-events: none;
    opacity: 0; // Hide by default
    transition: opacity 0.3s ease;
  }
}

// Only show gradient when content is overflowing
.content-overflow .truncated-content::after {
  opacity: 1;
}

.show-more-btn {
  background-color: transparent;
  color: $primary;
  border: none;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
  display: none; /* Hide by default */

  &:hover {
    opacity: 0.8;
  }
}

/* Show button only when content is truncated */
.content-overflow .show-more-btn {
  display: inline-block;
}

:host {
  ::ng-deep {
    p-accordion {
      width: 100%;

      p-accordion-header {
        flex-direction: row-reverse;
        gap: 1rem;
        justify-content: flex-end;

        i {
          color: $primary;
        }
      }
    }
  }
}
