:host ::ng-deep {
  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: #E57373;
    padding: 0 1rem;
  }

  .header-menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0.5rem 0;

    .p-menubar-root-list {
      > .p-menuitem {
        > .p-menuitem-link {
          .p-menuitem-text {
            color: white;
            font-weight: 500;
          }

          .p-submenu-icon {
            color: white;
          }
        }

        &:hover {
          > .p-menuitem-link {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  .left-menu {
    margin-right: auto;
  }

  .right-menu {
    margin-left: auto;
  }
}
:host ::ng-deep {
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .top-section {
    background-color: #0A1E3C;
    padding: 0.5rem 2rem;

    .top-menu {
      background-color: transparent;
      border: none;
      
      .logo {
        height: 35px;
      }

      .search-input {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        color: white;
        width: 200px;
      }

      .currency {
        color: white;
      }
    }
  }

  .bottom-section {
    background-color: #E57373;
    padding: 0.5rem 2rem;

    .nav-menu {
      background-color: transparent;
      border: none;

      .p-menubar-root-list {
        > .p-menuitem {
          > .p-menuitem-link {
            .p-menuitem-text {
              color: white;
              font-weight: 500;
            }

            .p-submenu-icon {
              color: white;
            }
          }

          &:hover {
            > .p-menuitem-link {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }
}
:host ::ng-deep {
  .top-section {
    background-color: #0A1E3C;
    padding: 0.5rem 2rem;

    .top-menu {
      background-color: transparent;
      border: none;
      
      .logo {
        height: 35px;
      }

      .search-input {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        color: white;
      }

      .currency {
        color: white;
      }

      .language-selector input {
        color: white;
        background: transparent;
      }

      .sign-in-button {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
      }
    }
  }

  .bottom-section {
    background-color: #E57373;
    padding: 0.5rem 2rem;

    .bottom-menu {
      background-color: transparent;
      border: none;

      .p-menubar-root-list {
        > .p-menuitem {
          > .p-menuitem-link {
            color: white;
            font-weight: 500;

            .p-menuitem-text {
              color: white;
            }

            .p-submenu-icon {
              color: white;
            }
          }
        }
      }
    }
  }
}
.language-selector {
  .p-autocomplete-input {
    background: transparent;
    border: none;
    color: white;
    width: 60px;
    padding: 0.5rem;
  }
  
  .p-autocomplete-dropdown {
    background: transparent;
    border: none;
    color: white;
    
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
:host ::ng-deep {
  .top-section {
    .sign-in-button {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: white;
      
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .bottom-section {
    .nav-menu {
      .left-menu, .right-menu {
        background: transparent;
        border: none;
        padding: 0;

        .p-menubar-root-list {
          > .p-menuitem {
            > .p-menuitem-link {
              .p-menuitem-text {
                color: white;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}