// Layout variables
$skeleton-gap: 1rem;
$profile-gap: 1.4rem;
$mobile-breakpoint: 768px;

// Colors
$skeleton-bg: rgba(255, 255, 255, 0.1);
$skeleton-shine: rgba(255, 255, 255, 0.2);

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

// Skeleton styles
.menu-skeleton {
  @include flex-center;
  gap: $skeleton-gap;
}

.user-skeleton {
  border-radius: 16px;
}

// Profile section
.busqPerfil {
  @include flex-center;
  gap: $profile-gap;
}

:host ::ng-deep {

  .p-skeleton {
    background-color: $skeleton-bg;

    &::after {
      background: linear-gradient(90deg, $skeleton-bg, $skeleton-shine, $skeleton-bg);
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .user-chip .p-chip-label {
      display: none;
    }
  }
  .p-chip {
    box-shadow: 0 0 0 0.5px var(--background-azul);
    background: transparent;
    font-size: 14px;
  }
  .top-menu.p-menubar {
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 9999;
    //height: 5rem;
    border-top: 0px solid var(--background-azul);
    box-shadow: 0 -2px 10px -3px var(--background-azul);
  }

  .nav-menu.p-menubar {
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
  }
}

.logo {
  padding-top: 0.7rem;
  padding-left: 1.25rem;
  padding-bottom: 0.7rem;
}

.top-menu {
  height: 4rem;
}
