.menu-skeleton {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-skeleton {
  border-radius: 16px;
}

:host ::ng-deep {
  .p-skeleton {
    background-color: rgba(255, 255, 255, 0.1);
    
    &::after {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1)
      );
    }
  }
}

.busqPerfil{
  display: flex;
  align-items: center;
  gap: 1rem;
}