<div class="card-footer"
     [class.theme-light]="theme === 'light'"
     [class.theme-dark]="theme === 'dark'">
  <!-- Bloque de texto principal (título + descripción) en el footer -->
  <div class="main-info">
    <h3 class="tour-title">
      <ng-container *ngIf="isLoadingLocation; else locationContent">
        {{ tourData.title }}
      </ng-container>
      <ng-template #locationContent>
        {{ locationName || tourData.title }}
      </ng-template>
    </h3>
    <p class="tour-description" *ngIf="tourData.title">
      {{ tourData.title }}
    </p>
  </div>

  <div class="price-content">
    <div class="price-section">
      <div class="price-info">
        <span class="desde">Desde</span>
        <span class="price">{{ tourData.price | currencyFormat : "EUR" }}</span>
      </div>
      <div class="button-container">
        <div class="trip-type-container">
          <p-tag
            *ngFor="let type of getFilteredTripTypes()"
            class="trip-type"
            [styleClass]="getTripTypeClass(type)"
            [title]="type"
          >
            {{ getTripTypeLabel(type) }}
          </p-tag>
        </div>
        <p-button
          type="button"
          label="Ver tour"
          class="buttonVertour"
          (onClick)="handleTourClick()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
