.room-selector {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .room-item {
    color: var(--background-azul);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    border: 1px solid var(--background-azul);
    border-radius: 0.5rem;

    p {
      margin: 0;
      font-weight: 500;
    }

    .room-price-data {
      display: flex;
      align-items: center;

      justify-content: space-between;
    }

    ::ng-deep .p-inputnumber {
      background-color: var(--accent-white);
    }

    ::ng-deep .p-inputtext {
      border: 0;
      box-shadow: none;
      color: var(--background-azul);
      text-align: center;
      width: 2.5rem;
    }

    ::ng-deep .p-inputnumber-button {
      border: 0;
      color: var(--background-azul);
    }

    .room-description {
      font-size: 0.6875rem;
      margin-top: -10px;
    }
  }

  .room-item.selected {
    border-color: var(--background-azul);
    background-color: white;
  }
}

.messages {
  margin-top: 16px;

  .info-message,
  .error-message {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.625rem;
    font-size: 0.6875rem;
    border-radius: 4px;
    margin-bottom: 8px;

    p {
      margin: auto 0;
    }
  }

  .info-message {
    background-color: #e4e4e7;
    color: var(--background-azul);
  }

  .error-message {
    background-color: #ffebee;
    border: 1px solid #ef9a9a;
    color: #d32f2f;
  }
}
