p-iftaLabel {
    --p-iftalabel-color:#002b57;
    --p-iftalabel-font-size: var(--font-label);
    --p-iftalabel-font-weight: 500;	
}

.date-presets {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
}