p-iftaLabel {
    --p-iftalabel-color:#002b57;
    --p-iftalabel-font-size: var(--font-label);
    --p-iftalabel-font-weight: 500;	
}

.date-presets {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
}

.custom-button {
    background-color: #e25353;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-button.active {
    background-color: var(--p-iftalabel-color);
    color: white;
}