.container {
    background-color: var(--p-surface-0);
    color: var(--background-azul);

    .tours-list {
        padding: 3rem;

        @media (max-width: 1024px) {
            padding: 1rem;
        }

        ::ng-deep {
            .p-select {
                color: var(--background-azul);
            }
            .p-dataview {
                .p-dataview-content {
                    background: transparent;
                    padding: 0;
                }

                .grid {
                    @media (max-width: 1024px) {
                        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                        gap: 0.5rem;
                    }

                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 1rem;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .tours-filters {
        padding: 2rem 3.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
            padding: 1rem 1.5rem;
        }

        @media (max-width: 600px) {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            > p-floatlabel {
                width: 100%;
                margin-bottom: 0.5rem;

                ::ng-deep {
                    .p-select,
                    .p-multiselect {
                        width: 100% !important;
                    }
                }
            }

            > .space {
                display: none;
            }
        }

        .space {
            flex-grow: 1;
        }
    }

    .filter-box {
        min-width: 10rem;

        @media (max-width: 600px) {
            min-width: 0;
            width: 100%;
        }
    }
}
