<div class="container">
  <app-banner 
    [imageUrl]="bannerImage" 
    [imageAlt]="bannerImageAlt"
    [title]="bannerTitle"
    [subtitle]="bannerSubtitle"
    *ngIf="this.isLanding || this.isCollection">
  </app-banner>
  <app-title-and-quill [title]="bannerTitle" [description]="bannerDescription"></app-title-and-quill>
  <app-dynamic-components *ngIf="blocks" [blocks]="blocks"></app-dynamic-components>
  
  <!-- Replace app-tours-filter with app-tours -->
  <app-tours 
    *ngIf="showTours"
    [showTours]="showTours"
    [isOffersCollection]="isTagBasedCollection"
    [initialTags]="collectionTags"
    (toursLoaded)="onToursLoaded($event)">
  </app-tours>
</div>