.highlight-section {
  --section-padding: 4rem;
  --section-gap: clamp(1rem, 2vw, 2rem);
  --text-color: #002b57;
  --bg-color: #f7f6f2;
  --image-border-radius: 13px;
  --title-font-size: clamp(24px, 3vw, 35px);
  --description-font-size: clamp(8px, 1.2vw, 12px);
  --content-padding: clamp(0px, 3vw, 6rem);

  display: flex;
  align-items: center;
  padding: var(--section-padding);
  gap: var(--section-gap);
  color: var(--text-color);
  background-color: var(--bg-color);

  &-image-container {
    position: relative;
    overflow: hidden;
    aspect-ratio: 15/16;
    border-radius: var(--image-border-radius);
    max-width: 558px;
    width: 100%;
    height: auto;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--section-gap);
    padding-inline: var(--content-padding);
  }

  &-title {
    line-height: 0.9;
    font-weight: 400;
    font-size: var(--title-font-size);
  }

  &-description {
    line-height: 1.1;
    font-size: var(--description-font-size);
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    &-content {
      padding: 0;
      width: 100%;
    }
  }
}

.buttonVertour {
  width: min(7rem, 100%);
}