<div class="tour-card" 
     [ngClass]="{ isLarge: isLargeCard }"
     [class.theme-claro]="theme === 'light'"
     [class.theme-oscuro]="theme === 'dark'">
  <p-card
    [style]="{
      'border-radius': '1rem',
      overflow: 'hidden',
      border: 'none',
      boxShadow: 'none'
    }"
    [styleClass]="'tour-card-wrapper'"
  >
    <ng-template #header>
      <app-tour-card-header-v2 [tourData]="tourData" (tourClick)="handleTourClick()"></app-tour-card-header-v2>
    </ng-template>
    
    <ng-template #content>
      <app-tour-card-content-v2 
        [tourData]="tourData" 
        [isLargeCard]="isLargeCard"
        [theme]="theme"
        (tourClick)="handleTourClick()">
      </app-tour-card-content-v2>
    </ng-template>
  </p-card>
</div>