<!-- Combined filters section -->
<div class="tours-filters">
  <p-floatlabel class="w-full md:w-56 min-width" variant="on">
    <p-select
      id="order_label"
      [options]="orderOptions"
      [(ngModel)]="selectedOrderOption"
      (ngModelChange)="onOrderChange()"
      optionLabel="name"
      optionValue="value"
      placeholder="Ordenar por"
      class="w-full md:w-56"
    />
    <label for="order_label">Ordenar por</label>
  </p-floatlabel>

  <span class="space"></span>

  <p-floatlabel class="w-full md:w-56 min-width" variant="on">
    <p-multiselect
      id="season_label"
      class="filter-box"
      [options]="seasonOptions"
      [(ngModel)]="selectedSeasonOption"
      (ngModelChange)="onSeasonFilterChange()"
      optionLabel="name"
      optionValue="value"
      filter="false"
      [maxSelectedLabels]="1"
      [displaySelectedLabel]="true"
      selectedItemsLabel="{0} items"
      [showToggleAll]="false"
    />
    <label for="season_label">Temporada</label>
  </p-floatlabel>

  <p-floatlabel class="w-full md:w-56 min-width" variant="on">
    <p-multiselect
      id="month_label"
      [options]="monthOptions"
      [(ngModel)]="selectedMonthOption"
      (ngModelChange)="onMonthFilterChange()"
      optionLabel="name"
      optionValue="value"
      filter="false"
      [maxSelectedLabels]="1"
      [displaySelectedLabel]="true"
      selectedItemsLabel="{0} items"
      [showToggleAll]="false"
    />
    <label for="month_label">Mes</label>
  </p-floatlabel>

  <p-floatlabel class="w-full md:w-56 min-width" variant="on">
    <p-multiselect
      id="price_label"
      [options]="priceOptions"
      [(ngModel)]="selectedPriceOption"
      (ngModelChange)="onPriceFilterChange()"
      optionLabel="name"
      optionValue="value"
      filter="false"
      [maxSelectedLabels]="1"
      [displaySelectedLabel]="true"
      selectedItemsLabel="{0} items"
      [showToggleAll]="false"
    />
    <label for="price_label">Precio</label>
  </p-floatlabel>
</div>

<!-- Tours list section -->
<div class="tours-list">
  <!-- Mostrar indicador de carga mientras se buscan tours -->
  <div *ngIf="isLoadingTours" class="loading-message">
    <p>Buscando tours...</p>
  </div>
  
  <!-- Mostrar grid de tours cuando la búsqueda ha finalizado -->
  <app-tour-grid-v2
    *ngIf="!isLoadingTours"
    [tourIds]="tourIds"
    [itemListId]="itemListId"
    [itemListName]="itemListName"
    [showScalapayPrice]="true"
  ></app-tour-grid-v2>
</div>
