<p-panel styleClass="pay-pan">
  <ng-template pTemplate="header">
    <div class="pan-hdr">Información sobre el pago</div>
  </ng-template>
  <div class="pay-det">
    <div class="pay-amts">
      <div class="amt-box">
        <span class="lbl">Total a pagar</span>
        <br />
        <span class="val">{{ paymentInfo.totalAmount | currencyFormat }}</span>
      </div>
      <div class="amt-box">
        <span class="lbl">Pagado</span>
        <br />
        <span class="val pay">{{
          paymentInfo.paidAmount | currencyFormat
        }}</span>
      </div>
      <div class="amt-box">
        <span class="lbl">Restante</span>
        <br />
        <span class="val rem">{{
          paymentInfo.remainingAmount | currencyFormat
        }}</span>
      </div>
    </div>
    <div class="pay-sch">
      <div *ngFor="let payment of payments">
        {{ payment.createdAt | date : "dd/MM/yyyy" }}: Pago de
        {{ payment.amount | currencyFormat }} a través de
        {{
          payment.method === "credit_card"
            ? "tarjeta de crédito"
            : payment.method === "transfer"
            ? "transferencia bancaria"
            : "la web"
        }}
      </div>
    </div>
  </div>
</p-panel>
