.main-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  position: relative;

  .landingTitle {
    padding: .5rem 0;
    color: #002b57;
    border-bottom: 1px solid #f05a4c;
    font-size: 1.875rem;
    font-weight: 500;
  }
}