<div class="auth-card-container">
  <div class="auth-card-overlay"></div>
  <div class="auth-layout">
    <div class="sign-up-form">
      <h1 class="font-base font-medium sign-up-form-title">
        Recuperación de contraseña
      </h1>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <form
        *ngIf="step === 'email'"
        (ngSubmit)="onEmailSubmit($event)"
        [formGroup]="emailForm"
        class="form-login"
      >
        <div class="input-group">
          <input
            type="text"
            placeholder="Correo electrónico"
            formControlName="email"
            pInputText
            class="input-field"
            [ngClass]="{
              error:
                emailForm.get('email')?.invalid &&
                emailForm.get('email')?.touched
            }"
          />
          <div
            *ngIf="
              emailForm.get('email')?.invalid && emailForm.get('email')?.touched
            "
            class="error-message"
          >
            <span *ngIf="emailForm.get('email')?.errors?.['required']"
              >El correo electrónico es obligatorio.</span
            >
            <span *ngIf="emailForm.get('email')?.errors?.['email']"
              >Correo electrónico inválido.</span
            >
          </div>
        </div>

        <p-button type="submit" [disabled]="isLoading">
          {{ isLoading ? "Procesando..." : "Enviar código" }}
        </p-button>

        <p class="sign-up-form-link mt-4 col-span-2">
          <span class="sign-up-form-link-span">Volver al </span>
          <a routerLink="/es/login">inicio de sesión</a>
        </p>
      </form>

      <form
        *ngIf="step === 'reset'"
        (ngSubmit)="onResetSubmit($event)"
        [formGroup]="resetForm"
        class="form-login"
      >
        <div class="input-group">
          <input
            type="text"
            placeholder="Código de verificación"
            formControlName="confirmationCode"
            pInputText
            class="input-field"
            [ngClass]="{
              error:
                resetForm.get('confirmationCode')?.invalid &&
                resetForm.get('confirmationCode')?.touched
            }"
          />
          <div
            *ngIf="
              resetForm.get('confirmationCode')?.invalid &&
              resetForm.get('confirmationCode')?.touched
            "
            class="error-message"
          >
            <span
              *ngIf="resetForm.get('confirmationCode')?.errors?.['required']"
              >El código de confirmación es obligatorio.</span
            >
            <span *ngIf="resetForm.get('confirmationCode')?.errors?.['pattern']"
              >El código debe contener solo números.</span
            >
            <span
              *ngIf="resetForm.get('confirmationCode')?.errors?.['maxlength']"
              >El código no puede tener más de 10 números.</span
            >
          </div>
        </div>

        <div class="input-group">
          <p-password
            placeholder="Nueva contraseña"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            [ngClass]="{
              error:
                resetForm.get('password')?.invalid &&
                resetForm.get('password')?.touched
            }"
            class="input-field"
          ></p-password>
          <div
            *ngIf="
              resetForm.get('password')?.invalid &&
              resetForm.get('password')?.touched
            "
            class="error-message"
          >
            <span *ngIf="resetForm.get('password')?.errors?.['required']"
              >La contraseña es obligatoria.</span
            >
            <span *ngIf="resetForm.get('password')?.errors?.['minlength']"
              >La contraseña debe tener al menos 7 caracteres.</span
            >
            <span *ngIf="resetForm.get('password')?.errors?.['maxlength']"
              >La contraseña debe tener máximo 14 caracteres.</span
            >
            <span *ngIf="resetForm.get('password')?.errors?.['pattern']"
              >La contraseña debe contener al menos una mayúscula, un número y
              un carácter especial.</span
            >
          </div>
        </div>
        <div class="input-group">
          <p-password
            placeholder="Confirmar nueva contraseña"
            formControlName="confirmPassword"
            [toggleMask]="true"
            [feedback]="false"
            [ngClass]="{
              error:
                resetForm.get('confirmPassword')?.invalid &&
                resetForm.get('confirmPassword')?.touched
            }"
            class="input-field"
          ></p-password>

          <div
            *ngIf="
              resetForm.get('confirmPassword')?.invalid &&
              resetForm.get('confirmPassword')?.touched
            "
            class="error-message"
          >
            <span *ngIf="resetForm.get('confirmPassword')?.errors?.['required']"
              >Debe confirmar la contraseña.</span
            >
            <span *ngIf="resetForm.get('confirmPassword')?.errors?.['mismatch']"
              >Las contraseñas no coinciden.</span
            >
          </div>
        </div>

        <p-button type="submit" [disabled]="isLoading || isRedirecting">
          {{ isLoading ? "Procesando..." : "Actualizar contraseña" }}
        </p-button>

        <p class="sign-up-form-link mt-4 col-span-2">
          <span class="sign-up-form-link-span">Volver al </span>
          <a routerLink="/es/login">inicio de sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
