$azul: var(--background-azul);
$primary: var(--p-primary-color);
@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
%txt-azul {
  color: $azul;
}
%brd-rad {
  border-radius: 11.82px;
}
%input-focus {
  &:focus {
    border-color: $primary;
  }
}
%input-common {
  width: 100%;
  padding: 0.53rem;
  @extend %brd-rad;
  border: 1px solid #ced4da;
  @extend %txt-azul;
  background: #fff;
  @extend %input-focus;
}

div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;

  .p-card {
    div {
      span {
        background-color: #ff6f61;
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.p-card {
  div {
    display: flex;
    gap: 1rem;
    align-items: center;

    .p-card-content {
      align-items: center;
    }
  }
}

.claseBord {
  border-radius: 0.875rem;
  border: 1px solid #002b57;
}

.bg-pink-100 {
  background-color: #ff6f61;
  border-radius: 25%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: white;
  }
}

.additional-info {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

:host {
  ::ng-deep p-accordion {
    width: 100%;

    p-accordion-header {
      flex-direction: row-reverse;
      gap: 1rem;
      justify-content: flex-end;

      i {
        color: #ff6b6b;
      }
    }
  }
}

.f-box {
  min-width: 300px;
  flex: 1;
  margin: 0 0.5rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  .f-lbl {
    display: none;
    font-size: 0.875rem;
    @extend %txt-azul;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .f-cnt {
    position: relative;
    .input-label {
      position: absolute;
      top: 0.5rem;
      left: 0.75rem;
      font-size: 0.75rem;
      z-index: 1;
      @extend %txt-azul;
    }

    .p-inputtext,
    .p-btn {
      @extend %input-common;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .p-from {
      position: absolute;
      top: 60%;
      left: 30%;
      transform: translateY(-50%);
      @extend %txt-azul;
      font-weight: 500;
      z-index: 1;
    }
    .p-btn {
      @include flex(null, center);
      text-align: left;
      cursor: pointer;
      font-size: 1rem;
      i {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
      }
    }
  }
}

::ng-deep {
  .p-icon {
    @extend %txt-azul;
  }
  .p-autocomplete,
  .p-btn,
  .p-select,
  p-select {
    @extend %input-common;
    padding-bottom: 0.5rem;
    border-radius: 11.82px;
  }
  .p-autocomplete,
  .p-btn {
    min-width: 250px;
  }
  .p-autocomplete {
    .p-autocomplete-input {
      width: 100%;
      @extend %brd-rad;
      @extend %txt-azul;
      background: #fff;
      padding-right: 2.5rem;
      padding-top: 1.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    .p-autocomplete-overlay {
      @extend %brd-rad;
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #d9d9d9;
      z-index: 1;
    }
    .p-autocomplete-dropdown {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      z-index: 1;
    }
  }
  .p-ovl .p-overlay-content {
    @extend %brd-rad;
    padding: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .p-dialog {
    overflow: hidden;
  }
  .p-dialog .p-dialog-header {
    background-image: url("https://res.cloudinary.com/dxp2hxees/image/upload/v1733938229/j5a44cbk7mn3fawnt1kq.png");
    background-size: cover;
    background-position: bottom;
    height: 9rem;
  }
  .p-dialog .p-dialog-content {
    padding: 1rem 0;
  }
}
.p-panel {
  flex-wrap: wrap;
}
.p-type {
  @include flex(space-between);
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #eee;

  &:last-of-type {
    border-bottom: none;
  }
  .p-info {
    .p-cat {
      @include flex(null, center);
      font-weight: 500;
      @extend %txt-azul;
    }
    .p-age {
      font-size: 0.8rem;
      @extend %txt-azul;
    }
  }
  .p-ctrl {
    @include flex(null, center);
    .p-count {
      margin: 0 1rem;
      min-width: 1.5rem;
      text-align: center;
      font-size: 1.2rem;
      @extend %txt-azul;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    color: var(--p-primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding-top: 1rem;
  }
  &-subtitle {
    margin: 0;
    padding-bottom: 1rem;
  }
  &-tour-filters {
    background-color: var(--surface-color-200);

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }
  &-traveler-data {
    padding: 0;
  }
  &-footer {
    text-align: center;
  }
}
