.flights-container {
  max-width: 100%;

  .title {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--background-azul);
    margin-right: 1rem;
    min-width: 90px;
  }
  
  .flights-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 8px;
  }

  .flight-direction {
    display: flex;
    flex-direction: column;

    .direction-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .direction-title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--background-azul);
        margin-right: 1rem;
      }

      .direction-line {
        flex: 1;
        height: 1px;
        background-color: #e0e0e0;
        margin-right: 8px;
      }

      .direction-date {
        font-size: 1rem;
        font-weight: 700;
        color: var(--background-azul);
        margin-left: 1rem;
        min-width: 120px;
        text-align: right;
        display: contents;
      }
    }

    .stops-info {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      color: var(--background-azul);
      display: flex;
      align-items: center;

      i {
        margin-right: 0.5rem;
        color: var(--primary-color-500);
        font-size: 1rem;
      }
      
      .duration-info {
        margin-left: auto;
        font-weight: 600;
        color: var(--primary-color-500);
      }
    }

    .flight-segment {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;

      &.second-segment {
        margin-top: 0.5rem;
      }

      .segment-time {
        display: flex;
        flex-direction: column;
        min-width: 100px;

        &.departure {
          margin-right: 0.5rem;
        }

        &.arrival {
          margin-left: 0.5rem;
          text-align: right;
        }

        .time {
          font-size: 1rem;
          font-weight: 600;
          color: var(--background-azul);
          display: flex;
          align-items: center;
          margin-bottom: 0.25rem;
          white-space: nowrap;
        }

        .airport {
          font-size: 0.85rem;
          color: var(--background-azul);
        }
      }

      .segment-connector {
        background-color: #e0e0e0;
        flex: 1;
        height: 1px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .flight-path-icon {
          color: var(--primary-color-500);
          font-size: 0.9rem;
          transform: rotate(0deg);
          background-color: white;
        }
        span {
          margin: 0 0.3rem;
          background-color: white;
          /*  max-width: 5rem; */
          text-align: center;
          margin-bottom: 17px;
        }
      }
    }
  }

  .flight-icon {
    font-size: 0.9rem;
    color: var(--primary-color-500);

    &.departure {
      margin-right: 0.5rem;
    }

    &.arrival {
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 1400px) {
    max-width: 100%;
  }

  @media (max-width: 1200px) {
    max-width: 100%;
  }

  @media (max-width: 992px) {
    max-width: 100%;
    span {
      font-size: 10px;
      margin: 0 0.3rem;
      background-color: white;
      max-width: 5rem;
      text-align: center;
      margin-bottom: 17px;
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;

    .segment-time {
      min-width: 80px !important;

      .time {
        font-size: 0.9rem !important;
      }

      .airport {
        font-size: 0.8rem !important;
      }
    }
    span {
      font-size: 10px;
      margin: 0 0.3rem;
      background-color: white;
      max-width: 5rem;
      text-align: center;
      margin-bottom: 17px;
    }
  }
}

:host ::ng-deep {
  .p-panel {
    border: 1px solid #ffffff;
    background-color: white;
    width: 100%;
    .p-panel-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 50px;
      padding-left: 1rem;
      margin-bottom: -10px;
      border-bottom: 1px solid #66666627;

      .p-panel-title {
        font-weight: 600;
        font-size: 16px;
      }
    }

    .p-panel-content {
      padding: 0.5rem;
    }
  }
}
