.container {
    background-color: #f7f6f2;
    padding: 35px;
    display: flex;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) and (max-width: 1024px) {
        padding: 25px;
        gap: 20px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        padding: 20px;
    }

    .column {
        height: 100%;

        @media (min-width: 768px) and (max-width: 1024px) {
            height: auto;
        }

        @media (max-width: 480px) {
            height: auto;
            width: 100% !important;
            margin-bottom: 20px;
        }
    }

    .left-column {
        width: 30%;

        @media (min-width: 768px) and (max-width: 1024px) {
            width: 30%; // Aumentado el ancho para tablets
        }
    }

    .right-column {
        width: 70%;

        @media (min-width: 768px) and (max-width: 1024px) {
            width: 70%; // Ajustado proporcionalmente
        }
    }
}
