.container {
  background-color: #f7f6f2;
  padding: 35px;
  display: flex;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 25px;
    gap: 20px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    padding: 20px;
  }

  .column {
    height: 100%;

    @media (min-width: 768px) and (max-width: 1024px) {
      height: auto;
    }

    @media (max-width: 480px) {
      height: auto;
      width: 100% !important;
      margin-bottom: 20px;
    }
  }

  .left-column {
    width: 30%;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 38%; // Aumentado el ancho para tablets
    }
  }

  .right-column {
    width: 70%;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 62%; // Ajustado proporcionalmente
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ::ng-deep {
    .p-panel {
      border-radius: 0.875rem;

      .p-panel-header {
        padding: 1.4rem 1.4rem 0.7rem;
        background: white;
        border: none;
        border-radius: 0.875rem 0.875rem 0 0;
      }

      .p-panel-content {
        padding: 0 1.5rem 1rem 1.5rem;
        border: none;
        border-radius: 0 0 0.875rem 0.875rem;
      }
    }

    .p-divider {
      margin: 0.3rem 0 0.5rem;
      padding: 0;
      margin: 1px solid;
    }

    .avatar-panel {
      .p-panel-header {
        display: none;
      }

      .p-panel-content {
        padding: 1rem;
      }
    }
  }
}

.avatar-name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--background-azul);
  }
}
