:host ::ng-deep {
  /* Estilos para el panel de referencia de reserva */
  .container {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    margin: 0.75rem;
    margin-top: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .p-panel-content {
      padding: 1rem;
    }
  }

  .p-panel-header {
    border-bottom: 1px solid #eaeaea;
    padding: 1rem 1.5rem;
    border-radius: 10px;

    .p-panel-title {
      font-weight: 600;
      font-size: 1.1rem;
      /*color: #333;*/
    }
  }

  @media (max-width: 576px) {
    border-radius: 8px;

    .p-panel-header {
      padding: 0.75rem 1rem;

      .p-panel-title {
        font-size: 1rem;
      }
    }
  }
}

.custom-panel {
  border: none !important;
  background-color: #f9f9f9 !important;
  box-shadow: none !important;

  ::ng-deep .p-panel-content {
    border: none !important;
    background-color: #f9f9f9 !important;
    padding: 15px 20px;
  }
}
