<h3 class="title">Agrega los datos del viajero</h3>

<div class="flex flex-col">
  <div
    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
  >
    <div class="content-form">
      <h3 class="title">Viajeros</h3>
      <p-accordion [value]="getOpenTravelers()" [multiple]="true" styleClass="travelers-accordion">
        <ng-container *ngFor="let form of travelerForms; let i = index">
          <!-- Update the app-traveler-item element -->
          <app-traveler-item
            [form]="form"
            [index]="i"
            [traveler]="travelers[i]"
            [sexoOptions]="sexoOptions"
            [isFirstTraveler]="i === 0"
            [getAdultsOptionsFn]="getAdultsOptions.bind(this)"
          ></app-traveler-item>
        </ng-container>
      </p-accordion>
    </div>
  </div>
</div>
