<h3 class="title">Agrega los datos del viajero</h3>

<div class="flex flex-col h-48">
  <div
    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
  >
    <h3 class="title">Viajeros</h3>
    <!-- Botón para abrir el formulario -->
    <div class="custom-trigger" (click)="toggleForm()">
      <span>Selecciona la forma de pago</span>
      <i class="pi pi-chevron-down"></i>
    </div>
    <!-- Formulario en dos columnas -->
    <div *ngIf="showForm" class="traveler-form">
      <form [formGroup]="travelerForm">
        <div class="form-row">
          <div class="form-column">
            <div class="form-field">
              <label>Nombre*</label>
              <input
                pInputText
                name="nombre"
                placeholder="Introduce tu nombre"
              />
            </div>
          </div>
          <div class="form-column">
            <div class="form-field">
              <label>Apellido*</label>
              <input
                pInputText
                name="Apellido"
                placeholder="Introduce Apellido"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
            <div class="form-field">
              <label>Teléfono</label>
              <input
                pInputText
                name="telefono"
                placeholder="Introduce telefono"
              />
            </div>
          </div>
          <div class="form-column">
            <div class="form-field">
              <label>E-mail*</label>
              <input
                pInputText
                name="email"
                placeholder="e-mail"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
            <div class="form-field">
              <label>Nacionalidad</label>
              <input
                pInputText
                name="nacionalidad"
              />
            </div>
          </div>
          <div class="form-column">
            <div class="form-field">
              <label>Sexo</label>
              <p-autocomplete
            [(ngModel)]="personalInfo.sexo"
            name="sexo"
            [suggestions]="filteredSexoOptions"
            (completeMethod)="filterSexo($event)"
            field="label"
            [style]="{ width: '100%' }"
            [forceSelection]="true"
            [dropdown]="true"
            placeholder="Seleccione su sexo"
            styleClass="custom-autocomplete"
          >
          </p-autocomplete>
            </div>
            <div class="form-field">
              <label>Teléfono</label>
              <input
                pInputText
                name="telefono"
                placeholder="Ingrese su teléfono"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
