<div class="discount-container">
  <h3>Código de descuento</h3>
  <div class="discount-content">
    <div class="p-fluid" [formGroup]="discountForm">
      <div class="p-field">
        <input
          pInputText
          id="code"
          type="text"
          formControlName="code"
          [disabled]="appliedDiscount !== null"
          placeholder="Ingrese código de descuento"
        />
      </div>
      <div class="button-container">
        <p-button
          *ngIf="!appliedDiscount"
          label="Aplicar"
          icon="pi pi-check"
          (onClick)="validateDiscountCode()"
          [disabled]="discountForm.invalid"
        ></p-button>
        <p-button
          *ngIf="appliedDiscount"
          label="Eliminar"
          icon="pi pi-times"
          styleClass="p-button-danger"
          (onClick)="clearDiscount()"
        ></p-button>
      </div>
    </div>
    
    <div *ngIf="appliedDiscount" class="discount-info">
      <h3>Descuento aplicado</h3>
      <div class="discount-detail">
        <div class="detail-label">Código:</div>
        <div class="detail-value">{{ appliedDiscount.code }}</div>
      </div>
      <div class="discount-detail">
        <div class="detail-label">Descripción:</div>
        <div class="detail-value">{{ appliedDiscount.description }}</div>
      </div>
      <div class="discount-detail">
        <div class="detail-label">Importe:</div>
        <div class="detail-value">
          <ng-container [ngSwitch]="appliedDiscount.type">
            <ng-container *ngSwitchCase="'percentage'">{{ appliedDiscount.amount }}% de descuento en tu viaje</ng-container>
            <ng-container *ngSwitchCase="'fixed'">{{ appliedDiscount.amount | currency:'EUR' }} de descuento en el total</ng-container>
            <ng-container *ngSwitchCase="'shipping'">Traslados aeropuerto-hotel gratuitos</ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>