<div class="discount-container">
  <h3>Código de descuento</h3>
  <div class="discount-content">
    <div class="p-fluid" [formGroup]="discountForm">
      <div class="p-field">
        <input
          pInputText
          id="code"
          formControlName="code"
          [disabled]="appliedDiscount !== null || isLoading"
          placeholder="Ingrese código de descuento"
        />
      </div>
      <div class="button-container">
        <p-button
          *ngIf="!appliedDiscount"
          label="Aplicar"
          icon="pi pi-check"
          (onClick)="validateDiscountCode()"
          [disabled]="discountForm.invalid || isLoading"
          [loading]="isLoading"
        ></p-button>
        <p-button
          *ngIf="appliedDiscount"
          label="Eliminar"
          icon="pi pi-times"
          styleClass="p-button-danger"
          (onClick)="clearDiscount()"
        ></p-button>
      </div>
    </div>

    <div *ngIf="appliedDiscount" class="discount-info">
      <h3>Descuento aplicado</h3>
      <div class="discount-detail">
        <div class="detail-label">Código:</div>
        <div class="detail-value">{{ appliedDiscount.code }}</div>
      </div>
      <div class="discount-detail">
        <div class="detail-label">Descripción:</div>
        <div
          class="detail-value"
          [innerHTML]="getSanitizedDescription(appliedDiscount.description)"
        ></div>
      </div>
      <div class="discount-detail">
        <div class="detail-label">Importe:</div>
        <div class="detail-value">
          {{ appliedDiscount.amount | currencyFormat : "EUR" }} de descuento en
          el total
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>
