.discount-container {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    height: fit-content;
    margin-top: 20px;
    font-size: 0.9rem;
    position: relative;

    h3 {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eee;
    }
}

.p-fluid {
    margin-bottom: 1rem;
}

.p-field {
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.discount-info {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 4px;
    border-left: 4px solid #2196f3;

    h3 {
        margin-top: 0;
        color: #2196f3;
        margin-bottom: 0.5rem;
        padding-bottom: 0;
        border-bottom: none;
    }

    p {
        margin: 0.5rem 0;
    }
}

/* Estilos para los componentes de PrimeNG */
:host ::ng-deep {
    .p-inputtext {
        width: 100%;
    }
}
