<div class="table-container" *ngIf="showTable">
  <p-table
    [value]="points"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="booking">
          Reserva
        </th>
        <th pSortableColumn="category">
          Categoría
        </th>
        <th pSortableColumn="concept">
          Concepto
        </th>
        <th pSortableColumn="tour">
          Tour
        </th>
        <th pSortableColumn="points">
          Puntos
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-point>
      <tr>
        <td class="booking-column">{{ point.booking }}</td>
        <td>{{ point.category }}</td>
        <td>{{ point.concept }}</td>
        <td>{{ point.tour }}</td>
        <td [ngClass]="getPointsClass(point.type)" class="points-column">{{ getFormattedPoints(point) }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
