// Gray list items
li.custom-list-item-g {
  list-style-type: none !important;
  position: relative !important;
  padding-left: 1.5em !important;
  margin-bottom: 0.5em !important;
  align-items: center !important;

  &::before {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 13px !important;
    height: 13px !important;
    border-radius: 2px !important;
    background-color: gray !important;
    display: block !important;
  }
}

// Orange list items
li.custom-list-item {
  list-style-type: none !important;
  position: relative !important;
  padding-left: 1.5em !important;
  margin-bottom: 0.5em !important;
  align-items: center !important;

  &::before {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 13px !important;
    height: 13px !important;
    border-radius: 2px !important; /* Ajusta el radio del borde si quieres esquinas redondeadas */
    background-color: #ff9800 !important; /* Color naranja */
    display: block !important;
  }
}
