:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ::ng-deep {
        .p-panel {
            border-radius: 0.875rem;

            .p-panel-header {
                padding: 1.4rem 1.4rem 0.7rem;
                background: white;
                border: none;
                border-radius: 0.875rem 0.875rem 0 0;
            }

            .p-panel-content {
                padding: 0 1.5rem 1rem 1.5rem;
                border: none;
                border-radius: 0 0 0.875rem 0.875rem;
            }
        }

        .p-divider {
            margin: 0.3rem 0 0.5rem;
            padding: 0;
            margin: 1px solid;
        }

        .avatar-panel {
            .p-panel-header {
                display: none;
            }

            .p-panel-content {
                padding: 1rem;
            }
        }
    }
}

.avatar-name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--background-azul);
    }
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--background-azul);
    }

    .edit-button {
        background: none;
        border: none;
        color: var(--background-azul);
        cursor: pointer;
        padding: 6px;
        border-radius: 4px;

        &:hover {
            color: var(--p-primary-color);
        }

        i {
            font-size: 1.1rem;
        }
    }
}

.info-grid {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 0;

        .label {
            color: var(--background-azul);
            font-weight: 500;
            font-size: 12px;
        }

        .value {
            color: var(--background-azul);
            text-align: right;
            font-size: 12px;
        }
    }
}
