<ng-container *ngIf="isLoading; else content">
  <p>Loading...</p>
</ng-container>

<ng-template #content>
  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <ng-container *ngIf="pageData && !error">
    <div class="preview-banner">
      <div class="preview-info">
        <span>VISTA PREVIA</span>
        <span *ngIf="pageData.versionNumber">Versión: {{ pageData.versionNumber }}</span>
      </div>
    </div>
    
    <app-title-and-quill
      [title]="pageData.title"
      [description]="pageData.content"
    ></app-title-and-quill>
  </ng-container>
</ng-template>