<div class="por-que-different">
  <p><strong class="primary-color">1. Viajar con Different Roads es pasar del estrés de buscar.</strong></p>
  <p>Adiós&nbsp;‘145 opiniones por leer’ y ‘solo dos plazas disponibles’. Hola&nbsp;viajes con todo, todito organizado.</p>
  <p class="text-center"><img src="https://www.differentroads.es/static/media/asset-step-one.bddf0ba1.webp" width="254" alt="Paso 1"></p>
  <p><strong class="primary-color">2. Diseñamos cada viaje con mucho, mucho mimo.</strong></p>
  <p><span class="highlighted-text">Nuestro equipo de expertos cuida cada detalle del viaje, casi de forma artesanal. Como si fueran ellos los que están a punto de embarcar.</span></p>
  <p class="text-center"><img src="https://www.differentroads.es/static/media/asset-map.bf47c47e.webp" width="276" alt="Mapa"></p>
  <p><strong class="primary-color">3. Con guías especialistas en cada uno de tus destinos.</strong></p>
  <p>Viajan contigo y te descubren nuevas rutas, lugares especiales y rincones secretos que otros viajes no te ofrecen.</p>
  <p class="text-center"><img src="https://www.differentroads.es/static/media/asset-step-three.6aab6204.webp" width="240" alt="Guías"></p>
  <p><strong class="primary-color">4. De verdad somos Different.</strong></p>
  <p>¿Sabes qué nos hacer ser verdaderamente 'Different'?</p>
  <p>Que cada uno de los viajes que ofrecemos lo hemos creado nosotros mismos. Buscando la excelencia en cada detalle del circuito, en cada lugar que visitamos juntos, en cada actividad, hotel o excursión. Y solo así podemos garantizarte que la experiencia va a ser única.</p>
  <p>Viajar sin sustos, cambios o contratiempos.</p>
  <p class="text-center"><img src="https://www.differentroads.es/static/media/asset-step-four.62ab4924.webp" width="265" alt="Experiencia única"></p>
  <p class="text-center"><img src="/porquedifferent1.png" alt="Imagen adicional"></p>
</div>