.press {
  padding: 2rem 4rem;
  @media (max-width: 768px) {
    padding: 2rem 3rem;
  }
  @media (max-width: 480px) {
    padding: 2rem 2rem;
  }
  &Title {
    text-align: center;
    color: var(--background-azul);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }
  &Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
::ng-deep .pressCard {
  background: transparent;
  border: none;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none !important;
  .p-card-body {
    padding: 0.5rem;
  }
  .pressCardImage {
    width: 100%;
    height: 276px;
    overflow: hidden;
    border-radius: 12px;
    object-fit: cover;
    @media (max-width: 480px) {
      height: 300px;
    }
  }
  .pressImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .pressCardLocation {
    display: block;
    color: var(--background-azul);
    font-size: 13px;
  }
  .pressCardTitle {
    font-size: 1rem;
    color: var(--background-azul);
    font-weight: 600;
    line-height: 1.5;
  }
  .pressCardButtons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    ::ng-deep .p-button {
      font-size: 13px;
      background-color: var(--p-primary-color);
      border-color: var(--p-primary-color);
      color: white;
      &:hover {
        background-color: var(--background-azul);
        border-color: var(--background-azul);
        color: white;
      }
    }
    ::ng-deep .pressCardButtonsTravel {
      background-color: transparent;
      border-color: var(--p-primary-color);
      color: var(--p-primary-color);
      &:hover {
        background-color: var(--background-azul);
        border-color: var(--background-azul);
        color: white;
      }
    }
  }
}
