<section class="press">
  <h2 class="pressTitle">{{ title }}</h2>
  <div class="pressGrid">
    <p-card *ngFor="let item of pressList" [style]="{'width': '100%'}" styleClass="pressCard">
      <ng-template pTemplate="header">
        <div class="pressCardImage">
          <img [src]="item.image[0].url" [alt]="item.image[0].alt" class="pressImage" />
        </div>
      </ng-template>
      <div class="pressCardContent">
        <span class="pressCardLocation">{{ item.subtitle }}</span>
        <h3 class="pressCardTitle">{{ item.title }}</h3>
        <div class="pressCardButtons">
          <p-button label="Leer más"
                    [rounded]="true"
                    styleClass="pressCardButtonsMore"
                    (onClick)="navigateToPress(item.slug)">
          </p-button>
        </div>
      </div>
    </p-card>
  </div>
</section>