// Variables
$mobile: 425px;
$tablet: 768px;
$desktop: 992px;

// Mixins
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) and (min-width: #{$mobile + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) and (min-width: #{$tablet + 1px}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Componente principal
.flights {
  color: var(--background-azul);
  display: grid;

  .step {
    @include flex-column;
    gap: 0.5rem;
    margin-top: -2rem;

    @media (max-width: 767px) {
      margin-top: -1.5rem;
    }

    &-title {
      width: fit-content;
      height: fit-content;
      border-bottom: 1px solid var(--background-azul);
      font-size: 1.21rem;
      font-weight: 500;
      padding-top: 0.5rem;

      @media (max-width: 767px) {
        font-size: 1.1rem;
      }
    }

    &-description {
      font-size: 0.75rem;
      @include flex-center;
      gap: 0.5rem;
      margin-top: -5px;
    }
  }
}


