.flights {
    color: var(--background-azul);
    display: grid;
    /* gap: 1rem; */
  
    .step {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: -2rem; // Default for desktop
  
      // Adjust margin for mobile devices
      @media (max-width: 767px) {
        margin-top: -1.5rem; // Less negative margin for mobile to prevent elements from sticking too close
      }
  
      .step-title {
        width: fit-content;
        height: fit-content;
        border-bottom: 1px solid var(--background-azul);
        font-size: 1.21rem;
        font-weight: 500;
        padding-top: 0.5rem;
        @media (max-width: 767px) {
          font-size: 1.1rem;
        }
      }
  
      .step-description {
        font-size: 0.75rem;
        align-items: center;
        display: flex;
        gap: 0.5rem;
        margin-top: -5px;
      }
    }
    .flight-search-container {
      width: 100%;
      overflow-x: hidden;
  
      @media (min-width: 768px) and (max-width: 1024px) {
        padding: 0 0.5rem;
      }
    }
  }
  