<div class="flights">
  <div class="step">
    <div class="step-title">Elige tus vuelos</div>
    <div class="step-description">Vuelos disponibles</div>
  </div>

  <div class="flights-container">
    <app-flight-item
      *ngFor="let flightPack of flightPacks"
      [flightPack]="flightPack"
      [selectedFlight]="selectedFlight"
      [flightDetails]="flightDetails"
      [availablePlaces]="flightPack.availablePlaces"
      (flightSelected)="selectFlight(flightPack)"
    ></app-flight-item>
  </div>

  <app-login-modal
    [visible]="loginDialogVisible"
    (close)="closeLoginModal()"
    (login)="navigateToLogin()"
    (register)="navigateToRegister()"
  >
  </app-login-modal>
</div>