<section class="partners-section">
  <h2 class="title">{{ title }}</h2>
  <p-carousel
    [value]="partners"
    [numVisible]="numVisible"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions"
    showIndicators="false"
    showNavigators="false"
  >
    <ng-template let-image pTemplate="item">
      <div class="partner-figure">
        <img
          [src]="image.partnerImage[0].url"
          [alt]="image.partnerImage[0].alt"
          class="partner-img"
        />
      </div>
    </ng-template>
  </p-carousel>
</section>
