.partners-section {
  background-color: var(--accent-white);
  padding: 2rem 4rem;

  h3 {
    color: var(--background-azul);
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }

  &>.partners-wrap {
    display: grid;
    gap: 2.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

    &>.partner-figure {
      width: 100%;

      &>.parthner-img {
        height: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}