.partners-section {
  background-color: var(--accent-white);
  padding: 2rem 4rem;

  h3 {
    color: var(--background-azul);
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }

  .partner-figure {
    width: 100%;
    margin: auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .partner-img {
      max-width: 10rem;
      max-height: 3rem;
      width: auto;
      height: auto;
    }
  }
}
