.tours-container {
  background-color: var(--p-surface-0);
}

.tours-list {
  padding: 2rem 3.5rem;

  ::ng-deep {
    .p-dataview {
      .p-dataview-content {
        background: transparent;
        padding: 0;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.tours-filters {
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  .space {
    flex-grow: 1;
  }
}

.filter-box {
  min-width: 10rem;
}

@media (max-width: 600px) {
  .tours-filters {
    .space {
      display: none;
    }
  }
}
