<div class="highlights-section">
  <h2>{{ highlightsTitle }}</h2>

  <p-carousel
    [autoplayInterval]="carouselConfig.DEFAULT_AUTOPLAY_INTERVAL"
    [value]="highlights"
    [numVisible]="5"
    [numScroll]="1"
    [circular]="true"
    [showNavigators]="false"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="true"
    class="custom-carousel"
  >
    <ng-template let-highlight pTemplate="item">
      <p-card
        styleClass="highlight-card"
        [style]="{
          'border-radius': '1rem',
          overflow: 'hidden',
          border: 'none',
          boxShadow: 'none'
        }"
      >
        <ng-template pTemplate="header">
          <div class="card-header">
            <img [src]="highlight.image" [alt]="highlight.title" />
            <span class="status-badge" [class.optional]="highlight.optional">
              {{ highlight.optional ? "Opcional" : "Incluida" }}
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <h3>{{ highlight.title }}</h3>
          <p>{{ highlight.description }}</p>
        </ng-template>
      </p-card>
    </ng-template>
  </p-carousel>
</div>
