.highlights-section {
  padding: 2rem 0;

  h2 {
    text-align: center;
    color: var(--background-azul);
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  ::ng-deep {

    .custom-carousel .p-carousel-content .p-carousel-item {
      max-width: 30rem!important;  ;
    }

    .p-carousel {
      .p-card-body {
        padding: 0;
      }

      .p-carousel-content {
        padding: 0 2rem;
      }

      .highlight-card {
        border: none;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        .p-card-body {
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        .card-header {
          position: relative;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
          }

          .status-badge {
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0.3rem 0.6rem;
            border-radius: 8px;
            font-size: 0.9rem;
            background: var(--p-button-primary-color);
            color: var(--background-azul);

            &.optional {
              background: var(--p-primary-color);
              color: #fff;
            }
          }
        }

        h3 {
          margin: 0.5rem 0;
          color: var(--background-azul);
          font-size: 1.25rem;
        }

        p {
          margin: 0;
          color: var(--background-azul);
          line-height: 1.5;
          font-size: 0.875rem;
          flex: 1;
          
          // Truncate text after 4 lines
          display: -webkit-box;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .p-carousel-prev,
      .p-carousel-next {
        color: var(--primary-color);
      }
    }
  }
}
