:host {
  --review-title-size: 3rem;
  --review-heading-size: 1.79469rem;
  --review-text-size: 0.95719rem;
  --card-padding: 0.5rem;
  --content-height: 4rem;
}

.community-reviews {
  h3 {
    color: var(--background-azul-color-letra);
    font-size: var(--review-title-size);
    font-weight: 500;
    margin-bottom: calc(var(--card-padding) * 4);
    text-align: center;
  }
}

app-reviews {
  display: block;
}

app-reviews ::ng-deep .reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--card-padding);
}

@media (min-width: 993px) {
  :host {
    --review-title-size: 3rem;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  :host {
    --review-title-size: 1.8rem;
  }

  .community-reviews h3 {
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  :host {
    --review-title-size: 2rem;
  }

  .community-reviews h3 {
    font-weight: 600;
  }

  app-reviews ::ng-deep .reviews-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  :host {
    --review-title-size: 1.5rem;
  }
}
