.reviews-section {
  h3 {
    color: var(--background-azul-color-letra);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  ::ng-deep {
    .p-carousel {
      .padre {
        padding: 0.5rem;
        height: 100%;
        background-color: transparent;
        .p-card {
          padding: 0.5rem;

          .p-card-title {
            color: var(--background-azul);
            font-size: 1.79469rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.8545rem;
          }

          .p-card-subtitle {
            color: var(--p-primary-color);
            font-size: 0.95719rem;
            font-style: normal;
            font-weight: 700;
            line-height: 0.95719rem;
          }

          .p-card-content {
            color: var(--background-azul);
            font-size: 0.95719rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            height: 4rem;
            width: 250px;

            .review-text-container {
              color: var(--background-azul);
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              max-height: 4rem; // ajusta esto según necesites
            }
          }
          .p-card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;

            .date {
              color: var(--p-primary-color);
              font-size: 0.95719rem;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
            }

            .p-rating {
              .p-rating-icon {
                color: var(--p-primary-color);
                font-size: 1rem;

                &.p-rating-icon-active {
                  color: var(--p-primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}
