:host {
  --review-title-size: 3rem;
  --review-heading-size: 1.79469rem;
  --review-text-size: 0.95719rem;
  --card-padding: 0.5rem;
  --content-height: 4rem;
}

.community-reviews {
  h3 {
    color: var(--background-azul-color-letra);
    font-size: var(--review-title-size);
    font-weight: 400;
    margin-bottom: calc(var(--card-padding) * 4);
  }
}