@mixin flex($d: row, $j: flex-start, $a: stretch, $g: 0) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
    @if $g != 0 {
        gap: $g;
    }
}

@mixin button($s: 12px, $p: 6px 12px, $h: 30px) {
    font-size: $s;
    padding: $p;
    border-radius: 20px;
    height: $h;
    @include flex(row, center, center);
}

$a: var(--background-azul);
$p: var(--p-primary-color);

.active-bookings {
    margin: 0 15px;

    .booking-header {
        @include flex(row, space-between, center);
        padding: 1rem 0;
        cursor: pointer;
        background: 0;
        border: 0;
        span {
            font-size: 18px;
            font-weight: 700;
            color: $a;
        }
        .pi {
            font-size: 12px;
            font-weight: 700;
            &.down {
                color: $p;
            }
            &.up {
                color: $a;
            }
        }
    }

    .booking-content.hidden {
        display: none;
    }

    .booking-item {
        background: #fff;
        border-radius: 10px;
        margin-bottom: 1rem;
        padding: 0.6rem;
        .booking-item-content {
            display: grid;
            grid-template-columns: 200px 1fr 150px 200px;
            gap: 1rem;
            align-items: start;
        }
    }

    .image-container {
        width: 100%;
        max-width: 200px;
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
        background: #ccc;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .info-sections {
        margin-top: 5px;
        @include flex(column, center, stretch, 0.5rem);
        .title-section h2 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            color: $a;
        }
        .info-content {
            display: grid;
            gap: 0.25rem;
            margin-right: 80px;
            .info-row {
                @include flex(row, space-between, center);
                font-size: 12px;
                .label {
                    min-width: 80px;
                    color: $a;
                }
                .value {
                    flex: 0.2;
                    color: $a;
                    text-align: right;
                    padding-left: 10px;
                }
                .budget {
                    font-weight: 700;
                }
            }
        }
    }

    .info-right {
        @include flex(column, flex-start, stretch, 0.5rem);
        gap: 3rem;
        margin-top: 5px;
        .departure-info {
            span,
            strong {
                font-size: 16px;
                color: $a;
            }
            strong {
                margin-left: 15px;
            }
            .state {
                margin-left: 5px;
                background-color: $a;
                color: #fff !important;
                padding: 1px 5px;
                border-radius: 5px;
                font-size: 0.7rem !important;
            }
        }
        .passenger-price {
            margin-top: 5px;
            @include flex(row, flex-start, center, 1rem);
            i,
            span,
            strong {
                font-size: 16px;
                color: $p;
            }
            .num-users {
                background-color: $p;
                color: #fff;
                padding: 1px 6px;
                border-radius: 5px;
                font-size: 0.7em;
            }
        }
    }
    .buttons[_ngcontent-ng-c3944280590] {
        gap: 1.8rem;
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }

    .buttons {
        @include flex(column, space-between, stretch, 0.5rem);
        margin-top: 5px;
        width: 100%;
        .top-buttons {
            @include flex(row, flex-start, center, 0.5rem);
            width: 100%;
            ::ng-deep .p-button-outlined {
                border: 1.5px solid $a;
                color: $a;
            }
            .p-button {
                flex: 1;
                @include button;
            }
            .sendbtn {
                background-color: $a;
                border: 0;
            }
        }
        .p-button-rounded {
            width: 100%;
            @include button;
        }
    }

    ::ng-deep {
        .p-dataview .p-dataview-content {
            background: 0;
            border: 0;
            padding: 0;
            border-radius: 8px;
        }
        .p-paginator {
            background: 0;
            border: 0;
            padding: 1rem 0;
            .p-paginator-element {
                color: $a;
            }
            .p-paginator-element.p-paginator-page.p-highlight,
            .p-paginator-page.p-paginator-page-selected {
                background: $p;
                color: #fff;
            }
        }
    }
}

// Media Queries
@media screen and (max-width: 1366px) {
    .active-bookings .booking-item .booking-item-content {
        grid-template-columns: 150px 1fr 130px 160px;
        gap: 0.75rem;
        .image-container {
            margin-top: 6px;
            max-width: 150px;
            height: 85px;
        }
        .info-content {
            margin-right: 20px;
        }
        .info-right {
            gap: 2.5rem;
            margin-left: -20px;
            .departure-info span,
            .departure-info strong,
            .passenger-price i,
            .passenger-price span,
            .passenger-price strong {
                font-size: 14px;
            }
        }
        .buttons {
            gap: 1.5rem;
            .top-buttons {
                gap: 0.25rem;
                .p-button {
                    @include button(11px, 4px 8px);
                }
            }
            .p-button-rounded {
                @include button(11px, 4px 8px);
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .active-bookings .booking-item {
        padding: 0.75rem;
        .booking-item-content {
            grid-template-columns: 120px 1fr 1fr !important;
            grid-template-rows: auto auto;
            gap: 0.75rem !important;
            align-items: center;
            .image-container {
                max-width: 120px !important;
                height: 80px !important;
                grid-row: 1;
                grid-column: 1;
                margin: auto 0;
            }
            .info-sections {
                grid-row: 1;
                grid-column: 2;
                padding-right: 0.5rem;
                .title-section h2 {
                    font-size: 14px;
                }
                .info-content .info-row {
                    font-size: 11px;
                    .label {
                        min-width: 70px;
                    }
                }
            }
            .info-right {
                gap: 2.4rem;
                margin-left: -25px;
                grid-row: 1;
                grid-column: 3;
                font-size: 14px;
                .departure-info span,
                .departure-info strong,
                .passenger-price i,
                .passenger-price span,
                .passenger-price strong {
                    font-size: 14px;
                }
                .passenger-price {
                    margin-top: 10px;
                    gap: 0.5rem;
                    height: 30px;
                }
            }
            .buttons {
                grid-row: 2;
                grid-column: 1 / -1;
                margin: 0;
                flex-direction: column;
                gap: 1.2rem;
                padding-top: 0.5rem;
                .top-buttons {
                    gap: 0.25rem;
                    .p-button {
                        @include button(11px, 4px 8px, 28px);
                    }
                }
                .p-button-rounded {
                    @include button(11px, 4px 8px, 28px);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) and (min-width: 769px) {
    .active-bookings .booking-item .booking-item-content {
        .info-right {
            gap: 2.6rem;
            margin-left: -30px;
        }
        .image-container {
            margin-top: 8px;
            @include flex(row, center, center);
        }
    }
}

@media screen and (max-width: 768px) {
    .active-bookings .booking-item {
        padding: 1rem;
        .booking-item-content {
            grid-template-columns: 1fr !important;
            gap: 1rem !important;
            .image-container {
                max-width: 100% !important;
                height: 180px !important;
            }
            .info-sections,
            .buttons {
                margin-top: 8px;
            }
            .info-right {
                margin-top: -5px;
                margin-left: 0;
                gap: 1.5rem;
            }
            .buttons {
                margin-top: -10px;
                gap: 1rem;
            }
            .info-right .passenger-price {
                margin-top: -20px;
                height: 36px;
            }
            .info-sections .info-content .info-row {
                &:not(.status) {
                    grid-template-columns: 1fr;
                    gap: 0.5rem;
                }
                &.status {
                    grid-template-columns: auto 1fr;
                    .label {
                        width: auto;
                    }
                }
            }
        }
    }
}
