<div class="active-bookings">
    <div class="booking-header" (click)="toggleContent()">
        <span>Historial de viajes</span>
        <i class="pi" [ngClass]="{'pi-chevron-down': !isExpanded, 'pi-chevron-up': isExpanded}"></i>
    </div>

    <div class="booking-content" [ngClass]="{'hidden': !isExpanded}">
        <p-table
            [value]="travels"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            styleClass="p-datatable-striped"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
            <ng-template pTemplate="header">
                <tr>
                    <th>Reserva</th>
                    <th>Fecha</th>
                    <th>Destino</th>
                    <th>Salida</th>
                    <th>Origen</th>
                    <th>Pax</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-travel>
                <tr>
                    <td class="booking-column">{{ travel.bookingNumber }}</td>
                    <td>{{ travel.date }}</td>
                    <td>{{ travel.destination }}</td>
                    <td>{{ travel.departure }}</td>
                    <td>{{ travel.origin }}</td>
                    <td>{{ travel.passengers }}</td>
                    <td>
                        <button 
                            pButton 
                            label="Ver reserva" 
                            class="p-button-rounded">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>