<div class="active-bookings">
    <div class="booking-header" (click)="toggleContent()">
        <span>Historial de viajes</span>
        <i class="pi" [ngClass]="{'pi-chevron-down down': !isExpanded, 'pi-chevron-up up': isExpanded}"></i>
    </div>

    <div class="booking-content" [ngClass]="{'hidden': !isExpanded}">
        <p-dataView
            #dv
            [value]="travels"
            [rows]="5"
            [paginator]="true"
            styleClass="transparent-dataview"
        >
            <ng-template #list let-travels>
                <div class="booking-list">
                    <div class="booking-item" *ngFor="let travel of travels">
                        <div class="booking-item-content">
                            <div class="image-container">
                                <img [src]="travel.image" alt="travel.destination"/>
                            </div>

                            <div class="info-sections">
                                <div class="title-section">
                                    <h2>{{ travel.destination }}</h2>
                                </div>
                                <div class="info-content">
                                    <div class="info-row">
                                        <span class="label">Nº Reserva:</span>
                                        <span class="value budget">{{ travel.bookingNumber }}</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">Fecha:</span>
                                        <span class="value">{{ travel.date | date : "dd/MM/yyyy" }}</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">Origen:</span>
                                        <span class="value">{{ travel.origin }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="info-right">
                                <div class="departure-info">
                                    <span>Salida: </span>
                                    <strong>{{ travel.departure }}</strong>
                                </div>
                                <div class="passenger-price">
                                    <span class="num-users">{{ travel.passengers }}</span>
                                    <i class="pi pi-users"></i>
                                </div>
                            </div>

                            <div class="buttons">
                                <div class="top-buttons">
                                    <button
                                        pButton
                                        label="Descargar"
                                        class="p-button-outlined"
                                    ></button>
                                    <button pButton label="Enviar" class="sendbtn"></button>
                                </div>
                                <button
                                    pButton
                                    label="Ver reserva"
                                    class="p-button-rounded"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>