<div class="footer2-container">
  <div class="logo-section top-logos">
     <div class="logo-group">
       <img src="plan-optimized.jpeg" alt="Plan de Recuperación, Transformación y Resiliencia Logo" width="100" height="56" loading="lazy">
     </div>
     <div class="logo-group">
       <img src="union-optimized.jpeg" alt="European Union Flag" width="100" height="26" loading="lazy">
     </div>
     <div class="logo-group">
       <img src="gobierno-optimized.gif" alt="Gobierno de España Logo" width="100" height="32" loading="lazy">
     </div>
  </div>

  <p class="grant-text">
    Esta Empresa Ha Recibido Una Subvención De Más de 10.000 Euros Con Cargo A La "Ayudas Extraordinarias Para El Apoyo A La Solvencia Empresarial En La Comunitat
    Valençiana En Respuesta A La Pandemia De La Covid-19 - Plan Resistir Plus" Expediente: Hisolv/2021/9614/46
  </p>

  <div class="logo-section bottom-logos">
     <div class="logo-group">
       <img src="genralitat.png" alt="Generalitat Valenciana Logo" loading="lazy">
     </div>
     <div class="logo-group">
       <img src="modec.png" alt="MODEC Logo" loading="lazy">
     </div>
  </div>
</div>

