<!-- header-v2.component.html -->
<div class="header-wrapper">
  <div class="top-section">
    <p-menubar styleClass="top-menu">
      <ng-template #start>
        <img
          src="logo-different-color.webp"
          alt="Different Roads Logo"
          class="logo"
          height="50"
          width="auto"
          loading="lazy"
          [routerLink]="['/']"
          (click)="onLogoClick()"
          style="cursor: pointer"
          loading="lazy"
        />
      </ng-template>
      <ng-template #end>
        <div class="busqPerfil">
          <ng-container *ngIf="!isLoadingUser; else userSkeleton">
            <p-chip
              [label]="chipLabel"
              [icon]="chipIcon"
              [image]="chipImage"
              [alt]="chipAlt"
              (click)="isLoggedIn ? menu.toggle($event) : onChipClick()"
              [style]="{ cursor: 'pointer' }"
              styleClass="user-chip"
            >
            </p-chip>
            <p-menu #menu [model]="userMenuItems" [popup]="true" styleClass="user-popup-menu" autoDisplay="true" baseZIndex="1000"/>
          </ng-container>
          <ng-template #userSkeleton>
            <p-skeleton width="150px" height="32px" styleClass="user-skeleton"></p-skeleton>
          </ng-template>
        </div>
      </ng-template>
    </p-menubar>
  </div>
  
  <div class="bottom-section">
    <!-- Para dispositivos móviles y tablets - un único menú combinado -->
    <ng-container *ngIf="isMobileView; else desktopMenus">
      <p-menubar styleClass="nav-menu" [model]="combinedMenuItems">
        
      </p-menubar>
    </ng-container>
    
    <!-- Para desktop - menú único -->
    <ng-template #desktopMenus>
      <ng-container *ngIf="!isLoadingMenu; else menuSkeleton">
        <p-menubar [model]="leftMenuItems" styleClass="nav-menu" autoZIndex="true" autoDisplay="true" baseZIndex="1000"></p-menubar>
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #menuSkeleton>
  <div class="menu-skeleton">
    <p-skeleton width="80px" height="32px" styleClass="mr-2"></p-skeleton>
    <p-skeleton width="80px" height="32px" styleClass="mr-2"></p-skeleton>
    <p-skeleton width="80px" height="32px"></p-skeleton>
  </div>
</ng-template>

