<div class="tour-header">
  <!-- Tour Information Section -->
  <div class="tour-info">
    <div class="rating-reviews">
      <div class="rating-container" *ngIf="averageRating > 0">
        <p-rating [ngModel]="averageRating" [readonly]="true" [stars]="5"></p-rating>
        <span class="rating-value">{{ averageRating | number:'1.1-1' }}</span>
      </div>
      <a [routerLink]="[]" fragment="tour-reviews" class="review-count" *ngIf="reviewCount > 0">
        {{ reviewCount }} {{ reviewCount === 1 ? 'Review' : 'Reviews' }}
      </a>
    </div>
    <h1>Tour: {{ tour.name }}</h1>
    <div class="tour-meta">
      <span class="country">{{ tour.country }}</span>
      <span class="duration">{{ getDuration() }}</span>
    </div>
  </div>

  <!-- Tour Actions Section -->
  <div class="tour-actions">
    <!-- Marketing Badge -->
    <div class="badge" *ngIf="tour.marketingSection?.marketingTag">
      <p-message
        severity="secondary"
        variant="outlined"
        icon="pi pi-star"
        size="small"
      >
        {{ tour.marketingSection?.marketingTag }}
      </p-message>
    </div>

    <!-- Price Section -->
    <div class="price-section">
      <div class="price-info">
        <div
          class="before-price"
          *ngIf="!totalPrice && !selectedActivities.length"
        >
          <span>Antes</span>
          <span>{{ basePrice + 200 | currencyFormat : "EUR" }}</span>
        </div>
        <div class="current-price">
          <span>{{ totalPrice > 0 ? "Total" : "Desde" }}</span>
          <span class="amount">{{
            totalPrice || basePrice | currencyFormat : "EUR"
          }}</span>
        </div>
      </div>
      <div class="total-price-container">
        <div class="passengers-info" *ngIf="selectedDate && departureCity">
          <span>{{ selectedDate }}{{
              tripType.toLowerCase() === "single" || tripType.toLowerCase() === "singles"
                ? " - " + tripType
                : ""
            }}</span>
          <br />
          <span>{{ formatDepartureCity(departureCity) }}</span>
        </div>
        <span
          *ngIf="selectedActivities.length"
          [pTooltip]="getSelectedActivitiesNames()"
          tooltipPosition="bottom"
          class="activities-badge"
        >
          {{ selectedActivities.length }}
          actividad{{ selectedActivities.length > 1 ? "es" : "" }} opcional{{
            selectedActivities.length > 1 ? "es" : ""
          }}
        </span>
      </div>
    </div>

    <!-- Booking Container -->
    <div class="booking-container">
      <p-button
        label="Reservar mi tour"
        styleClass="p-button-rounded"
        [disabled]="!selectedDate || !totalPrice"
        (onClick)="bookTour()"
      ></p-button>
    </div>
  </div>
</div>
