<div class="tour-header">
  <div class="tour-info">
    <div class="rating-reviews">
      <div class="rating-container">
        <p-rating [ngModel]="4.7" [readonly]="true" [stars]="5"></p-rating>
        <span class="rating-value">4.7</span>
      </div>
      <a href="#reviews" class="review-count">200 Reviews</a>
    </div>
    <h1>{{ tour.name }}</h1>
    <div class="tour-meta">
      <span class="country">{{ tour.country }}</span>
      <span class="duration">{{ getDuration() }}</span>
    </div>
  </div>
  <div class="tour-actions">
    <div class="badge">
      <i class="pi pi-user"></i>
      <span>{{
        tour.marketingSection?.marketingTag ||
          "Plazas muy limitadas ¡Reserva ya!"
      }}</span>
    </div>
    <div class="price-section">
      <div class="price-info">
        <div class="current-price">
          <span>Desde</span>
          <span class="amount">{{ basePrice | currencyFormat : "EUR" }}</span>
          
          <!-- Contenedor normal para la información del itinerario (visible en desktop y tablet) -->
          <div class="itinerary-info-container" *ngIf="selectedDate">
            <div class="itinerary-date-info">
              <span class="amount">{{ selectedDate }} - {{ tripType }}</span>
            </div>
            <div class="departure-city-info" *ngIf="departureCity">
              <span class="amount value">{{ departureCity.toLowerCase().includes('sin') ? 'Sin vuelos incluidos' : 'Desde ' + departureCity }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Contenedor específico para móvil (solo visible en móvil) -->
    <div class="itinerary-mobile-container" *ngIf="selectedDate">
      <div class="itinerary-date-info">
        <span class="amount">{{ selectedDate }} - {{ tripType }}</span>
      </div>
      <div class="departure-city-info" *ngIf="departureCity">
        <span class="amount">{{ departureCity.toLowerCase().includes('sin') ? 'Sin vuelos incluidos' : 'Desde ' + departureCity }}</span>
      </div>
    </div>
    
    <div class="booking-container">
      <p-button label="Reservar mi tour" styleClass="p-button-rounded"></p-button>
      
      <!-- Precio total calculado -->
      <div class="total-price-container" *ngIf="totalPrice > 0">
        <div class="passengers-info">
          <span>{{ getPassengersInfo() }}</span>
        </div>
        <div class="passengers-info">
          <span>Total: {{ totalPrice | currencyFormat : "EUR" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>