<div class="tour-header">
  <!-- Tour Information Section -->
  <div class="tour-info">
    <div class="rating-reviews">
      <div class="rating-container">
        <p-rating [ngModel]="4.7" [readonly]="true" [stars]="5"></p-rating>
        <span class="rating-value">4.7</span>
      </div>
      <a href="#reviews" class="review-count">200 Reviews</a>
    </div>
    <h1>{{ tour.name }}</h1>
    <div class="tour-meta">
      <span class="country">{{ tour.country }}</span>
      <span class="duration">{{ getDuration() }}</span>
    </div>
  </div>

  <!-- Tour Actions Section -->
  <div class="tour-actions">
    <!-- Marketing Badge -->
    <div class="badge" *ngIf="tour.marketingSection?.marketingTag">
      <i class="pi pi-trophy"></i>
      <span>{{ tour.marketingSection?.marketingTag }}</span>
    </div>

    <!-- Price Section -->
    <div class="price-section">
      <div class="price-info">
        <div class="before-price">
          <span>Antes</span>
          <span>{{ basePrice + 200 | currencyFormat : "EUR" }}</span>
        </div>
        <div class="current-price">
          <span>Desde</span>
          <span class="amount">{{ basePrice | currencyFormat : "EUR" }}</span>
        </div>
      </div>
    </div>

    <!-- Booking Container -->
    <div class="booking-container">
      <p-button
        label="Reservar mi tour"
        styleClass="p-button-rounded"
        [disabled]="!selectedDate || !totalPrice"
        (onClick)="bookTour()"
      ></p-button>

      <!-- Total Price Information -->
      <div class="total-price-container" *ngIf="totalPrice > 0">
        <div class="passengers-info">
          <span>{{ selectedDate }} - {{ tripType }}</span>
          <span>{{
            departureCity.toLowerCase().includes("sin")
              ? "Sin vuelos "
              : departureCity.toLowerCase().includes("vuelo")
              ? departureCity
              : "Desde " + departureCity
          }}</span>
        </div>
        <div class="total">
          <span class="pasajeros">{{ travelersText }}</span>
          <span class="total-total">Total: </span>
          <span class="amount">{{ totalPrice | currencyFormat : "EUR" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
