<div class="cookie-consent-container">
  <div class="opacity-block-cookie"></div>

  <section *ngIf="!cookiesAccepted" class="cookies-body">
    <div class="content-wrapper">
      <div class="cookie-text">
        <div class="title" data-cy="cookies-title">Usamos cookies</div>
        <div class="description">
          Al hacer clic en «Aceptar todo», aceptas el almacenamiento de cookies
          con fines funcionales, analíticos y publicitarios.
        </div>
      </div>

      <div class="cookie-buttons">
        <button
          pButton
          type="button"
          label="Aceptar todas"
          class="p-button-primary p-button-sm"
          data-cy="button-accept-cookies"
          (click)="acceptAllCookies()"
        ></button>

        <button
          pButton
          type="button"
          label="Rechazar todas"
          class="p-button-outlined p-button-sm p-button-primary"
          data-cy="button-reject-cookies"
          (click)="rejectAllCookies()"
        ></button>

        <button
          pButton
          type="button"
          label="Más opciones"
          class="p-button-outlined p-button-sm p-button-primary"
          data-cy="button-more-options"
          (click)="showMoreOptions()"
        ></button>
      </div>

      <div class="policy-link">
        <a
          href="https://www.differentroads.es/politica-privacidad"
          target="_blank"
          rel="noopener noreferrer"
        >
          Consulta nuestra política de privacidad
        </a>
      </div>
    </div>
  </section>
</div>
