::ng-deep {
  .p-dialog {
    overflow: hidden;
  }
  .p-dialog .p-dialog-header {
    background-image: url("https://res.cloudinary.com/dxp2hxees/image/upload/v1733938229/j5a44cbk7mn3fawnt1kq.png");
    background-size: cover;
    background-position: bottom;
    height: 9rem;
  }
  .p-dialog .p-dialog-content {
    padding: 1rem 0;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--background-azul);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--background-azul);

  &-title {
    color: var(--p-primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding-top: 1rem;
  }
  &-subtitle {
    margin: 0;
    padding-bottom: 1rem;
  }
  &-tour-selected {
    background-color: #e7ebed;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    align-items: center;

    & i {
      color: var(--p-primary-color);
    }
    &-items {
      font-weight: 600;
      color: var(--p-primary-color);

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
  &-traveler-data {
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  &-footer {
    text-align: center;
  }
}

.error input {
  border-color: var(--p-primary-500);
}
