<div class="aviso-legal">
    <p class="text-center"><img src="https://www.differentroads.es/static/media/asset-legal-notice.88b100ac.webp"
            alt="Aviso legal"></p>
    <h1 class="text-center">Aviso legal</h1>
    <h2><strong>1. Aceptación de las condiciones</strong></h2>
    <p class="text-justify">El presente documento establece las Condiciones Generales de Uso de los servicios prestados
        por medio del sitio web de Different Roads, reservándose esta empresa el derecho a modificar y actualizar
        periódicamente las mismas, sin obligación de comunicación previa a los usuarios. Las presentes condiciones de
        uso no excluyen la posibilidad de que determinados servicios prestados a través de esta web site, por sus
        características particulares, sean sometidos a sus propias condiciones específicas de uso. Los usuarios que
        contraten servicios a través de la website de DIFFERENT ROADS manifiestan ser mayores de edad (18 años). En caso
        de contratación por menores de edad, se requiere la autorización de los padres o tutores para poder disfrutar
        del servicio contratado.</p>
    <p></p>
    <h2><strong>2. Descripción del servicio</strong></h2>
    <p class="text-justify">A través del website de DIFFERENT ROADS , se ofrece a los usuarios el acceso a diversa
        información acerca de viajes y servicios turísticos, posibilitando asimismo la contratación on-line de algunos
        de los servicios en él ofertados. Los usuarios podrán obtener a través de esta web site información acerca de
        los productos exclusivos de DIFFERENT ROADS, pudiendo incluso en algunos casos proceder a la contratación
        on-line de los mismos, y respecto de los cuales DIFFERENT ROADS suministra el contenido y servicio en nombre y
        por cuenta propia. Además de estos servicios, el usuario podrá formalizar reservas y contratar on-line vuelos,
        alojamientos y viajes combinados, así como otros servicios, suministrándose por parte de DIFFERENT ROADS la
        información relativa a dichos servicios, si bien la organización técnica de los mismos y formalización de
        reservas serán realizados por las agencias mayoristas, compañías aéreas, y, en general, los prestatarios de los
        servicios que en su caso correspondan, limitándose la responsabilidad de DIFFERENT ROADS a las obligaciones que
        legalmente le son atribuidas, en su calidad de agencia minorista de viajes. Esta agencia sólo se hará
        responsable de la tramitación de visados y demás documentos legales necesarios en función del destino de su
        viaje a aquellas personas cuya nacionalidad sea perteneciente a la Comunidad Europea. Toda persona cuya
        nacionalidad no corresponda a la Comunidad Europea deberá realizar los trámites legales que correspondan
        (visados, etc…) directamente con su embajada.</p>
    <p></p>
    <h2><strong>3. Obligaciones del usuario</strong></h2>
    <p class="text-justify">El usuario se compromete a hacer un uso adecuado de los servicios y contenidos que DIFFERENT
        ROADS ofrece y no emplearlos para:</p>
    <ul>
        <li class="text-justify">Realizar actividades ilícitas o constitutivas de delito, contrarias a la buena fe, la
            moral y el orden público, a los usos, y/o que infrinjan la regulación sobre propiedad intelectual e
            industrial, o cualesquiera otra norma del Ordenamiento Jurídico aplicable.</li>
        <li class="text-justify">Difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de
            apología del terrorismo, o que atenten contra los derechos humanos.</li>
        <li class="text-justify">Introducir o difundir en la red programas de datos (virus y software nocivo)
            susceptibles de provocar daños en los sistemas informáticos de DIFFERENT ROADS, sus proveedores o terceros
            usuarios de la red Internet.</li>
        <li class="text-justify">Transmitir a terceros no autorizados los nombre de usuario y las contraseñas, y si sus
            contraseñas llegan a conocimiento de un usuario no autorizado, se compromete a informar inmediatamente a
            DIFFERENT ROADS, el cual se reserva el derecho a modificar para la protección del servicio.</li>
        <li class="text-justify">Poner a disposición de los demás usuarios, enviar por e-mail o, de algún modo
            transmitir, cualquier contenido que, de acuerdo con las disposiciones aplicables o relaciones contractuales
            existentes, Usted no está autorizado a transmitir (tales como información privilegiada, información
            protegida por derechos de propiedad industrial o intelectual o información sobre la cual tiene un deber de
            confidencialidad).</li>
        <li class="text-justify">Transmitir publicidad no solicitada o autorizada, material publicitario, "correo
            basura", "cartas en cadena", "estructuras piramidales", o cualquier otra forma de solicitación, excepto en
            aquellas áreas (tales como espacios comerciales) que hayan sido exclusivamente concebidos para ello.</li>
    </ul>
    <p class="text-justify">Asimismo, se prohíbe expresamente a los usuarios a reproducir, duplicar, copiar, vender,
        revender o explotar para fines comerciales, cualquier sección del servicio, uso o acceso al mismo.</p>
    <p></p>
    <h2><strong>4. Limitación de responsabilidad</strong></h2>
    <p class="text-justify">Determinada información incluida en la website de DIFFERENT ROADS ha sido aportada por los
        prestatarios de los servicios que se ofrecen en la referida web site. Dentro del sitio web pueden realizarse
        enlaces (links) a otras webs o blogs respecto de los cuales DIFFERENT ROADS no tiene control y de cuyo contenido
        no se hace responsable. De igual forma DIFFERENT ROADS no será responsable de la disponibilidad técnica de las
        páginas web a las que el usuario acceda a través de su website. El usuario asume bajo su exclusiva
        responsabilidad los daños o perjuicios que, en su caso, pudieran derivarse del acceso a dichos contenidos, así
        como de cualquier otro daño o perjuicio ocasionado a su sistema informático por cualquier material descargado o
        de cualquier modo obtenido a través del uso de los servicios o por cualquier pérdida de datos derivada de
        descargar dicho material. Asimismo, DIFFERENT ROADS no será responsable de los daños o perjuicios derivados de
        las infracciones de cualquier usuario que afecten a los derechos de otro usuario, o de terceros, incluyendo los
        derechos de copyright, marcas, patentes, información confidencial y cualquier otro derecho de propiedad
        intelectual e industrial. DIFFERENT ROADS no será responsable de los daños y perjuicios causados al usuario en
        caso de imposibilidad de prestar los servicios objeto de las presentes condiciones generales de uso, en casos de
        fuerza mayor, caso fortuito u otras causas no imputables al mismo. Tampoco será responsable DIFFERENT ROADS del
        inadecuado uso del servicio como consecuencia de labores de mantenimiento, o una defectuosa configuración del
        equipo informático del usuario, o la insuficiente capacidad para soportar los sistemas informáticos necesarios
        para la utilización de los servicios ofrecidos.</p>
    <p></p>
    <h2><strong>5. Propiedad intelectual e industrial</strong></h2>
    <p class="text-justify">Todos los contenidos y elementos a los que el usuario pueda acceder a través de los
        servicios ofrecidos por DIFFERENT ROADS están sujetos a derechos de propiedad industrial e intelectual,
        patentes, marcas y copyright de DIFFERENT ROADS o de terceros titulares de los mismos. El acceso a dichos
        contenidos o elementos a través de los servicios prestados por DIFFERENT ROADS no otorga al usuario el derecho
        de alteración, modificación, explotación o reproducción, distribución, comunicación pública o cualquier otro
        derecho que corresponda al titular del derecho afectado. El cliente se compromete a utilizar los contenidos y/o
        elementos a los que acceda a través de los servicios ofrecidos por DIFFERENT ROADS para su propio uso y
        necesidades, y a no realizar en ningún caso una explotación comercial, directa o indirecta de los mismos.</p>
    <p></p>
    <h2><strong>6. Legislación aplicable</strong></h2>
    <p class="text-justify">Las presentes Condiciones Generales de Uso, así como la relación existente entre DIFFERENT
        ROADS y el usuario respecto de las mismas estarán regidas por la legislación española, las partes se someten, a
        su elección, para la resolución de los conflictos y con renuncia a cualquier otro fuero, a los juzgados y
        tribunales del domicilio del usuario.</p>
    <p class="text-justify">Nuestra entidad se encuentra adherida a Confianza Online (Asociación sin ánimo de lucro),
        inscrita en el Registro Nacional de Asociaciones Grupo 1, Sección 1, número nacional 594400, CIF G85804011,
        Carrera de San Jerónimo, 18, 4º 1, 28014 Madrid (España). Para más información:&nbsp;<a
            href="https://www.confianzaonline.es/" rel="noopener noreferrer" target="_blank"
            class="link-color">www.confianzaonline.es</a></p>
    <p class="text-justify">Estas Condiciones Generales se rigen por la ley española. Así mismo, en cumplimiento de lo
        dispuesto en la Ley de Resolución Alternativa de Litigios, informamos a los consumidores que, como entidad
        adherida y en los términos del Código de Conducta los usuarios podrán acudir a Confianza Online para la
        resolución alternativa de eventuales controversias (<a
            href="https://www.confianzaonline.es/como-reclamar/formulario-de-reclamaciones/" rel="noopener noreferrer"
            target="_blank"
            class="link-color">https://www.confianzaonline.es/como-reclamar/formulario-de-reclamaciones/</a>). Si éstas
        se refieren a transacciones electrónicas con consumidores, o sobre protección de datos cuando estén relacionadas
        con este ámbito, las reclamaciones serán resueltas por el Comité de Mediación de Confianza Online, acreditado
        para la resolución alternativa de litigios en materia de consumo. Si las reclamaciones versan sobre publicidad
        digital, o sobre protección de datos relacionada con este ámbito, serán sometidas al Jurado de la Publicidad de
        AUTOCONTROL.</p>
    <p class="text-justify">Además te recordamos que puedes acceder a la plataforma de resolución de litigios en línea
        de la Unión Europea siguiendo este enlace:&nbsp;<a
            href="https://ec.europa.eu/consumers/odr/main/?event=main.home2.show" rel="noopener noreferrer"
            target="_blank" class="link-color">https://ec.europa.eu/consumers/odr/main/?event=main.home2.show</a></p>
    <p></p>
    <h2><strong>7. Formas de pago</strong></h2>
    <p class="text-justify">En&nbsp;<strong>Different Roads</strong>&nbsp;te ofrecemos amplias facilidades de
        pago.&nbsp;<strong>Como norma general se pagará 60 días antes de la fecha de salida del tour</strong>, salvo
        excepciones reflejadas en el tour publicado o se hayan completado nuestros cupos de viajeros, bien por origen de
        salida aeropuerto, o bien en total tour (*).&nbsp;</p>
    <p class="text-justify">Una vez cumplimentada la reserva, para confirmarla, deberás realizar el pago del importe
        fijo o en porcentaje indicado durante el proceso de compra, o bien el 100% del importe del tour si la reserva es
        posterior a los 60 días antes de la salida del tour (*), salvo plazos de pago excepcionales previamente
        comunicados para un tour.&nbsp;</p>
    <p class="text-justify">(*)&nbsp;<strong>La empresa Different Roads S.L. se reserva el derecho de solicitar el pago
            de confirmación de plaza del 100% del importe del tour, (a criterio de la empresa), en el caso de que el
            cupo de vuelos esté al 100% antes de los 60 días de la salida del tour</strong>, ( salvo excepciones
        publicadas), o el cupo de número de viajeros esté cubierto en su totalidad, dando lugar a lista de espera.</p>
    <p class="text-justify"><strong>La forma de pago se realiza a través de tarjeta bancaria, Bizum o cualquiera
            otro&nbsp;método&nbsp;disponible&nbsp;en nuestra web.</strong>&nbsp;No obstante, antes de dicho plazo te
        enviaremos un recordatorio por email.</p>
    <p class="text-justify">En aquellos tours sujetos a la promoción 'Reserva por 1€', ( y durante el período que dure
        la promoción), podrás decidir pagar tan solo 1€ al realizar la reserva o abonar el importe publicado durante el
        proceso de reserva.&nbsp;Cualquiera de nuestras promociones están sujetas a los plazos de pago arriba indicados.
    </p>
    <p class="text-justify"><strong>En caso de pago con transferencia</strong>, deberás realizar el pago a través de una
        de las siguientes cuentas.&nbsp;<strong>La Caixa ES35 2100 1463 1702 0013 5710</strong>, a nombre de Different
        Roads S.L.&nbsp;<strong>Santander ES55 0049 0265 4423 1052 3788</strong>, a nombre de Different Roads S.L. Es
        importante que como referencia del ingreso&nbsp;<strong>indiques el número de tu pedido y tu nombre.</strong>
    </p>
    <p class="text-justify">Si deseas pagar con tarjeta, puedes hacerlo desde el Área Privada de la web, (accede con tu
        email y contraseña y pulsa en el número de tu reserva). Si no recuerdas tu contraseña, introduce tu email en ese
        apartado y haz clic en "Envíame una nueva".</p>
    <p class="text-justify"><strong>55 días antes de la salida del tour&nbsp;como norma general</strong>, salvo
        condiciones excepcionales,&nbsp;<strong>recibirás un correo con las instrucciones para realizar el
            pago.</strong></p>
    <p class="text-center"></p>
</div>