<footer class="footer">
  <div class="container">
    <div class="section logo-section">
      <div class="logo">
        <img src="white-logo.svg" alt="Different Roads" />
      </div>
    </div>

    <div class="section newsletter">
      <h2 class="title">
        Regístrate para recibir ofertas exclusivas, eventos y más
      </h2>
      <div class="inputGroup">
        <input type="text" placeholder="Escribe tu email o teléfono" />
        <button>
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>
      <div class="socialLinks">
        <a href="https://www.instagram.com/different_roads/" class="socialLink">
          <i class="pi pi-instagram"></i>
        </a>
        <a
          href="https://www.facebook.com/DifferentRoadsViajes/"
          class="socialLink"
        >
          <i class="pi pi-facebook"></i>
        </a>
        <a
          href="https://www.youtube.com/c/DifferentRoads_viajes"
          class="socialLink"
        >
          <i class="pi pi-youtube"></i>
        </a>
      </div>
      <div class="contactInfo">
        <p>{{ footerData.contactInfo.phone }}</p>
        <p>{{ footerData.contactInfo.email }}</p>
      </div>
    </div>

    <div class="section">
      <h3>Sobre Nosotros</h3>
      <ul class="links">
        <li *ngFor="let link of footerData.aboutUsLinks">
          <a [href]="link.url">{{ link.label }}</a>
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>Nuestros Viajes</h3>
      <ul class="links">
        <li *ngFor="let link of footerData.ourTripsLinks">
          <a [href]="link.url">{{ link.label }}</a>
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>Tipos de viaje</h3>
      <ul class="links">
        <li *ngFor="let link of footerData.travelTypesLinks">
          <a [href]="link.url">{{ link.label }}</a>
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>Touroperador</h3>
      <ul class="links">
        <li *ngFor="let link of footerData.tourOperatorLinks">
          <a [href]="link.url">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <div class="copyright">
      {{ footerData.copyrightText }}
    </div>
    <div class="payment">
      <img src="scalapay.svg" alt="Scalapay" />
      <img src="visa.svg" alt="Visa" />
      <img src="master.svg" alt="Mastercard" />
      <img src="group2.svg" alt="SSL" />
      <img src="Group756.svg" alt="SSL" />
    </div>
  </div>
</footer>
<app-second-footer-section></app-second-footer-section>