.traveler-selector {
  border-bottom: .0625rem solid var(--background-azul);
  color: var(--background-azul);
  padding-bottom: 1rem;

  .step {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .step-title {
      width: fit-content;
      height: fit-content;
      border-bottom: 1px solid var(--background-azul);
      font-size: 1.25rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .traveler-selector-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .traveler-selector-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .traveler-selector-wrap-item {
      align-items: flex-start;
      display: flex;
      gap: .5rem;
      justify-content: space-between;

      ::ng-deep .p-inputnumber {
        background-color: var(--accent-white);
      }

      ::ng-deep .p-inputtext {
        border: 0;
        box-shadow: none;
        color: var(--background-azul);
        text-align: center;
        width: 3.5rem;
      }

      ::ng-deep .p-inputnumber-button {
        border: 0;
        color: var(--background-azul);
      }

      .traveler-selector-wrap-item-group {
        display: flex;
        flex-direction: column;

        .traveler-selector-wrap-item-name {
          font-weight: bold;
        }

        .traveler-selector-wrap-item-description {
          color: var(--background-azul);
          font-size: .75rem;
        }
      }
    }
  }

  .traveler-selector-cradle {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .traveler-selector-cradle-label {
      margin-left: 8px;
    }
  }

  .booking-info-label {
    margin-top: 16px;
    color: #ff0000;
    font-size: 14px;
  }
}