.points-section {
    --p-datatable-row-background: var(--background-azul-color-letra);
    --p-paginator-background: var(--background-azul-color-letra);
    margin: -15px 1rem 0;
    font-size: 12px;

    @media screen and (max-width: 768px) {
        margin: -15px 0.5rem 0;
    }

    ::ng-deep {
        .p-paginator-page.p-paginator-page-selected {
            background: var(--p-primary-color);
            color: #fff;
        }
        
        .p-toolbar {
            border: none;
            background-color: transparent;
            margin: 0 -10px;
            color: var(--background-azul);
            font-weight: 700;

            .p-toolbar-group-end {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.125rem;
                font-weight: 700;
            }

            h1 {
                font-size: 1.125rem;
                font-weight: 700;
                color: var(--background-azul);
                margin: 0;
            }

            .points-display {
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }

            .search-button {
                width: 50px;
                height: 30px;
                background-color: transparent;
                color: var(--p-primary-color);
                border: 1px solid var(--p-primary-color);

                &.active {
                    background-color: transparent;
                    color: var(--background-azul);
                    border: 1px solid var(--background-azul);
                }
            }

            @media screen and (max-width: 768px) {
                padding: 0.75rem;

                .p-toolbar-group-start {
                    width: 100%;
                    margin-bottom: 0.75rem;

                    h1 {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        color: var(--background-azul);
                    }
                }

                .p-toolbar-group-end {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0.5rem;

                    .points-display {
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    .search-button {
                        width: 50px;
                        height: 30px;
                        background-color: transparent;
                        color: var(--p-primary-color);
                        border: 1px solid var(--p-primary-color);
                    }
                }
            }
        }
    }
}