<div class="politica-privacidad">
  <p class="text-center"><img src="https://www.differentroads.es/static/media/padlock_lit.703db289.webp" alt="Candado">
  </p>
  <p><strong class="primary-color">Última actualización mayo 2025</strong></p>
  <p></p>
  <p><span class="text-color">Esta es la declaración de privacidad de&nbsp;</span><a
      href="https://www.differentroads.es/" rel="noopener noreferrer" target="_blank"
      class="link-color">differentroads.es </a> <span class="text-color">en la que le explicamos cómo recogemos y
      utilizamos sus datos personales.</span></p>
  <p></p>
  <p><strong class="primary-color">1. ¿CUÁNDO SE APLICA ESTA DECLARACIÓN DE PRIVACIDAD?</strong></p>
  <p><span class="text-color">Esta declaración de privacidad se aplica a todos y cada uno de los datos personales
      relativos a usted que recogemos, utilizamos, compartimos y almacenamos cuando realiza una reserva de viaje con
      nosotros, cuando visita nuestra página web o cuando se pone en contacto con nosotros. Nuestra página web contiene
      enlaces a páginas web de terceros. Esta declaración de privacidad no es aplicable a la recogida de datos a través
      de dichas páginas web, de lo cual no somos responsables. Vea la política de privacidad de las páginas web
      pertinentes (siempre que esté disponible) para más información. </span></p>
  <p><strong class="primary-color">2. ¿QUIÉN ES RESPONSABLE DE SUS DATOS?</strong></p>
  <p><span class="text-color">Different Roads SL, agencia de viajes online con domicilio social en C/Daniel Balaciart
      nº4 , entresuelo, despachos 1 y 2, 46020 Valencia, como Responsable del Tratamiento, es el responsable de la
      recopilación y el uso de sus datos personales según se describe en la presente política de privacidad. Si tiene
      preguntas, comentarios o quejas sobre el uso de sus datos personales por parte de Different Roads SL, contacte con
      nuestros servicios de atención al cliente.</span></p>
  <p><strong class="primary-color">3. ¿QUÉ DATOS RECOGEMOS Y CÓMO?</strong></p>
  <p><span class="text-color">Recogemos cinco categorías de datos relativos a usted: (1) nombre y datos de contacto, (2)
      información de reserva, (3) información que recogemos cuando usted contacta con nuestro servicio de atención al
      cliente, (4) datos que recogemos cuando visita nuestra página web o lee nuestro boletín, e (5) información sobre
      redes sociales.</span></p>
  <p><strong class="primary-color">(1) Nombre y datos de contacto</strong></p>
  <p><span class="secondary-text">Estos son los datos que usted debe introducir cada vez que realice una reserva, e
      incluyen su nombre y apellidos, fecha de nacimiento, dirección y lugar de residencia, número de teléfono y
      dirección de correo. Si viaja acompañado, también recopilaremos parte de los datos incluidos en el apartado
      correspondiente a sus acompañantes.</span></p>
  <p><strong class="primary-color">(2) Información de reserva</strong></p>
  <p><span class="secondary-text">La información de reserva es la relativa al tour o viaje que usted haya adquirido de
      nosotros. Esta incluye, información sobre el vuelo (fecha del vuelo, destino, precio, etc.), información sobre el
      hotel que haya reservado (número de noches, tipo de habitación, precio, etc.) y los servicios que ofrece el viaje
      (transportes, guías, actividades, etc.). También registramos los posibles servicios adicionales adquiridos por
      usted, tales como, la garantía del billete de avión, el seguro de viaje o el paquete de servicios. Para la reserva
      de los billetes de avión para ciertos destinos necesitamos su número de pasaporte. Guardaremos estos números y sus
      preferencias de viajes, con su consentimiento. Cuando compre un billete de avión, se le reenviará al sitio de pago
      para que complete la compra. Para realizar el pago deberá introducir sus datos de pago, esto es, número de cuenta
      o de tarjeta de crédito. Al introducir estos datos, acepta usted que nosotros los recopilemos, utilicemos y los
      compartamos con terceros para los fines descritos en la sección 4.</span></p>
  <p><strong class="primary-color">(3) Datos que recogemos cuando se pone usted en contacto con nuestros servicios de
      atención al cliente</strong></p>
  <p><span class="secondary-text">Cuando contacte con nuestros servicios de atención al cliente por correo electrónico,
      redes sociales o teléfono, registraremos estos contactos en nuestros sistemas. Podemos grabar conversaciones
      telefónicas con fines formativos o para evitar o combatir el fraude.</span></p>
  <p><strong class="primary-color">(4) Datos que recogemos cuando utilice nuestra página web o lea nuestro
      boletín</strong></p>
  <p><span class="secondary-text">Cuando visite nuestra página, registraremos, entre otros, su dirección IP, su tipo de
      navegador y sus datos de navegación. Registraremos, por ejemplo, si busca destinos en Europa o fuera de Europa.
      También recogeremos esta información mediante cookies y tecnologías similares. Vea nuestra política de cookies
      para más información. Si recibe nuestro boletín, registraremos sus datos cuando lo abra o haga clic en algún
      enlace.</span></p>
  <p><strong class="primary-color">(5) Datos de redes sociales</strong></p>
  <p><span class="secondary-text">Según la configuración de sus redes sociales, podríamos recibir información del
      proveedor de dicho servicio. Si, por ejemplo, crea usted en Different Roads a través de su cuenta de Facebook o
      Google, podríamos recibir parte de su perfil de medios sociales, incluido su nombre de usuario, su foto de perfil,
      sus "me gusta" y sus amigos. Además, si se comunica con nosotros a través de nuestras páginas de redes sociales
      (p. ej., al hacer un comentario, subir una foto o hacer clic en "me gusta"), podríamos recibir estos datos
      también. Consulte la política de privacidad de sus proveedores de redes sociales para más información sobre los
      datos personales que recibimos y sobre cómo cambiar su configuración. Recopilamos dichos datos de tres formas: (1)
      registramos los datos que usted introduce al reservar un billete de avión o al ponerse en contacto con nuestros
      servicios de atención al cliente y (2) registramos automáticamente sus datos cuando navega por nuestra web, cuando
      abre un boletín o cuando se comunica con nosotros a través de las redes sociales.</span></p>
  <p><strong class="primary-color">4. ¿CÓMO UTILIZAMOS SUS DATOS?</strong></p>
  <p><span class="text-color">differentroads.es utiliza sus datos para cuatro fines: (1) para ofrecer y procesar
      nuestros servicios que comercializamos a través de nuestra página web y mantenernos en contacto con usted, (2)
      para investigar y mejorar nuestros servicios, (3) para realizar operaciones de marketing directo basadas en sus
      preferencias y comportamiento; y (4) para realizar nuestras tareas de administración y cumplir con la legislación
      y las normativas correspondientes.</span></p>
  <p><strong class="primary-color">(1) Para ofrecer nuestros servicios y mantenernos en contacto con usted</strong></p>
  <p><span class="text-color">Cuando usted realice una reserva a través de nosotros, utilizamos los datos según lo
      descrito en la sección 3 para ello. Utilizamos su nombre, número de pasaporte y demás datos personales. No
      utilizamos estos datos para otros fines. Utilizamos sus datos de contacto para comunicarnos con usted. Para, por
      ejemplo, enviarle la documentación del viaje. También utilizamos sus datos de contacto para responder a sus
      preguntas cuando contacta con nuestros servicios de atención al cliente. Utilizamos sus datos de pago para
      gestionar sus pagos. Nuestro departamento antifraude realiza las comprobaciones oportunas, junto con nuestro
      proveedor de servicios de pago, si se sospecha de una reserva fraudulenta empleando, por ejemplo, una tarjeta de
      crédito bloqueada o robada.</span></p>
  <p><strong class="primary-color">(2) Para investigar y mejorar nuestros servicios</strong></p>
  <p><span class="text-color">Investigamos tendencias sobre el modo en el que los visitantes y los clientes utilizan
      nuestros servicios, nuestra web, nuestros servicios de atención al cliente y nuestras redes sociales. Lo hacemos
      para comprender en profundidad el comportamiento y las preferencias de nuestros visitantes y clientes y así poder
      mejorar nuestros servicios, los contenidos de nuestra web y nuestros servicios de atención al cliente. También
      empleamos dichos conocimientos para desarrollar nuevos servicios. Para realizar estos estudios empleamos
      herramientas automáticas con las que analizamos los datos mencionados en la sección 3, incluidos sus datos de
      reserva, servicios adicionales adquiridos e información personal (sexo y domicilio). Los nombres, las direcciones
      de correo electrónico y la información que puede llevar a personas concretas no se analizan, puesto que solo nos
      interesan las tendencias generales. Tampoco utilizamos datos sensibles. También podemos combinar los datos
      analizados con otros recogidos por nosotros mediante cookies y tecnologías similares cuando visite nuestra web o
      información que recibamos de las empresas del grupo o de otras fuentes.</span></p>
  <p><strong class="primary-color">(3) Para marketing directo según sus preferencias y comportamiento</strong></p>
  <p><span class="text-color">Utilizamos sus datos para enviarle boletines, ofertas y demás mensajes promocionales. Lo
      hacemos por correo electrónico y a través de otros canales digitales, p. ej., aplicaciones y redes sociales. Para
      adaptar estos mensajes a sus preferencias y comportamiento analizamos y combinamos sus datos. Utilizamos
      herramientas automáticas que analizan sus datos, guardados en nuestra plataforma de gestión de datos. Para ello
      utilizamos su información de reserva, servicios adicionales adquiridos e información personal (sexo, domicilio y
      preferencias de vuelo). No solo analizamos y combinamos los datos introducidos por usted, sino también los
      recogidos por nosotros mediante cookies y tecnologías similares (consulte nuestra política de cookies para más
      información), redes sociales y cuando usted contacta con nuestros servicios de atención al cliente. En nuestros
      correos electrónicos incluimos ofertas personalizadas de Different Roads relativas a nuestros servicios y
      productos. Así, por ejemplo, podemos incluir ofertas sobre nuestros servicios adicionales (actividades opcionales
      de tours). Diseñamos estas ofertas a medida de sus intereses. Para determinar nuestro público podemos utilizar su
      información de reserva. Si no desea que utilicemos su dirección de correo electrónico para Públicos
      personalizados, contacte con nuestros servicios de atención al cliente. Consulte la web de su red social para más
      información sobre Públicos personalizados. También puede dar usted consentimiento para recibir anuncios
      personalizados en su timeline de Facebook u otras redes sociales mediante nuestra política de cookies. Consulte
      nuestra política de cookies para ver cómo anular su consentimiento. Procesamos sus datos personales según lo
      descrito en el presente apartado en nuestro legítimo interés y en interés de terceros con el fin de ofrecerle
      actualizaciones y ofertas relevantes. Puede darse de baja para la recepción de boletines, ofertas y demás mensajes
      promocionales en cualquier momento haciendo clic en el enlace Darse de baja incluido en el correo o contactando
      con nuestros servicios de atención al cliente. Una vez se dé de baja, seguirá recibiendo nuestros correos de
      servicios (como la confirmación de reserva y la documentación del viaje). Puede objetar a que utilicemos sus datos
      personales para fines de marketing directo en cualquier momento (consulte la sección 7).</span></p>
  <p><span class="text-color">4. Para realizar nuestras tareas de administración y cumplir con la legislación y las
      normativas correspondientes</span></p>
  <p><span class="text-color">Utilizamos sus datos personales para realizar tareas de administración interna, como el
      mantenimiento de registros, y el cumplimiento con nuestras obligaciones legales y fiscales. Recogemos y utilizamos
      sus datos personales para ofrecerle servicios, cumplir con nuestras obligaciones legales, en nuestro legítimo
      interés o en interés de terceros o con su consentimiento, por ejemplo, en situaciones de gestión de sus datos
      médicos. Si cancela su consentimiento o si no nos proporciona los datos que necesitemos para formalizar el
      contrato con usted o para cumplir con nuestras obligaciones legales, no podría utilizar nuestros servicios o
      podría hacerlo solo de forma limitada. Si procesamos sus datos personales en nuestro legítimo interés o en interés
      de terceros, tendremos en cuenta sus intereses de privacidad para alcanzar un equilibrio entre todos. Tomaremos
      medidas para salvaguardar sus intereses de privacidad y evitarle daños innecesarios, según corresponda. Nuestros
      intereses legítimos podrían estar relacionados, por ejemplo, con la seguridad o con la provisión de servicios y
      ofertas mejores. Para más información sobre estos intereses, consulte los arriba mencionados fines para los cuales
      procesamos sus datos personales. Disponemos de más información sobre la forma en que sopesamos los intereses de
      todas las partes para alcanzar un equilibrio. Siempre que procesemos sus datos personales en nuestro legítimo
      interés o en interés de terceros podrá objetar apelando a su situación personal (consulte la sección 7). El
      usuario presta su consentimiento tácito y válido para que DIFFERENT ROADS pueda tratar los datos personales así
      como la información y documentos en cualquier tipo de soporte se pongan a disposición del CANAL DE OPINIONES,
      tales como opiniones escritas, comentarios, fotografies, ficheros de vídeo o audio, en su totalidad o
      fragmentados. Esta información se autoriza para que pueda ser tratada para fines propios y no será cedida a
      terceros, de tal manera que únicamente se autoriza expresamente a DIFFERENT ROADS a hacer uso de la mencionada
      información en sus canales de comunicación propios.</span></p>
  <p><strong class="primary-color">5. ¿QUÉ TERCEROS TIENEN ACCESO A SUS DATOS?</strong></p>
  <p><span class="text-color">Podemos intercambiar sus datos con o ponerlos a disposición de terceros en el contexto de
      estos tres objetivos: (1) con socios, para implementar sus reservas, (2) con las empresas y marcas de nuestro
      grupo a efectos de servicio de soporte, investigación estadística y marketing directo; y (3) con nuestros
      proveedores que ofrecen servicios de soporte.</span></p>
  <p><span class="text-color">Solo proporcionaremos sus datos a las autoridades supervisoras, fiscales e investigadoras
      competentes si Different Roads se ve obligado a ello por ley.</span></p>
  <p><span class="text-color">1. Realización de reservas</span></p>
  <p><span class="text-color">Proporcionamos sus datos a socios directamente implicados en su realización de la reserva.
      Proporcionamos sus datos, por ejemplo, a aerolíneas y otros proveedores de servicios implicados en la
      implementación de su viaje. Cuando elija un seguro de cancelación o de viaje, proporcionaremos sus datos a la
      aseguradora.</span></p>
  <p><span class="text-color">2. Servicios de soporte del grupo, investigación y marketing directo</span></p>
  <p><span class="text-color">para proporcionar nuestros servicios confiamos en los servicios de soporte ofrecidos por
      las empresas del grupo Different Roads. Estas empresas del grupo tienen acceso a sus datos para poder desempeñar
      sus funciones empresariales. Sus datos se utilizan en estas marcas para investigación y marketing directo
      (consulte la sección 4).</span></p>
  <p><span class="text-color">3. Confianza en los servicios de soporte</span></p>
  <p><span class="text-color">Para ofrecerle nuestros servicios confiamos en terceros como proveedores de servicios TIC,
      agencias de marketing, empresas de publicidad online, empresas de tarjetas de crédito, proveedores de sitios de
      pago, proveedores de servicios en el área de prevención del fraude y reservas online. Tenemos acuerdos con estos
      terceros en los que, entre otras cosas, se estipula que estos terceros gestionarán sus datos de forma
      confidencial, garantizando convenientemente la seguridad de los mismos.</span></p>
  <p><strong class="primary-color">6. ¿CÓMO ASEGURAMOS SUS DATOS Y CUÁNTO TIEMPO LOS CONSERVAMOS?</strong></p>
  <p><span class="text-color">Different Roads ha tomado medidas de seguridad técnicas y organizativas para proteger sus
      datos ante posibles pérdidas o usos ilegales, p. ej., consulta no autorizada de sus datos. A este respecto, hemos
      tenido en cuenta las últimas tecnologías y los costes de la implementación para garantizar un nivel adecuado de
      seguridad considerando los riesgos que entrañan el procesado y la naturaleza de los datos que debemos proteger.
      Conservamos sus datos durante el tiempo necesario para alcanzar los objetivos según lo especificado en la presente
      política de privacidad, pero en general no los guardamos durante más de dos años a partir de su última interacción
      con nosotros a menos que sea necesario para cumplir con nuestras obligaciones legales o por si se dieran futuras
      disputas. Cuando ya no necesitemos sus datos los destruiremos o los convertiremos en datos anónimos para que no
      puedan vincularse a usted en modo alguno.</span></p>
  <p><strong class="primary-color">7. ¿CÓMO PUEDO EJERCER MIS DERECHOS LEGALES?</strong></p>
  <p><span class="text-color">Puede contactar con nuestros servicios de atención al cliente para ejercer cualquiera de
      los derechos que le hayan sido conferidos por las leyes de protección de datos en vigor, esto es:</span></p>
  <p><span class="text-color">(1) derecho de acceso, (2) derecho de rectificación, (3) derecho de eliminación, (4)
      derecho a la restricción del procesado, (5) derecho a la portabilidad y (6) derecho de objeción al
      procesado.</span></p>
  <p><span class="text-color">1. Derecho de acceso</span></p>
  <p><span class="text-color">Puede preguntarnos si procesamos o no alguno de sus datos personales y, en caso
      afirmativo, puede solicitar acceso a dichos datos en forma de copia. Para cumplir con una solicitud de acceso, le
      proporcionaremos también información adicional, como la finalidad del procesado, las categorías de datos
      personales afectadas y cualquier otra información necesaria para que usted pueda ejercer este derecho.</span></p>
  <p><span class="text-color">2. Derecho de rectificación</span></p>
  <p><span class="text-color">Tiene derecho a rectificar sus datos en caso de que sean inexactos o estén incompletos.
      Previa solicitud, corregiremos aquellos datos personales que sean inexactos y, a efectos de procesado,
      completaremos aquellos datos personales que estén incompletos, lo cual podría implicar la provisión de una
      declaración suplementaria</span></p>
  <p><span class="text-color">3. Derecho de eliminación</span></p>
  <p><span class="text-color">También tiene derecho a eliminar sus datos personales, lo cual implica el borrado de los
      mismos por parte de nuestra empresa y, siempre que sea posible, cualquier otro controlador al que le hayamos
      comunicado sus datos. El borrado de sus datos personales solo tendrá lugar en ciertos casos establecidos por ley y
      estipulados en el artículo 17 del GDPR. Entre ellos se incluyen situaciones en las que sus datos personales ya no
      sean necesarios con respecto a la finalidad inicial para la que hubieran sido procesados, así como situaciones en
      las que se haya dado el procesado ilegal de los mismos. Dada la forma en la que proporcionamos ciertos servicios,
      podría llevar algo de tiempo borrar las copias de seguridad.</span></p>
  <p><span class="text-color">4. Derecho a la restricción del procesado</span></p>
  <p><span class="text-color">Tiene derecho a la restricción del procesado de sus datos personales, lo que significa que
      suspenderemos el procesado de los mismos durante un cierto período. Entre las situaciones que pueden dar lugar a
      este derecho se incluyen aquellas en las que la exactitud de sus datos personales se haya visto en entredicho,
      pero necesitaremos tiempo para verificar su (in) exactitud. Este derecho no evitará que sigamos almacenando sus
      datos personales. Le informaremos antes de que se levante la restricción.</span></p>
  <p><span class="text-color">5. Derecho a la portabilidad</span></p>
  <p><span class="text-color">Su derecho de portabilidad implica que puede pedirnos que le proporcionemos sus datos
      personales de forma estructurada y en un formato de lectura automatizada estándar y que los transmitamos
      directamente a otro controlador, siempre que sea técnicamente posible. Previa solicitud y siempre que sea
      técnicamente posible, transmitiremos sus datos personales directamente al otro controlador.</span></p>
  <p><span class="text-color">6. Derecho de objeción</span></p>
  <p><span class="text-color">También tiene derecho a la objeción al procesado de sus datos personales, lo cual
      significa que puede pedirnos que no sigamos procesando sus datos personales. Esto solo se aplica en el caso de que
      los 'intereses legítimos' (incluido el establecimiento de perfiles) constituya base legal para el procesado
      (consulte el apartado 4). Usted podrá expresar su objeción al marketing directo en cualquier momento y sin cargo
      alguno en caso de que sus datos personales sean procesados para dichos fines, incluidos los fines de
      establecimiento de perfiles en la medida en que ello esté relacionado con dicho marketing directo. Siempre podrá
      ejercer este derecho simplemente revocando el consentimiento que haya dado anteriormente siguiendo las
      instrucciones que aparezcan en la comunicación de marketing en cuestión. Si ejerce este derecho, no seguiremos
      procesando sus datos personales para este fin. Pueden darse situaciones en las que estemos capacitados para
      restringir sus derechos según lo descrito en este apartado. En cualquier caso, evaluaremos cuidadosamente si dicha
      exención es aplicable y le informaremos al respecto. Así, por ejemplo, podemos denegarle el acceso cuando sea
      necesario proteger los derechos y libertades de otras personas o negarnos a borrar sus datos personales si su
      procesado fuera necesario para cumplir con nuestras obligaciones legales. También puede ponerse en contacto con
      nosotros si tiene preguntas, comentarios o quejas con respecto a la presente política de privacidad. Para ejercer
      estos derechos el usuario se puede dirigir a nosotros vía postal: C/Daniel Balaciart nº4 ,entresuelo, despachos 1
      y 2, 46020 Valencia, España. O por correo eléctronico a info&#64;differentroads.es</span></p>
  <p><strong class="primary-color">Cookies</strong></p>
  <p><span class="text-color">Para la utilización de nuestro sitio web es necesario la utilización de cookies. Las
      cookies se utilizan con la finalidad de proporcionar un medio adecuado para ahorrar tiempo en sus visitas a
      nuestra web ya que cuando nos visita recupera la información que Ud. introdujo al darse de alta y medir el uso
      ejercido sobre el sitio web por parte del Usuario. Si usted lo desea puede configurar su navegador para ser
      avisado en pantalla de la recepción de cookies y para impedir la instalación de cookies en su disco duro. La
      página web utiliza cookies, bien propias o bien de terceros, con el objeto de mejorar sus servicios y su
      funcionamiento, así como optimizar la experiencia del usuario. Por ello entendemos que, si prosigue con la
      navegación o el alta/instalación de la aplicación o servicio correspondiente y no desactiva las cookies, Usted
      está conforme con el empleo de las mismas. El objetivo de la presente Política es ayudarle a comprender el uso que
      realiza La empresa de las cookies, la finalidad de las cookies utilizadas, así como las opciones de las que
      dispone para gestionarlas.</span></p>
  <p><strong class="primary-color">¿QUÉ SON LAS COOKIES?</strong></p>
  <p><span class="text-color">Es una pequeña información enviada por un sitio web y almacenada en el navegador del
      usuario, de manera que el sitio web puede consultar la actividad previa del usuario aportandole ventajas,
      facilitándole la navegación y usabilidad de las mismas y que podrán ser actualizadas y recuperadas por las
      entidades dLa empresa responsables de su instalación. Las cookies sólo podrán ser leídas por el servicio o
      aplicación que las ha emitido y en ningún caso son archivos ejecutables, ni pueden propagarse, ni contener un
      virus. Igualmente, las cookies propias que se emplean en la página web, no recogen datos personales de los
      usuarios (nombres, apellidos, dirección, datos bancarios ni ningún otro). Además, con el fin de mejorar su
      privacidad, se ha procedido a codificar la dirección IP, manteniendo un registro de las mismas, por lo que, de
      este modo, la información que se obtenga mediante el servicio de cookies empleado por la empresa, es
      exclusivamente estadística y totalmente anónima. Adicionalmente, La empresa, para sus aplicaciones y servicios,
      utiliza el servicio analítico de IBM Unica NetInsight y Google Analytics, que tratarán la información, por cuenta
      dLa empresa, de cómo es usada la aplicación y/o servicio, con el único fin de proporcionarnos los informes de la
      actividad del mismo</span></p>
  <p><span class="text-color">Para más información puede consultar el Centro de privacidad de cada una de las
      herramientas analíticas:</span></p>
  <p><span class="text-color">Google Analytics:&nbsp;</span><a href="https://marketingplatform.google.com/about/"
      rel="noopener noreferrer" target="_blank"
      class="text-color">http://www.google.com/intl/es/analytics/learn/privacy.html</a></p>
  <p><span class="text-color">La información que genera la cookie acerca de su uso del website será directamente
      transmitida y almacenada por Google. Si usted quiere denegar el permiso para el tratamiento estadístico de los
      datos o la información con Google Analytics, puede desactivar sin problemas este servicio. Para ello, siga este
      enlace:</span></p>
  <p><span class="text-color">Google Analytics:&nbsp;</span><a
      href="https://support.google.com/analytics/answer/181881?hl=es" rel="noopener noreferrer" target="_blank"
      class="text-color">https://support.google.com/analytics/answer/181881?hl=es</a></p>
  <p><span class="text-color">IBM Unica NetInsight:&nbsp;</span><a
      href="http://www-03.ibm.com/software/products/en/on-premise-web-analytics" rel="noopener noreferrer"
      target="_blank" class="text-color">http://www-03.ibm.com/software/products/en/on-premise-web-analytics</a></p>
  <p><span class="text-color">La información que genera la cookie acerca de su uso del website será directamente
      transmitida y almacenada por IBM. Si usted quiere denegar el permiso para el tratamiento estadístico de los datos
      o la información con IBM Unica NetInsight, puede usted desactivar sin problemas este servicio mediante la
      deshabilitación de JAVASCRIPT en su navegador.</span></p>
  <p><strong class="primary-color">TIPOLOGÍAS DE COOKIES EMPLEADAS POR LA EMPRESA</strong></p>
  <p><span class="text-color">Las cookies utilizadas por La empresa son:</span></p>
  <p><span class="secondary-text">Según la entidad que las gestione:</span></p>
  <p><span class="text-color">Cookies propias: Son aquéllas cookies que se envían al equipo terminal del usuario desde
      un equipo o dominio gestionado por el grupo y desde el que se presta el servicio solicitado por el usuario.</span>
  </p>
  <p><span class="text-color">Cookies de tercero: Son aquéllas cookies que se envían al equipo terminal del usuario
      desde un equipo o dominio gestionado o no por el grupo, siendo un tercero la que trata los datos obtenidos a
      través de las cookies.</span></p>
  <p><span class="secondary-text">Según el plazo de tiempo que permanecen activadas en el equipo terminal:</span></p>
  <p><span class="text-color">Cookies de sesión: Son aquellas cookies diseñadas para recabar y almacenar datos mientras
      el usuario accede a una página web o aplicación. Se emplean para almacenar información que solo interesa conservar
      para la prestación del servicio solicitado por el usuario en una sola ocasión.</span></p>
  <p><span class="text-color">Cookies persistentes: Son aquellas cookies en el que los datos siguen almacenados en el
      terminal a los que se puede acceder y tratar durante un periodo definido por el grupo, y que puede ir de unos
      minutos a varios años.</span></p>
  <p><span class="secondary-text">Según la finalidad para la que se traten los datos obtenidos a través de las
      cookies:</span></p>
  <p><span class="text-color">Cookies técnicas: Son aquellas que permiten al usuario la navegación a través de una
      página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella
      existan.</span></p>
  <p><span class="text-color">Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con
      algunas características de carácter general predefinidas, en función de una serie de criterios en el terminal del
      usuario (por ejemplo, el idioma, el tipo de navegador a través del cual accede al servicio, la configuración
      regional desde donde accede al servicio, etc.).</span></p>
  <p><span class="text-color">Cookies de análisis: Son aquellas que permiten el seguimiento y análisis del
      comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este
      tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la
      elaboración de perfiles de navegación de los usuarios de dichos sitios, con el fin de introducir mejoras en
      función del análisis de los datos de uso que hacen los usuarios del servicio. Podrá consultar las cookies de
      análisis utilizadas por La empresa en el siguiente documento informativo (PDF, 120 KB).</span></p>
  <p><span class="text-color">Cookies publicitarias: Son aquéllas que permiten la gestión, de la forma más eficaz
      posible, de los espacios publicitarios que, en su caso, se hayan incluido en una página web, aplicación o
      plataforma desde la que se presta el servicio solicitado, en base a criterios como el contenido editado o la
      frecuencia en la que se muestran los anuncios. La empresa no integra cookies de este tipo dentro de los servicios
      web prestados al usuario.</span></p>
  <p><span class="text-color">Cookies de publicidad comportamental: Son aquéllas que permiten la gestión, de la forma
      más eficaz posible, de los espacios publicitarios que, en su caso, se haya incluido en una página web, aplicación
      o plataforma desde la que se presta el servicio solicitado. Estas cookies almacenan información del comportamiento
      de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite
      desarrollar un perfil específico para mostrar publicidad en función del mismo. La empresa no integra cookies de
      este tipo dentro de los servicios web prestados al usuario.</span></p>
  <p><span class="secondary-text">Las cookies que utiliza la web de Differentroads.es son las siguientes:</span></p>
  <p><span class="text-color">○ Cookies de Google Analytics: permiten hacer un seguimiento del sitio web mediante la
      herramienta Google Analytics, que es un servicio proporcionado por Google para obtener información de los accesos
      de los usuarios a los sitios web. Algunos de los datos almacenados para posteriores análisis son: el número de
      veces que el usuario ha visitado el sitio web, fechas de la primera y la última visita del usuario, duración de
      las visitas, página desde la que el usuario ha accedido al sitio web, el motor de búsqueda que el usuario ha usado
      para llegar al sitio web o vínculo que ha seleccionado, lugar del mundo desde el que accede el usuario, etc. La
      configuración de estas cookies está predeterminada por el servicio que ofrece Google, motivo por el cual le
      sugerimos que consulte la página de privacidad de Google,
      http://www.google.es/intl/es/policies/technologies/cookies/ para obtener más información sobre las cookies que usa
      y cómo deshabilitarlas (entendiéndose que no somos responsables del contenido o la veracidad de los sitios web de
      terceros).</span></p>
  <p><span class="text-color">○ Cookies de zopim: Utilizadas para el funcionamiento del chat. Puede obtener más
      información sobre las cookies que usa y cómo deshabilitarlas en https://www.zopim.com/privacy (entendiéndose que
      no somos responsables del contenido o la veracidad de los sitios web de terceros).</span></p>
  <p><span class="text-color">○ Cookies de la aplicación "disqus": Disqus es un servicio gratuito que permite añadir
      comentarios a diferentes elementos de este sitio web. Disqus guarda en cookies el hecho de que ya se haya
      identificado el usuario con anterioridad en este sitio web u otro para no requerirle que inicie sesión de nuevo si
      utiliza el mismo ordenador.</span></p>
  <p><span class="text-color">○ Cookies de la aplicación "disqus": Disqus es un servicio gratuito que permite añadir
      comentarios a diferentes elementos de este sitio web. Disqus guarda en cookies el hecho de que ya se haya
      identificado el usuario con anterioridad en este sitio web u otro para no requerirle que inicie sesión de nuevo si
      utiliza el mismo ordenador.</span></p>
  <p><strong class="primary-color">CONFIGURACIÓN DE LAS COOKIES</strong></p>
  <p><span class="text-color">Usted puede deshabilitar el uso de cookies cuando considere oportuno a través de las
      opciones de configuración/ajuste de su navegador, de tal forma que puede bloquear, restringir, deshabilitar o
      borrar la aceptación de cookies. No obstante, le recordamos que, en el caso de que decida cambiar la configuración
      de las cookies, el servicio prestado a través de los diferentes websites del grupo podría verse afectado parcial o
      totalmente. Le facilitamos los enlaces a los soportes de los principales navegadores Web del mercado, en los que
      podrá consultar cómo cambiar la configuración de las cookies:</span></p>
  <p><span class="text-color">Windows Internet Explorer:&nbsp;</span><a
      href="https://support.microsoft.com/en-us/topic/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d"
      rel="noopener noreferrer" target="_blank"
      class="text-color">http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies</a></p>
  <p><span class="text-color">Firefox:&nbsp;</span><a
      href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we&amp;redirectlocale=es"
      rel="noopener noreferrer" target="_blank"
      class="text-color">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></p>
  <p><span class="text-color">Google Chrome:&nbsp;</span><a href="https://support.google.com/chrome/answer/95647?hl=es"
      rel="noopener noreferrer" target="_blank"
      class="text-color">https://support.google.com/chrome/answer/95647?hl=es</a></p>
  <p><span class="text-color">Safari:&nbsp;</span><a href="https://support.apple.com/es-es/HT201265"
      rel="noopener noreferrer" target="_blank"
      class="text-color">http://support.apple.com/kb/HT1677?viewlocale=es_ES</a></p>
  <p><strong class="primary-color">REVISIÓN DE LA POLÍTICA DE COOKIES</strong></p>
  <p><span class="text-color">La empresa realizará una revisión de la Política de cookies anualmente, salvo que existan
      exigencias normativas o de otra índole que hagan necesario adaptar la Política con una periodicidad inferior. Por
      tanto, se aconseja a los usuarios que consulten periódicamente su contenido. Para más información sobre cookies,
      puede consultar la Guía sobre el uso de las cookies de la Agencia Española de Protección de Datos (PDF, 630
      KB).&nbsp;</span></p>
  <p><a href="https://www.aepd.es/" rel="noopener noreferrer" target="_blank"
      class="text-color">http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf</a>
  </p>
  <p><strong class="primary-color">Dirección IP</strong></p>
  <p><span class="text-color">Cuando se realice una reserva en la web de Different Roads, su dirección IP pasará a
      formar parte del fichero automatizado de datos de carácter personal creado por Different Roads S.L. bajo su propia
      responsabilidad, con la finalidad de analizar tendencias, administrar nuestro Sitio Web, efectuar un seguimiento
      de los patrones de tráfico, recabar información demográfica para uso disociado y la realización de actividades
      promocionales y publicitarias tanto de los productos, servicios o actividades relacionadas con la empresa. El
      Usuario presta su consentimiento para que Different Roads S.L. pueda hacer uso de sus datos de navegación
      (dirección IP) a fin de remitirle información y/o publicidad de Different Roads.</span></p>
  <p class="highlight-bg">Última actualización: febrero 2023</p>
</div>