.politica-privacidad {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;

  .text-center {
    text-align: center;
  }

  .primary-color {
    color: var(--secondary-color-500);
    font-weight: 600;
  }

  .text-color {
    color: var(--secondary-color-500);
  }

  .secondary-text {
    color: rgba(0, 0, 0, 0.85);
  }

  .link-color {
    color: rgb(24, 144, 255);
    text-decoration: none;
  }

  .highlight-bg {
    color: var(--secondary-color-500);
    background-color: var(--rose-nude-500);
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
  }
}
