<div class="home-v2-container">
  <app-hero-section-v2></app-hero-section-v2>
  <app-trip-types-section-v2></app-trip-types-section-v2>
  <app-tour-carrussel-v2 
    *ngIf="tourSectionContent"
    [content]="tourSectionContent"
    [type]="'TourSection'">
  </app-tour-carrussel-v2>
  <ng-container *ngFor="let block of blocks$ | async">
    <app-full-card-section-v2
      *ngIf="getFullSliderContent(block)"
      [content]="getFullSliderContent(block)!"
      [type]="block.type">
    </app-full-card-section-v2>
    <app-carousel-section-v2
      *ngIf="getCarouselContent(block)"
      [content]="getCarouselContent(block)!"
      [type]="block.type">
    </app-carousel-section-v2>
    <app-community-section-v2
      *ngIf="getCommunityContent(block)"
      [content]="getCommunityContent(block)!"
      [type]="block.type">
    </app-community-section-v2>
    <app-highlight-section-v2
      *ngIf="getHighlightContent(block)"
      [content]="getHighlightContent(block)!"
      [type]="block.type">
    </app-highlight-section-v2>
    <app-content-list-section-v2
      *ngIf="getContentListContent(block)"
      [content]="getContentListContent(block)!"
      [type]="block.type">
    </app-content-list-section-v2>
  </ng-container>
</div>
