<div class="auth-card-container">
  <div class="auth-card-overlay"></div>
  <div class="auth-layout">
    <div class="sign-up-form">
      <h1 class="font-base font-medium sign-up-form-title">
        ¡Inicia sesión para continuar con tu compra y aprovecha al máximo tu
        experiencia!
      </h1>

      <div>
        <p-button
          label="Iniciar sesión con Google"
          icon="pi pi-google"
          [loading]="isLoading"
          [disabled]="isLoading"
          (onClick)="signInWithGoogle()"
          variant="text"
          size="large"
          [rounded]="true"
          styleClass="btn-google"
        ></p-button>
      </div>

      <!-- Separador -->
      <p-divider align="center">
        <span class="p-tag">O iniciar sesión de forma manual </span>
      </p-divider>

      <!-- Formulario de inicio de sesión manual -->
      <form (ngSubmit)="onSubmit()" class="form-login">
        <!-- Campo de usuario -->
        <div class="input-group mt-4">
          <p-iftalabel>
            <input
              type="text"
              id="username"
              pInputText
              formControlName="username"
              [ngClass]="{ 'p-invalid': errors.username }"
              class="input-field"
            />
            <label for="username">Usuario</label>
          </p-iftalabel>
          <small *ngIf="errors.username" class="p-error">
            {{ errors.username["message"] }}
          </small>
        </div>

        <!-- Campo de contraseña -->
        <div class="input-group mt-4">
          <p-iftalabel>
            <p-password
              id="password"
              formControlName="password"
              [ngClass]="{ 'p-invalid': errors.password }"
              [toggleMask]="true"
              [feedback]="false"
              class="input-field"
            ></p-password>
            <label for="password">Contraseña</label>
          </p-iftalabel>
          <small *ngIf="errors.password" class="p-error">
            {{ errors.password["message"] }}
          </small>
        </div>

        <!-- Mensaje de error -->
        <div class="input-group mt-4">
          <small *ngIf="errorMessage" class="p-error">
            {{ errorMessage }}
          </small>
        </div>

        <!-- Enlace para recuperar contraseña -->
        <a (click)="redirectToForgetPassword()">
          <p class="sign-up-form-link">
            <span class="sign-up-form-link-span">
              ¿Has olvidado tu contraseña?
            </span>
          </p>
        </a>

        <!-- Botón de inicio de sesión -->
        <p-button
          type="submit"
          label="Iniciar sesión"
          [loading]="isLoading"
          [disabled]="isLoading"
          [rounded]="true"
          size="large"
          class="p-button-primary p-button-block mt-4"
        ></p-button>
      </form>

      <!-- Enlace para registrarse -->
      <a (click)="redirectToSignUp()">
        <span class="sign-up-form-link mt-4">
          ¿Aún no tienes cuenta?
          <span class="sign-up-form-link-span">Regístrate aquí</span>
        </span>
      </a>
    </div>
  </div>
</div>
