<div class="cards-container">
  <div class="cards-grid">
    <p-card
      *ngFor="let card of membershipCards"
      [styleClass]="getCardClass(card)"
      [style]="{ width: '100%', height: '440px' }"
    >
      <ng-template #header>
        <div class="card-image-container">
          <div class="card-image-wrapper">
            <img [alt]="card.title" [src]="card.image" class="card-image" loading="lazy"/>
          </div>
        </div>
      </ng-template>
      <ng-template #title>
        <div class="card-header">
          <span class="card-type">{{ card.type }}</span>
          <h2 class="card-title">{{ card.title }}</h2>
        </div>
      </ng-template>
      <div class="card-content">
        <div [innerHTML]="card.benefits" class="formated-content"></div>
      </div>
      <ng-template #footer>
        <div class="card-status">
          <span [class.unlocked]="card.unlocked">
            {{ getRemainingTripsText(card) }}
          </span>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
