<div class="itinerary-section">
  <h2>{{ title }}</h2>
  <p class="date" *ngIf="selectedOption && tripType">
    Resumen de tu itinerario -
    {{ selectedOption.dayOne | date : "dd/MM/yyyy" }} -
    {{ selectedOption.itineraryName }} - {{ tripType }}
  </p>
  <p-dropdown
    class="date"
    [options]="dateOptions"
    [(ngModel)]="selectedOption"
    optionLabel="label"
    optionValue="value"
    (onChange)="onDateChange($event)"
    placeholder="Elige fecha"
    [disabled]="dateOptions.length === 0"
  >
    <ng-template pTemplate="selectedItem">
      <div class="date-option-item">
        <span>{{ showPlaceholder ? "Elige fecha" : selectedDate }}</span>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="date-option-item">
        <span class="date-option-item-text">{{
          option.dayOne | date : "dd/MM/yyyy"
        }}</span>
        <span class="date-option-item-text" *ngIf="hasMultipleItineraries">{{
          option.itineraryName
        }}</span>
        <p-tag
          *ngIf="isSingleTripType(option.tripType)"
          class="trip-type"
          [styleClass]="getTripTypeClass(option.tripType)"
          [title]="getTripTypeFullName(option.tripType)"
        >
          {{ getTripTypeLabel(option.tripType) }}
        </p-tag>
        <span class="date-price">{{
          option.price | currencyFormat : "EUR"
        }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
