<div class="itinerary-section">
  <h2>{{ title }}</h2>
  <p class="date" *ngIf="selectedDate && tripType">
    Resumen de tu itinerario - {{ selectedDate }} -
    {{ tripType }}
  </p>
  <p-dropdown
    class="date"
    [options]="dateOptions"
    [(ngModel)]="selectedOption"
    optionLabel="label"
    optionValue="value"
    (onChange)="onDateChange($event)"
    placeholder="Cambiar fecha"
    [disabled]="dateOptions.length === 0"
  >
    <ng-template pTemplate="selectedItem">
      <div class="date-option-item">
        <span>{{ showPlaceholder ? "Cambiar fecha" : selectedDate }}</span>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="date-option-item">
        <span class="date-option-item-text">{{ option.label }}</span>
        <p-tag
          *ngIf="getTagConfig(option.tripType)"
          [severity]="getTagConfig(option.tripType)?.color"
        >{{ getTagConfig(option.tripType)?.value }}</p-tag>
        <span class="date-price">{{
          option.price | currencyFormat : "EUR"
        }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>