$azul: #002b57;
$coral: #f05a4c;
$border: #ea685c;

// Variables para tamaños y espaciados
$border-radius: 11.434px;
$padding-container: 12px;
$margin-bottom-standard: 15px;
$font-size-small: 0.6rem;
$font-size-normal: 0.9rem;
$font-size-title: 1.1rem;

:host {
  display: block;
  margin-bottom: 1.5rem;
}

.flights-container {
  border: 2px solid $border;
  padding: $padding-container;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom-standard;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.flight-header {
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: $azul;
  font-weight: 600;
  font-size: $font-size-title;
}

.flight-section {
  margin-bottom: $margin-bottom-standard;

  .section-title {
    margin-bottom: 3px;

    span {
      color: $coral;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.flight-info {
  margin-bottom: 10px;
}

.flight-route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.flight-column {
  flex: 1;
  min-width: 0;

  &.origin {
    padding-right: 10px;
  }

  &.destination {
    padding-left: 10px;
    text-align: right;
  }

  .time-date {
    color: $azul;
    font-size: $font-size-normal;
    white-space: nowrap;

    span {
      color: $azul;
      font-size: $font-size-normal;
    }
  }

  .airport {
    color: $azul;
    font-size: $font-size-normal;
    margin-top: 0.5px;
  }
}

.flight-duration-container {
  width: 280px;
  min-width: 280px;
  position: relative;
  text-align: center;
  margin: 0 10px;

  .duration {
    color: $azul;
    font-size: $font-size-small;
    margin-bottom: 3px;
  }

  .flight-line {
    position: relative;
    height: 6px;
    display: flex;
    align-items: center;

    .dot {
      width: 6px;
      height: 6px;
      background-color: $coral;
      border-radius: 50%;

      &.left {
        margin-right: -3px;
      }

      &.right {
        margin-left: -3px;
      }
    }

    .line {
      flex: 1;
      height: 2px;
      background-color: $coral;
    }
  }

  .flight-type {
    color: $coral;
    font-size: $font-size-small;
    margin-top: 3px;
  }
}

.flight-details {
  margin-top: 4px;
  font-size: $font-size-small;
  color: $azul;
  line-height: 1.4;
  text-align: center;
  padding: 0 20px;

  .flight-segment {
    margin-bottom: 2px;
    font-size: $font-size-small;
  }
}

.no-flights {
  text-align: center;
  padding: 20px;

  p {
    color: $azul;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .flight-route {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .flight-column {
    &.origin,
    &.destination {
      width: 100%;
      padding: 0;
    }

    &.destination {
      text-align: left;
    }
  }

  .flight-duration-container {
    width: 100%;
    margin: 0;
  }
}