<div class="payment-history-container">
  <div class="payment-row">
    <!-- Resumen del viaje usando el componente summary-table -->
    <div class="payment-column-left">
      <p-panel header="Resumen del viaje">
        <app-summary-table
          [reservationId]="bookingID"
          [refreshTrigger]="refreshTrigger"
          [isAuthenticated]="false"
          [showPointsSection]="false"
          [showTotalSection]="false"
          [showFlightSection]="false"
          [title]="'Resumen del viaje'"
          [currency]="'EUR'"
          [customClass]="'booking-summary panel-background'"
          [showTitle]="false"
        >
        </app-summary-table>
      </p-panel>
    </div>

    <!-- Información de pagos (columna derecha) -->
    <div class="payment-column-right">
      <p-panel header="Pagos">
        <div class="payment-info">
          <!-- Fila unificada de información de pagos y botones (para desktop) -->
          <div class="payment-unified-row">
            <div class="payment-info-columns">
              <div class="payment-column">
                <span class="label">Precio total</span>
                <span class="amount total">{{
                  formatCurrency(paymentInfo.totalPrice)
                }}</span>
              </div>
              <div class="payment-column">
                <span class="label">Pendiente</span>
                <span class="amount pending">{{
                  formatCurrency(paymentInfo.pendingAmount)
                }}</span>
              </div>
              <div class="payment-column">
                <span class="label">Pagado</span>
                <span class="amount paid">{{
                  formatCurrency(paymentInfo.paidAmount)
                }}</span>
              </div>
            </div>
            <div class="payment-buttons" *ngIf="paymentInfo.pendingAmount > 0">
              <p-button
                label="Realizar pago"
                icon="pi pi-dollar"
                styleClass="p-button-success"
                (onClick)="navigateToPayment()"
              ></p-button>
            </div>
          </div>
        </div>

        <p-divider></p-divider>

        <!-- Contenedor de columnas para pagos y historial -->
        <div class="payment-columns-container">
          <!-- Próximos pagos -->
          <!--   <p-panel
            header="Próximo pago"
            [styleClass]="
              deadlines && deadlines.length > 0 ? '' : 'empty-panel'
            "
          >
            <div
              *ngFor="let payment of deadlines"
              class="upcoming-payment-item"
            >
              <span class="date">{{ payment.date }}</span>
              <span class="amount">{{ payment.amount | currencyFormat }}</span>
            </div>
            <div
              *ngIf="!deadlines || deadlines.length === 0"
              class="empty-message"
            >
              No hay pagos programados
            </div>
          </p-panel> -->

          <!-- Historial de pagos -->
          <p-panel
            header="Historial de pago"
            [styleClass]="
              paymentHistory && paymentHistory.length > 0 ? '' : 'empty-panel'
            "
          >
            <div *ngFor="let item of paymentHistory" class="history-item">
              <span class="date">{{ item.createdAt | date }}</span>
              <span class="status">
                <span class="status-text">
                  {{ getStatusText(item.status) }}
                </span>
                <button
                  *ngIf="
                    isTO &&
                    item.status === 'PENDING_REVIEW' &&
                    item?.vouchers?.length
                  "
                  type="button"
                  class="p-button p-component p-button-text"
                  (click)="showReviewModal(item)"
                >
                  Ver
                </button>
              </span>
              <span class="amount">{{ item.amount | currencyFormat }}</span>
            </div>
            <div
              *ngIf="!paymentHistory || paymentHistory.length === 0"
              class="empty-message"
            >
              No hay ningun pago registrado
            </div>
          </p-panel>
        </div>
      </p-panel>
    </div>
  </div>
</div>

<!-- Modal para registrar pago -->
<p-dialog
  header="Registrar pago"
  [(visible)]="displayPaymentModal"
  [style]="{ width: '450px' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="payment-dialog"
>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
    <div class="p-field">
      <label for="amount"
        >Importe del pago<span class="required">*</span></label
      >
      <div class="p-inputgroup">
        <input
          type="number"
          pInputText
          formControlName="amount"
          id="amount"
          class="p-inputtext"
        />
        <span class="p-inputgroup-addon">€</span>
      </div>
    </div>

    <div class="p-dialog-footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        (onClick)="hidePaymentModal()"
        styleClass="p-button-outlined"
      ></p-button>
      <p-button
        label="Realizar pago"
        icon="pi pi-check"
        type="submit"
        styleClass="p-button-danger p-button-success"
        [disabled]="paymentForm.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>

<!-- NUEVO: Modal de revisión de pago -->
<p-dialog
  header="Revisión de pago"
  [(visible)]="displayReviewModal"
  [style]="{ width: '450px' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="payment-dialog"
>
  <div class="p-dialog-content">
    <p>Tranferencia de {{ selectedPayment?.amount || 0 | currencyFormat }}</p>
    <p-button
      label="Ver comprobante"
      icon="pi pi-external-link"
      (onClick)="viewPaymentReview()"
      styleClass="p-button-info"
    >
    </p-button>
  </div>
  <p *ngIf="approveMessage">
    {{ approveMessage }}
  </p>
  <div class="p-dialog-footer">
    <p-button
      label="Aprobar"
      icon="pi pi-check"
      (onClick)="approvePaymentReview()"
      styleClass="p-button-success"
      [loading]="isApproveLoading"
    >
    </p-button>
    <p-button
      label="Rechazar"
      icon="pi pi-times-circle"
      (onClick)="rejectPaymentReview()"
      styleClass="p-button-danger"
      [loading]="isRejectLoading"
    >
    </p-button>
  </div>
</p-dialog>
