<section class="tours-section">
  <h2 class="title">Planea tu viaje de este verano</h2>
  <p-dataView #dv [value]="displayedTours" [layout]="layout">
    <ng-template let-tours #grid>
      <div class="grid">
        <div
          *ngFor="let tour of displayedTours"
          class="col-12 sm:col-6 lg:col-3"
        >
          <app-tour-card [tourData]="tour" ></app-tour-card>
        </div>
      </div>
    </ng-template>
  </p-dataView>

  <div *ngIf="showMoreButton" class="tours-sectionMore">
    <p-button
      label="Ver más"
      styleClass="p-button-rounded main-btn-circle"
      (onClick)="showMoreTours()"
    >
    </p-button>
  </div>
</section>
