.tours-section {
  padding: 2rem 4rem;

  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--background-azul);
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  ::ng-deep {
    .p-dataview {
      .p-dataview-content {
        background: transparent;
        padding: 0;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  &More {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @media (min-width: 2560px) {
      margin-top: 4rem;
    }

    ::ng-deep .main-btn-circle {
      font-size: 13px;
      width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
      background: transparent;
      color: var(--p-primary-color);

      &:hover {
        background-color: var(--background-azul);
        border: var(--background-azul);
        color: white;
      }

      @media (max-width: 1024px) {
        font-size: 14px;
        width: 90px !important;
        height: 90px !important;
      }

      @media (max-width: 768px) {
        font-size: 14px;
        width: 90px !important;
        height: 90px !important;
      }

      @media (min-width: 1920px) {
        font-size: 16px;
        width: 120px !important;
        height: 120px !important;
      }

      @media (min-width: 2560px) {
        font-size: 18px;
        width: 140px !important;
        height: 140px !important;
      }

      @media (min-width: 3840px) {
        font-size: 20px;
        width: 160px !important;
        height: 160px !important;
      }
    }
  }

  @media screen and (max-width: 1366px) {
    padding: 4rem 1.2rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}
