.tours-section {
  padding: 2rem 4rem;

  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--background-azul);
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  ::ng-deep {
    .p-dataview {
      .p-dataview-content {
        background: transparent;
        padding: 0;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  &More {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @media (min-width: 2560px) {
      margin-top: 4rem;
    }

    ::ng-deep .main-btn-circle {
      font-size: 13px;
      width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
      background: transparent;
      color: var(--p-primary-color);

      &:hover {
        background-color: var(--background-azul);
        border: var(--background-azul);
        color: white;
      }

      @media (max-width: 1024px) {
        font-size: 14px;
        width: 90px !important;
        height: 90px !important;
      }

      @media (max-width: 768px) {
        font-size: 14px;
        width: 90px !important;
        height: 90px !important;
      }

      @media (min-width: 1920px) {
        font-size: 16px;
        width: 120px !important;
        height: 120px !important;
      }

      @media (min-width: 2560px) {
        font-size: 18px;
        width: 140px !important;
        height: 140px !important;
      }

      @media (min-width: 3840px) {
        font-size: 20px;
        width: 160px !important;
        height: 160px !important;
      }
    }
  }

  .tour-card {
    padding: 0.5rem;
    height: 100%;

    ::ng-deep .tour-card-wrapper {
      .p-card {
        border-radius: 1rem;
        box-shadow: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: none;

        .p-card-body {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding: 0;
        }

        .p-card-content {
          padding: 1rem;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }

      .image-container {
        position: relative;
        height: 230px;

        @media screen and (max-width: 1024px) {
          height: 220px;
        }

        @media screen and (max-width: 768px) {
          height: 240px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 9.586px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
          padding: 1rem;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;

          .rating {
            align-self: flex-start;
            background: var(--p-primary-color);
            color: var(--p-button-primary-color);
            padding: 0.2rem 0.4rem;
            border-radius: 4px;
            font-size: 0.7rem;

            @media screen and (max-width: 1024px) {
              font-size: 0.85rem;
              padding: 0.25rem 0.5rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
          }

          .indicator {
            font-weight: 500;
            font-size: 12px;
            text-align: start;
            color: var(--p-primary-color);

            @media screen and (max-width: 1024px) {
              font-size: 0.8rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.7rem;
            }
          }

          .tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: var(--p-button-primary-color);
            color: var(--background-azul);
            padding: 0.2rem 0.4rem;
            border-radius: 4px;
            font-size: 0.7rem;

            @media screen and (max-width: 1024px) {
              font-size: 0.85rem;
              padding: 0.25rem 0.5rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
          }

          .title-overlay {
            margin-top: auto;
            color: white;

            p {
              margin-bottom: 0;
              font-size: 0.8rem;

              @media screen and (max-width: 1024px) {
                font-size: 0.95rem;
              }

              @media screen and (max-width: 768px) {
                font-size: 0.9rem;
              }
            }

            h3 {
              font-size: 1.2rem;
              margin-top: 1px;
              margin-bottom: 0.3rem;

              @media screen and (max-width: 1024px) {
                font-size: 1.3rem;
                margin-bottom: 0.4rem;
              }

              @media screen and (max-width: 768px) {
                font-size: 1.2rem;
                margin-bottom: 0.3rem;
              }
            }
          }
        }
      }

      .card-footer {
        margin: 0 -1rem;
        /*  padding: 1rem; */
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .price-content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .price-section {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

          .price-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .desde {
              font-size: 0.9rem;
              color: var(--background-azul);
              margin-bottom: 0.2rem;
            }

            .price {
              font-size: 1.5rem;
              font-weight: bold;
              color: var(--background-azul);
            }
          }
        }

        .buttonVertour {
          ::ng-deep .p-button {
            border-radius: 1.5rem;
            min-width: 7rem;
            margin-top: 13px;
          }

          @media screen and (max-width: 1024px) {
            ::ng-deep .p-button {
              min-width: 6rem;
            }
          }

          @media screen and (max-width: 768px) {
            ::ng-deep .p-button {
              min-width: 6rem;
              height: 2.5rem;
              font-size: 0.9rem;
            }
          }
        }

        .months {
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;

          .month {
            display: flex;
            padding: 0.13575rem 0.33938rem;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 0.67869rem;
            font-weight: 500;
            line-height: 0.67869rem;
            background-color: #1e3d6b;
            border-radius: 0.25rem;

            &.active {
              background: var(--background-azul);
              color: white;
            }

            @media screen and (max-width: 1024px) {
              font-size: 0.65rem;
              padding: 0.12rem 0.3rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 0.6rem;
              padding: 0.1rem 0.25rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1366px) {
    padding: 4rem 1.2rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}
