<div class="condiciones-generales">
  <p class="text-center"><img src="/terms_lit.webp"
      alt="Términos y condiciones"></p>
  <h1 class="text-center">Condiciones generales</h1>
  <p></p>
  <h2><strong>Condiciones Generales de Contratación</strong></h2>
  <p>El titular de este sitio web es DIFFERENT ROADS SL, con CIF B98138704 y domicilio social en&nbsp;C/Daniel Balaciart
    nº4, entresuelo, despachos 1 y 2,46120 Valencia, inscrita en el Registro Mercantil, en el tomo 9028, folio 165, hoja
    V-133730 e inscripción 1ª, con título agencia de viajes CV-m1255-V. La dirección de correo electrónico de contacto
    con la empresa es:&nbsp;<a href="mailto:info@differentroads.es" rel="noopener noreferrer" target="_blank"
      class="link-color">info&#64;differentroads.es</a></p>
  <p>Las presentes condiciones Generales de Contratación regulan la relación de venta a distancia entre DIFFERENT ROADS
    SL y el usuario o cliente, de acuerdo con las estipulaciones legales, en especial, Real Decreto Legislativo 1/2007,
    de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y
    Usuarios y otras leyes complementarias, la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de
    Carácter Personal, y a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio
    Electrónico.</p>
  <p></p>
  <h2><strong>OBJETO DE LA PÁGINA WEB</strong></h2>
  <p>El objeto de la página es ofrecer al usuario o cliente la posibilidad de reservar viajes combinados.</p>
  <p>Se entenderá por&nbsp;<strong>viaje combinado</strong>&nbsp;la combinación previa de, por lo menos, dos de los
    elementos siguientes: i) transporte, ii) alojamiento, iii) otros servicios turísticos no accesorios del transporte o
    del alojamiento y que constituyan una parte significativa del viaje combinado; vendida u ofrecida en venta con
    arreglo a un precio global, cuando dicha prestación sobrepase las 24 horas o incluya una noche de estancia.</p>
  <p></p>
  <h2><strong>INFORMACIÓN PREVIA A LA RESERVA</strong></h2>
  <p>Las presentes condiciones Generales de Contratación regularán la relación comercial que surja entre DIFFERENT ROADS
    SL y el usuario o cliente por la contratación realizada a través de los formularios que DIFFERENT ROADS SL pone a su
    disposición en su web&nbsp;<a href="https://www.differentroads.es/" rel="noopener noreferrer" target="_blank"
      class="link-color">www.differentroads.es</a></p>
  <p>La reserva a través de los sitios web de DIFFERENT ROADS SL supondrá la aceptación expresa, por el cliente o
    usuario de las páginas, de estas condiciones, como también de las condiciones de uso establecidas para la navegación
    del usuario por las páginas propiedad de DIFFERENT ROADS SL. Asimismo el usuario o cliente declara ser mayor de edad
    y tener la capacidad jurídica y de obrar necesaria para el acceso a los sitios web de DIFFERENT ROADS SL y la
    contratación por medio de los mismos.</p>
  <p>DIFFERENT ROADS SL se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo,
    en las Condiciones Generales. Dichas modificaciones no serán aplicables de forma retroactiva y no afectarán, por
    consiguiente, a los pedidos efectuados con anterioridad a dicha modificación.</p>
  <p></p>
  <h2><strong>CARÁCTER VINCULANTE DEL PROGRAMA OFERTA</strong></h2>
  <p>La información contenida en el programa-oferta del viaje combinado será vinculante para DIFFERENT ROADS SL y el
    consumidor, salvo que concurra alguna de las siguientes circunstancias:</p>
  <ol>
    <li>Que los cambios en dicha información se hayan comunicado claramente por escrito al consumidor y usuario antes de
      la celebración del contrato y tal posibilidad haya sido objeto de expresa mención en el programa-oferta.</li>
    <li>Que se produzcan posteriormente modificaciones, previo acuerdo por escrito entre las partes contratantes.</li>
  </ol>
  <p></p>
  <h2><strong>PRECIOS</strong></h2>
  <p>DIFFERENT ROADS SL se reserva el derecho a revisiones de los precios en el caso de variaciones del precio de los
    transportes, incluido el coste del carburante, las tasas e impuestos relativos a determinados servicios y los tipos
    de cambio aplicados al viaje organizado. Cualquier revisión en los precios se comunicará con más de 20 días de
    antelación a la ejecución del servicio. El precio, en general, no incluye cualquier otro servicio que no conste
    específicamente detallado en el programa/oferta, en el contrato o en la documentación que se entrega al cliente al
    suscribirlo. En cualquier caso, y ante cualquier variación en los precios de los productos, siempre prevalecerán los
    precios publicados online en la página web. En ningún caso las ofertas publicadas en esta página web son acumulables
    entre sí, no con otras publicaciones.</p>
  <p></p>
  <h2><a href="https://www.differentroads.es/terminos-reservas#condiciones-de-cancelacion" rel="noopener noreferrer"
      target="_blank" class="link-color"><strong>CANCELACIÓN POR PARTE DE DIFFERENT ROADS S.L.</strong></a></h2>
  <p>En el supuesto de que DIFFERENT ROADS SL cancelará el viaje combinado antes de la fecha de salida acordada, por
    cualquier motivo que no sea imputable al cliente o usuario, DIFFERENT ROADS SL abonará al cliente o usuario, desde
    el momento en que se produzca la resolución del contrato, el reembolso de todas las cantidades pagadas o bien a la
    realización de otro viaje combinado de calidad equivalente o superior siempre que el organizador o detallista pueda
    proponérselo.</p>
  <p>En el supuesto de que el viaje ofrecido fuera de calidad inferior, DIFFERENT ROADS SL deberá reembolsar al cliente
    o usuario la diferencia de precio, con arreglo al contrato.</p>
  <p>La DIFFERENT ROADS SL abonará las cantidades satisfechas por el cliente antes de 14 días naturales desde la fecha
    de notificación de la cancelación del viaje combinado. El reembolso de las cantidades se realizará utilizando los
    mismos medios de pago empleados por el cliente o usuario, siempre y cuando no se haya dispuesto lo contrario.</p>
  <p>No existirá obligación de indemnizar en los siguientes supuestos:</p>
  <ul>
    <li>Cuando la cancelación se deba a que el número de personas inscritas para el viaje combinado sea inferior al
      exigido y así se comunique por escrito al cliente o usuario antes de la fecha límite fijada a tal fin en el
      contrato, que como mínimo será de 10 días de antelación mínima a la fecha prevista de iniciación del viaje.</li>
    <li>Cuando la cancelación del viaje, salvo en los supuestos de exceso de reservas, se deba a motivos de fuerza
      mayor, entendiendo por tales aquellas circunstancias ajenas a quien las invoca, anormales e imprevisibles cuyas
      consecuencias no habrían podido evitarse, a pesar de haber actuado con la diligencia debida.</li>
  </ul>
  <p></p>
  <h2><strong>CANCELACIÓN POR PARTE DEL CLIENTE O USUARIO</strong></h2>
  <p>En todo momento el usuario o consumidor puede desistir de los servicios contratados, teniendo derecho a la
    devolución de las cantidades que hubiera abonado, pero deberá indemnizar a DIFFERENT ROADS SL en las cuantías que a
    continuación se indican:</p>
  <ul>
    <li>En el caso de viajes combinados, y salvo que el desistimiento tenga lugar por causas de fuerza mayor: la
      totalidad de los gastos de gestión (75€) + los gastos de anulación, si los hubiere. Además, una penalización
      consistente en el 5 por 100 del importe total del viaje, si el desistimiento se produce con más de diez y menos de
      quince días de antelación a la fecha del comienzo del viaje; el 15 por 100 entre los días tres y diez, y el 25 por
      100 dentro de las cuarenta y ocho horas anteriores a la salida. De no presentarse a la salida, el consumidor o
      usuario está obligado al pago del importe total del viaje, abonando, en su caso, las cantidades pendientes salvo
      acuerdo entre las partes en otro sentido.</li>
    <li>En el caso de que el viaje combinado estuviera sujeto a condiciones económicas especiales de contratación, tales
      como flete de aviones, buques, tarifas especiales, etc., los gastos de anulación por desistimiento se establecerán
      de acuerdo con las condiciones acordadas entre las partes.</li>
    <li>La cancelación deberá realizarse mediante notificación, dirigiéndose al correo electrónico&nbsp;<a
        href="mailto:info@differentroads.es" rel="noopener noreferrer" target="_blank"
        class="link-color">info&#64;differentroads.es</a></li>
  </ul>
  <p></p>
  <h2><strong>PAGO Y ADQUISICIONES DE BILLETES</strong></h2>
  <p>En el proceso de Reserva y Compra Online, el cargo a su tarjeta de crédito/débito se efectuará automáticamente,
    momento a partir del cual se aplican todas las condiciones de la tarifa. Los datos sobre su tarjeta de crédito son
    introducidos directamente en la página del banco, en el TPV (Terminal Punto de venta del Banco) y no son
    introducidos ni registrados en ningún servidor de DIFFERENT ROADS SL.</p>
  <p>Al pagar con tarjeta VISA o MASTERCARD se le solicitarán siempre los siguientes datos: el número de tarjeta, la
    fecha de caducidad, y un Código de Validación que coincide con las 3 últimas cifras del número impreso en cursiva en
    el reverso de su tarjeta VISA o MASTERCARD, ofreciendo, de esta forma, más garantías acerca de la seguridad de la
    transacción.</p>
  <p>Cuando el importe de una compra hubiese sido cargado fraudulenta o indebidamente utilizando el número de una
    tarjeta de pago, su titular podrá exigir la inmediata anulación del cargo. En tal caso, las correspondientes
    anotaciones de adeudo y reabono en las cuentas del proveedor y del titular se efectuarán a la mayor brevedad.</p>
  <p>Sin embargo, si la compra hubiese sido efectivamente realizada por el titular de la tarjeta y la exigencia de
    devolución no fuera consecuencia de haberse ejercido el derecho de desistimiento o de resolución y, por tanto,
    hubiese exigido indebidamente la anulación del correspondiente cargo, aquel quedará obligado frente a DIFFERENT
    ROADS SL al resarcimiento de los daños y perjuicios ocasionados como consecuencia de dicha anulación.</p>
  <p>En el caso de compra por otros procedimientos que no sean online, una vez que DIFFERENT ROADS SL haya recibido el
    pago o el justificante del mismo se aplicarán todas las condiciones de la tarifa. Para ambos casos, a partir de ese
    momento se procede al cobro, emisión y envío de la confirmación de la reserva y la documentación. Anteriormente
    habrá dado su conformidad expresa con respecto a las fechas, servicios, tarifa y condiciones de los mismos.
    DIFFERENT ROADS SL no se hace cargo en el caso de que no reciba el email de confirmación y la documentación por
    problemas en su cuenta de correo o en su servidor. Las reservas sólo serán vinculantes una vez aceptadas por
    DIFFERENT ROADS SL mediante la Confirmación de la Reserva. El usuario debe verificar la Confirmación y notificar,
    por email, cualquier posible error, en caso contrario, a las 24 horas siguientes de la emisión de la confirmación
    realizada por DIFFERENT ROADS SL, se presumirá válida a todos los efectos con respecto a la reserva realizada, lo
    establecido en la confirmación emitida por DIFFERENT ROADS SL.</p>
  <p></p>
  <h2><strong>OFERTAS</strong></h2>
  <p>Salvo que se indique lo contrario, las ofertas publicadas en esta página web no son acumulables entre sí.</p>
  <p>En el caso de cancelación por parte del usuario y haberse adquirido el viaje mediante una promoción especial, el
    usuario perderá el depósito realizado en los siguientes casos:</p>
  <ul>
    <li>Depósito señal en la adquisición del viaje mediante una campaña especial de venta anticipada.</li>
    <li>El pago correspondiente a la adquisición de un seguro de cancelación</li>
    <li>El pago correspondiente a la reserva de servicios extras opcionales en el caso de haber incurrido en algún gasto
      en el momento de la cancelación (ejemplo: trámite de visado).</li>
  </ul>
  <p></p>
  <h2><strong>ENVÍO DE DOCUMENTACIÓN DE UN VIAJE</strong></h2>
  <p>Una vez confirmada la reserva DIFFERENT ROADS SL. enviará de manera automática un email con la confirmación de la
    reserva junto con los vouchers. Posteriormente, unos días antes de la salida del viaje reservado DIFFERENT ROADS SL.
    enviará la documentación del viaje contratado así como los billetes aéreos. En el caso de existir documentación, que
    por sus características específicas no pudiera ser enviada vía email, está se enviaría de acuerdo a las condiciones
    particulares previamente acordadas.</p>
  <p>En caso de extravío de la documentación del viaje por parte del cliente (bonos de hotel, bonos de tours, etc.) que
    ocasione pérdida de servicios, DIFFERENT ROADS SL. no se hará cargo de los gastos ocasionados por una nueva reserva
    y emisión ni de la devolución de los extravíos.</p>
  <p></p>
  <h2><strong>PASAPORTES Y VISADOS</strong></h2>
  <p>Los documentos tanto personales como familiares de todos los pasajeros (niños incluidos) deberán estar en regla y
    el cliente habrá de comprobar que el pasaporte, visado o documento nacional de identidad son los exigidos por la
    reglamentación del país que va a visitar. Serán por su cuenta la obtención del pasaporte o cualquier otro requisito
    exigido. Los ciudadanos de otras nacionalidades deberán consultar con las representaciones consulares u organismos
    competentes los requisitos de entrada a cada país. En caso de ser rechazada por alguna autoridad la documentación o
    sea denegada la entrada al país por no cumplir los requisitos o por no poseer la misma DIFFERENT ROADS SL. no será
    responsable de los gastos adicionales ni hará devolución del precio del viaje. Los menores de 18 años deben llevar
    un permiso escrito firmado por sus padres o tutores, en previsión de que el mismo pueda ser solicitado por cualquier
    autoridad.</p>
  <p></p>
  <h2><strong>EQUIPAJES</strong></h2>
  <p>En cuanto al transporte de equipaje se refiere, se entenderá que el equipaje y demás enseres personales del
    usuario, cualquiera que sea la parte del vehículo en que vayan colocados, y que se transporta por cuenta y riesgo
    del usuario. Se recomienda a los usuarios que estén presentes en todas las manipulaciones de carga y descarga de los
    equipajes. En cuanto al transporte aéreo, ferroviario, marítimo o fluvial del equipaje son de aplicación las
    condiciones establecidas por las compañías transportadoras, siendo el billete de pasaje el documento que vincula a
    las citadas compañías y el pasajero. En el supuesto de sufrir algún daño, demora en la entrega o extravío, el
    consumidor deberá presentar, en el acto, la oportuna reclamación a la compañía de transportes. En el transporte de
    equipaje y las posibles incidencias derivadas de éste quedan en este caso fuera del ámbito de gestión de la agencia.
  </p>
  <p></p>
  <h2><strong>DÍAS FESTIVOS</strong></h2>
  <p>En las fiestas propias de cada país y ciudad cabe la posibilidad de que los transportes, tiendas, museos,
    espectáculos, etc. varíen sus horarios habituales e incluso permanezcan cerrados sin previo aviso; del mismo modo
    esos días festivos se puede alterar el tránsito de las vías y prolongar la duración de los traslados. En caso de
    calles cortadas al tránsito que impidan la llegada al hotel, el traslado del equipaje desde el punto de parada
    correrá a cargo del cliente.</p>
  <p></p>
  <h2><strong>ROBOS</strong></h2>
  <p>DIFFERENT ROADS SL. no se hace responsable de las pérdidas que puedan sufrir los clientes, con motivo de cualquier
    delito perpetrado durante el viaje y su estancia en destino. Así mismo, se le informa que deben poner en
    conocimiento de las autoridades administrativas o policiales del lugar de los hechos sufridos.</p>
  <p></p>
  <h2><strong>CESIÓN DE LA RESERVA</strong></h2>
  <p>El cliente o usuario podrá ceder su reserva en el viaje combinado a una persona que reúna todas las condiciones
    requeridas para el mismo.</p>
  <p>La cesión deberá ser comunicada a DIFFERENT ROADS SL mediante un escrito, dirigiéndose al correo
    electrónico&nbsp;<a href="mailto:info@differentroads.es" rel="noopener noreferrer" target="_blank"
      class="link-color">info&#64;differentroads.es</a>, con una antelación mínima de 15 días a la fecha de inicio del
    viaje, salvo que las partes pacten un plazo menor en el contrato. En cualquier caso, si esta cesión supusiera algún
    gasto específico DIFFERENT ROADS SL se lo hará saber al cliente o usuario.</p>
  <p>El cliente o usuario que ceda su reserva en el viaje combinado y el cesionario responderán solidariamente, ante
    DIFFERENT ROADS SL del pago del saldo del precio, así como de los gastos adicionales justificados que pudiera haber
    causado dicha cesión.</p>
  <p></p>
  <h2><strong>INFORMACIÓN SOBRE EL VIAJE CONTRATADO</strong></h2>
  <p>DIFFERENT ROADS SL deberá facilitar por escrito o en cualquier otra forma en que quede constancia y con el tiempo
    necesario antes del inicio del viaje, a los consumidores y usuarios con los que hayan contratado, la siguiente
    información:</p>
  <ul>
    <li>Destinos y medios de transporte, con mención de sus características y clase.</li>
    <li>Duración, itinerario y calendario de viaje.</li>
    <li>Relación de establecimientos de alojamiento, con indicación de su tipo, situación, categoría o nivel de
      comodidad y sus principales características, así como su homologación y clasificación turística en aquellos países
      en los que exista clasificación oficial.</li>
    <li>La información de índole general sobre las condiciones aplicables a los nacionales de los Estados miembros de la
      Unión Europea en materia de pasaportes y de visados, y las formalidades sanitarias necesarias para el viaje y la
      estancia.</li>
    <li>Precio final completo del viaje combinado, incluidos los impuestos, y precio estimado de las excursiones
      facultativas. En el caso de gastos adicionales correspondientes a los servicios incluidos en el viaje combinado
      que deba asumir el consumidor y que no se abonen al organizador o detallista, información sobre su existencia y,
      si se conoce, su importe.</li>
    <li>el anticipo desembolsado, así como las condiciones de financiación que, en su caso, se oferten.</li>
    <li>Si para la realización del viaje combinado se necesita un número mínimo de inscripciones y, en tal caso, la
      fecha límite de información al consumidor y usuario en caso de anulación.</li>
    <li>Cláusulas aplicables a posibles responsabilidades, cancelaciones y demás condiciones del viaje.</li>
    <li>Nombre y domicilio del organizador del viaje combinado así como, en su caso, de su representación legal en
      España.</li>
    <li>Toda información adicional y adecuada sobre las características del viaje ofertado.</li>
  </ul>
  <p>Así mismo se especifican las siguientes condiciones aplicables a todos los circuitos que DIFFERENT ROADS SL tiene a
    la venta:</p>
  <ul>
    <li>Según la fecha de salida el orden de las visitas indicado en el programa puede verse alterado, pero no afectará
      al contenido del programa</li>
    <li>Los horarios de vuelos, incluso una vez confirmados, están sujetos a modificaciones. En caso de cambios el
      cliente será informado con la mayor antelación posible.</li>
    <li>Las tasas de aeropuerto son aproximadas, pueden variar hasta el momento de la emisión de los billetes.</li>
    <li>Los hoteles publicados son los previstos o similares. En caso de producirse algún cambio serán hoteles de la
      misma categoría que los publicados.</li>
    <li>DIFFERENT ROADS S.L. no se responsabiliza y no se hace cargo de las conexiones de vuelos de otras ciudades de
      origen de los vuelos contratados.</li>
    <li>En los viajes singles, si un cliente que haya reservado plaza en una habitación a compartir con otro cliente del
      mismo sexo finalmente no tuviese un compañero de habitación por no haberse inscrito otro viajero con el que pueda
      compartir, DIFFERENT ROADS S.L. se lo comunicará con la mayor antelación posible, y el cliente podrá elegir entre
      abonar el suplemento correspondiente a la habitación individual, o cancelar su viaje.</li>
  </ul>
  <p></p>
  <h2><strong>MODIFICACIÓN DEL CONTRATO</strong></h2>
  <ol>
    <li>En el supuesto de que, antes de la salida del viaje, el organizador se vea obligado a modificar de manera
      significativa algún elemento esencial del contrato deberá ponerlo inmediatamente en conocimiento del consumidor y
      usuario.</li>
    <li>En tal supuesto, y salvo que las partes convengan otra cosa en cláusulas negociadas individualmente, el
      consumidor y usuario podrá optar entre resolver el contrato sin penalización alguna o aceptar una modificación del
      contrato en el que se precisen las variaciones introducidas y su repercusión en el precio.</li>
    <li>El consumidor y usuario deberá comunicar la decisión que adopte al organizador dentro de los tres días
      siguientes a ser notificado de la modificación del contrato.</li>
    <li>En el supuesto de que el consumidor y usuario no notifique su decisión en los términos indicados, se entenderá
      que opta por la resolución del contrato sin penalización alguna.</li>
  </ol>
  <p></p>
  <h2><strong>CONSECUENCIAS DE LA NO PRESTACIÓN DE SERVICIOS</strong></h2>
  <ol>
    <li>En el caso de que, después de la salida del viaje, el organizador no suministre o compruebe que no puede
      suministrar una parte importante de los servicios previstos en el contrato, adoptará las soluciones adecuadas para
      la continuación del viaje organizado, sin suplemento alguno de precio para el consumidor y usuario, y, en su caso,
      abonará a este último el importe de la diferencia entre las prestaciones previstas y las suministradas. Si el
      consumidor y usuario continúa el viaje con las soluciones dadas por el organizador se considerará que acepta
      tácitamente dichas propuestas.</li>
    <li>Si las soluciones adoptadas por el organizador fueran inviables o el consumidor y usuario no las aceptase por
      motivos razonables, aquél deberá facilitar a éste, sin suplemento alguno de precio, un medio de transporte
      equivalente al utilizado en el viaje para regresar al lugar de salida o a cualquier otro que ambos hayan
      convenido, sin perjuicio de la indemnización que en su caso proceda.</li>
    <li>En caso de reclamación, el detallista o, en su caso, el organizador deberán obrar con diligencia para hallar las
      soluciones adecuadas.</li>
  </ol>
  <p></p>
  <h2><strong>RESPONSABILIDAD DE LOS ORGANIZADORES Y DETALLISTA</strong></h2>
  <p>La Agencia de Viajes Organizadora y La Detallista responderán frente al consumidor y usuario, en función de las
    obligaciones que le correspondan por su ámbito respectivo de gestión del viaje combinado, del correcto cumplimiento
    de las obligaciones derivadas del contrato, con independencia de que éstas las deban ejecutar ellos mismos u otros
    prestadores de servicios, y sin perjuicio del derecho de los organizadores y el detallista a actuar contra dichos
    prestadores de servicios.</p>
  <p>La responsabilidad frente al consumidor será solidaria de cuantos empresarios, sean organizadores o detallistas,
    concurran conjuntamente en el contrato cualquiera que sea su clase y las relaciones que existan entre ellos, sin
    perjuicio del derecho de repetición de quien responda ante el consumidor y usuario frente a quien sea imputable el
    incumplimiento o cumplimiento defectuoso del contrato en función de su respectivo ámbito de gestión del viaje
    combinado.</p>
  <p>Los organizadores y el detallista responderán, asimismo, de los daños sufridos por el consumidor y usuario como
    consecuencia de la no ejecución o ejecución deficiente del contrato. Dicha responsabilidad cesará cuando concurra
    alguna de las siguientes circunstancias:</p>
  <ol>
    <li>Que los defectos observados en la ejecución del contrato sean imputables al consumidor y usuario.</li>
    <li>Que dichos defectos sean imputables a un tercero ajeno al suministro de las prestaciones previstas en el
      contrato y revistan un carácter imprevisible o insuperable.</li>
    <li>Que los defectos aludidos se deban a motivos de fuerza mayor, entendiendo por tales aquellas circunstancias
      ajenas a quien las invoca, anormales e imprevisibles cuyas consecuencias no habrían podido evitarse, a pesar de
      haber actuado con la diligencia debida.</li>
    <li>Que los defectos se deban a un acontecimiento que el detallista, o en su caso, el organizador, a pesar de haber
      puesto toda la diligencia necesaria, no podía prever ni superar.</li>
    <li>En los supuestos de exclusión de responsabilidad por darse alguna de las circunstancias previstas en los
      párrafos anteriores, el organizador y el detallista que sean parte en el contrato estarán obligados, no obstante,
      a prestar la necesaria asistencia al consumidor y usuario que se encuentre en dificultades.</li>
    <li>El resarcimiento de los daños, que resulten del incumplimiento o de la mala ejecución de las prestaciones
      incluidas en el viaje combinado, quedará limitado con arreglo a lo previsto en los convenios internacionales
      reguladores de dichas prestaciones.</li>
    <li>No podrán establecerse excepciones mediante cláusula contractual a lo previsto en los apartados 1 y 2 de este
      capítulo.</li>
  </ol>
  <p></p>
  <h2><strong>GARANTÍA DE LA RESPONSABILIDAD CONTRACTUAL</strong></h2>
  <p>La Agencia de Viajes Organizadora y La Detallista tendrán la obligación de constituir y mantener en permanente
    vigencia una fianza en los términos que determine la Administración turística competente, para responder del
    cumplimiento de las obligaciones derivadas de la prestación de sus servicios frente a los contratantes de un viaje
    combinado y, especialmente, del reembolso de los fondos depositados y el resarcimiento por los gastos de
    repatriación en el supuesto de insolvencia o quiebra. La fianza quedará afecta al cumplimiento de las obligaciones
    que deriven de:</p>
  <ol>
    <li>Resolución firme en vía judicial de responsabilidades económicas de los organizadores y el detallista derivadas
      de la acción ejercitada por el consumidor y usuario final.</li>
    <li>Laudo dictado por las Juntas arbitrales de consumo o por los órganos de arbitraje institucionales creados por
      normas legales para un sector o un supuesto específico, previa sumisión voluntaria de las partes.</li>
  </ol>
  <p>Caso de ejecutarse la fianza, deberá reponerse en el plazo de 15 días, hasta cubrir nuevamente la totalidad inicial
    de la misma.</p>
  <p></p>
  <h2><strong>PRESCRIPCIÓN DE ACCIONES</strong></h2>
  <p>Prescribirán por el transcurso de dos años las acciones derivadas de los derechos reconocidos en este libro.</p>
  <p></p>
  <h2><strong>RÉGIMEN SANCIONADOR</strong></h2>
  <p>Lo dispuesto en este Libro no le es de aplicación el régimen de infracciones y sanciones previsto en el libro
    primero, título IV, capítulo II, siéndole de aplicación la legislación específica sobre la materia dictada por las
    Administraciones públicas competentes en materia de turismo.</p>
  <p></p>
  <h2><strong>LEGISLACIÓN Y JURISDICCIÓN APLICABLE</strong></h2>
  <p>Asimismo, DIFFERENT ROADS SL se reserva la facultad de presentar las acciones civiles o penales que considere
    oportunas por la utilización indebida de su sitio web y contenidos o por el incumplimiento de las presentes
    condiciones.</p>
  <p>La relación entre el usuario y el prestador se regirá por la normativa vigente y de aplicación en el territorio
    español. De surgir cualquier controversia las partes podrán someter sus conflictos a arbitraje o acudir a la
    jurisdicción ordinaria cumpliendo con las normas sobre jurisdicción y competencia al respecto. DIFFERENT ROADS SL
    tiene su domicilio en Valencia, España.</p>
  <p></p>
  <h2><strong>PROTECCIÓN DE DATOS</strong></h2>
  <p>De conformidad con lo que establece la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, DIFFERENT
    ROADS SL informa a los usuarios de sus websites de que los datos personales recabados por la empresa mediante los
    formularios sitos en sus páginas, serán introducidos en un fichero bajo la responsabilidad de DIFFERENT ROADS SL,
    con la finalidad de poder facilitar, agilizar y cumplir los compromisos establecidos entre ambas partes. Asimismo,
    DIFFERENT ROADS SL informa de la posibilidad de ejercer los derechos de acceso, rectificación, cancelación, y
    oposición mediante un escrito a la dirección GRAN VÍA MARQUÉS DEL TURIA 49 – 5º PTA 4 - 46005, VALENCIA.</p>
  <p>Mientras no nos comunique lo contrario, entenderemos que sus datos no han sido modificados, que usted se compromete
    a notificarnos cualquier variación y que tenemos el consentimiento para contestar cuantas consultas estime oportunas
    y para el envío de la información solicitada.</p>
  <p></p>
  <h2><strong>CONFIANZA ONLINE</strong></h2>
  <p>Las partes se someten, a su elección, para la resolución de los conflictos y con renuncia a cualquier otro fuero, a
    los juzgados y tribunales del domicilio del usuario. Asimismo, como entidad adherida a CONFIANZA ONLINE y en los
    términos de su Código Ético, en caso de controversias relativas a la contratación y publicidad online, protección de
    datos y protección de menores, el usuario podrá acudir al sistema de resolución extrajudicial de controversias de
    CONFIANZA ONLINE&nbsp;</p>
  <p>www.confianzaonline.es</p>
</div>