<div class="reviewsdiv">
  <div class="reviews-header" (click)="toggleContent()">
    <span>Mis reseñas</span>
    <i class="pi" [ngClass]="isExpanded ? 'pi-chevron-up arrow-up' : 'pi-chevron-down arrow-down'"></i>
  </div>

  <div class="reviews-content" [hidden]="!isExpanded">
    <div id="reviews-grid">
      <ng-container *ngIf="!loading; else loadingTemplate">
        <div *ngIf="reviewsCards.length > 0; else noReviews" class="reviews-grid">
          <app-reviews [reviews]="reviewsCards"></app-reviews>
        </div>
        <ng-template #noReviews>
          <div class="no-reviews">No tienes reseñas disponibles</div>
        </ng-template>
      </ng-container>
      
      <ng-template #loadingTemplate>
        <div class="reviews-grid loading">
          <div class="loading-indicator">Cargando reseñas...</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
