<div class="reviewsdiv">
  <div class="reviews-header" (click)="toggleContent()">
    <span>Mis reseñas</span>
    <i
      class="pi"
      [ngClass]="{
        'pi-chevron-down arrow-down': !isExpanded,
        'pi-chevron-up arrow-up': isExpanded
      }"
    ></i>
  </div>

  <div class="reviews-content" [ngClass]="{ hidden: !isExpanded }">
    <div id="reviews-grid">
      <div *ngIf="reviewsCards.length > 0" class="reviews-grid">
        <app-reviews [reviews]="reviewsCards"> </app-reviews>
      </div>

      <div *ngIf="loading" class="reviews-grid loading">
        <div class="loading-indicator">Cargando reseñas...</div>
      </div>
    </div>
  </div>
</div>
