.reviewsdiv {
  margin-left: 15px;
  margin-right: 16px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-right: 15px; // Solo para tablets
  }

  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    background: transparent;
    border: none;

    span {
      font-size: 18px;
      font-weight: 700;
      color: var(--background-azul);
    }

    .pi {
      font-size: 12px;
      font-weight: 700;

      &.arrow-down {
        color: var(--p-primary-color);
      }

      &.arrow-up {
        color: var(--background-azul);
      }
    }
  }
}

:host {
  --p-card-background: white;
}
