<div class="flight-itinerary">
  <div class="flight-itinerary-journey">
    <!-- Iteramos sobre cada journey (outbound e inbound) -->
    <div class="journey-item" *ngFor="let journey of journeys; let i = index">
      <div class="journey-item-departure pr-2">
        <div>
          <span class="journey-item-departure-title">Salida:</span>
          <span class="journey-item-departure-country">
            {{ journey.departure.iata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ journey.departure.time | date : "HH:mm" }}
        </span>
        <span class="journey-item-departure-date">
          {{ journey.departure.date | date : "dd-MM-yyyy" }}
        </span>
      </div>

      <div class="journey-item-flight-info space-y-2">
        <!-- Cada journey tiene su overlay panel para mostrar el timeline -->
        <p-overlayPanel #op>
          <p-timeline
            [value]="journey.timelineData"
            layout="vertical"
            align="center"
          >
            <ng-template let-item pTemplate="content">
              <p>
                <strong>Salida:</strong> {{ item.departureCity }} ({{
                  item.departureIata
                }}) -
                {{ item.departureDateTime | date : "dd-MM-yyyy HH:mm" }}
              </p>
              <p>
                <strong>Llegada:</strong> {{ item.arrivalCity }} ({{
                  item.arrivalIata
                }}) -
                {{ item.arrivalDateTime | date : "dd-MM-yyyy HH:mm" }}
              </p>
            </ng-template>
          </p-timeline>
        </p-overlayPanel>

        <span
          class="journey-item-flight-info-segments"
          (click)="op.toggle($event)"
          style="
            cursor: pointer;
            text-decoration: underline;
            color: var(--p-primary-color);
          "
        >
          {{ journey.stopsText }}
        </span>
        <span class="journey-item-flight-info-aeroline">
          {{ journey.airlineName }}
        </span>
        <span class="journey-item-flight-info-flight-hours">
          {{ journey.totalDuration }}
        </span>
      </div>

      <div class="journey-item-departure pl-2">
        <div>
          <span class="journey-item-departure-title">Llegada:</span>
          <span class="journey-item-departure-country">
            {{ journey.arrival.iata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ journey.arrival.time | date : "HH:mm" }}
        </span>
        <span class="journey-item-departure-date">
          {{ journey.arrival.date | date : "dd-MM-yyyy" }}
        </span>
      </div>
    </div>
  </div>

  <!-- Bloque de precios y botón de selección -->
  <div class="flight-itinerary-price space-y-4">
    <div class="flight-itinerary-price-wrapper">
      <span class="flight-itinerary-price-wrapper-name">
        {{ flight.name }}
      </span>
      <span class="flight-itinerary-price-wrapper-price">
        {{ getPrice() || flight.price || 0 | currencyFormat : "EUR" }}
      </span>
      <span class="flight-itinerary-price-wrapper-text">Por persona</span>
    </div>
    <p-button
      type="button"
      class="button-rounded is-primary px-6 py-3"
      (click)="selectFlight(flight)"
    >
      {{ isFlightSelected(flight) ? "Seleccionado" : "Seleccionar" }}
    </p-button>
  </div>
</div>
