.flight-itinerary {
  color: var(--background-azul);
  align-items: center;
  display: flex;
  border-radius: 1rem;
  background-color: #fff;
  width: 100%;

  &-journey {
    background-color: transparent;
    border-right: 0.0625rem solid var(--background-azul);
    width: 75%;

    .journey-item {
      align-items: center;
      display: flex;
      border-bottom: 0.0625rem solid var(--background-azul);
      justify-content: space-between;
      padding: 1rem;
      position: relative;
      z-index: 1;

      &::after {
        background-color: var(--background-azul);
        bottom: 0;
        content: "";
        height: 0.0625rem;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 90%;
        z-index: -1;
      }

      &:last-child {
        border-bottom: 0;
      }

      &-departure {
        background-color: white;
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;

        &:first-child {
          padding-right: 0.5rem;
        }

        &:last-child {
          padding-left: 0.5rem;
        }

        &-title {
          color: var(--background-azul);
          font-weight: 400;
        }

        &-country {
          font-weight: 600;
          margin-left: 0.25rem;
        }

        &-time {
          font-size: 2rem;
          font-weight: 600;
        }

        &-date {
          font-size: 0.75rem;
        }
      }

      &-flight-info {
        background-color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;

        &-scale {
          color: var(--p-primary-color);
          font-size: 0.75rem;
          text-decoration: underline;
        }

        &-aeroline {
          color: var(--background-azul);
          font-size: 1.25rem;
          font-weight: 500;
        }

        &-flight-hours {
          font-size: 0.75rem;
        }
      }
    }
  }

  &-price {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 25%;
    gap: 0.5rem;

    &-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 1;
      }

      span:last-child {
        font-size: 0.875rem;
      }
    }
  }
}
