<div class="flight-itinerary">
  <div class="flight-itinerary-journey">
    <div *ngFor="let segment of flight.outbound.segments" class="journey-item">
      <div class="journey-item-departure pr-2">
        <div>
          <span class="journey-item-departure-title">Salida:</span>
          <span class="journey-item-departure-country">
            {{ segment.departureIata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ formatTime(segment.departureTime) | date : "HH:mm" }}
        </span>
      </div>
      <div class="journey-item-flight-info space-y-2">
        <span class="journey-item-flight-info-aeroline">
          {{ segment.airline.name }}
        </span>
        <span class="journey-item-flight-info-flight-hours">
          {{ calculateFlightDuration(segment) }}
        </span>
      </div>
      <div class="journey-item-departure pl-2">
        <div>
          <span class="journey-item-departure-title">Llegada:</span>
          <span class="journey-item-departure-country">
            {{ segment.arrivalIata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ formatTime(segment.arrivalTime) | date : "HH:mm" }}
        </span>
      </div>
    </div>

    <div *ngFor="let segment of flight.inbound.segments" class="journey-item">
      <div class="journey-item-departure pr-2">
        <div>
          <span class="journey-item-departure-title">Salida:</span>
          <span class="journey-item-departure-country">
            {{ segment.departureIata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ formatTime(segment.departureTime) | date : "HH:mm" }}
        </span>
      </div>
      <div class="journey-item-flight-info space-y-2">
        <span class="journey-item-flight-info-aeroline">
          {{ segment.airline.name }}
        </span>
        <span class="journey-item-flight-info-flight-hours">
          {{ calculateFlightDuration(segment) }}
        </span>
      </div>
      <div class="journey-item-departure pl-2">
        <div>
          <span class="journey-item-departure-title">Llegada:</span>
          <span class="journey-item-departure-country">
            {{ segment.arrivalIata }}
          </span>
        </div>
        <span class="journey-item-departure-time">
          {{ formatTime(segment.arrivalTime) | date : "HH:mm" }}
        </span>
      </div>
    </div>
  </div>

  <!-- Bloque de precios y botón de selección -->
  <div class="flight-itinerary-price space-y-4">
    <div class="flight-itinerary-price-wrapper">
      <span class="flight-itinerary-price-wrapper-name">
        {{ flight.name }}
      </span>
      <span class="flight-itinerary-price-wrapper-price">
        {{ getPrice() || flight.price || 0 | currencyFormat : "EUR" }}
      </span>
      <span class="flight-itinerary-price-wrapper-text">Por persona</span>
    </div>
    <p-button
      type="button"
      class="button-rounded is-primary px-6 py-3"
      (click)="selectFlight(flight)"
    >
      {{ isFlightSelected(flight) ? "Seleccionado" : "Seleccionar" }}
    </p-button>
  </div>
</div>
