<div class="view-profile-container">
  <p-panel class="avatar-panel">
    <div class="avatar-name-section">
      <p-avatar
      [icon]="personalInfo.avatarUrl != '' ? '' : 'pi pi-user'"
      [image]="personalInfo.avatarUrl || ''"
        size="xlarge"
        shape="circle"
        [style]="{ width: '100px', height: '100px' }"
      ></p-avatar>
      <h3>{{ personalInfo.nombre}} {{personalInfo.apellido}}</h3>
    </div>
  </p-panel>

  <p-panel class="datos-panel">
    <div class="update-profile-container">
      <form class="profile-form">
        <!-- Sección de Avatar -->
        <div class="form-field">
          <label>Adjuntar foto</label>
          <p-fileUpload
            chooseIcon="pi pi-upload"
            mode="advanced"
            [maxFileSize]="maxFileSize"
            accept="image/jpeg,image/jpg,image/png,image/webp"
            [auto]="true"
            (onSelect)="onUpload($event)"
            [showUploadButton]="false"
            [showCancelButton]="false"
            chooseLabel="Adjuntar foto"
            (onRemove)="uploadedFiles = []"
            styleClass="custom-upload"
          >
            <ng-template pTemplate="content" let-files>
              <div class="upload-list" *ngIf="uploadedFiles.length">
                <div class="file-item" *ngFor="let file of uploadedFiles">
                  <span class="file-name">{{ file.name }}</span>
                </div>
              </div>
            </ng-template>
          </p-fileUpload>
        </div>

        <!-- Datos de Contacto -->
        <div class="form-field">
          <label>Nombre</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.nombre"
            name="name"
            placeholder="Ingrese su nombre"
          />
        </div>

        <div class="form-field">
          <label>Apellido</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.apellido"
            name="apellido"
            placeholder="Ingrese su apellido"
          />
        </div>

        <div class="form-field">
          <label>Email</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.email"
            name="email"
            placeholder="Ingrese su email"
            disabled
          />
        </div>

        <div class="form-field">
          <label>Teléfono</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.telefono"
            name="telefono"
            placeholder="Ingrese su teléfono"
            (input)="onTelefonoInput($event)"
            styleClass="p-inputtext-sm"
          />
        </div>

        <!-- Datos Personales -->
        <div class="form-field">
          <label>Sexo</label>
          <p-autocomplete
            [(ngModel)]="personalInfo.sexo"
            name="sexo"
            [suggestions]="filteredSexoOptions"
            (completeMethod)="filterSexo($event)"
            field="label"
            [style]="{ width: '100%' }"
            [forceSelection]="true"
            [dropdown]="true"
            placeholder="Seleccione su sexo"
            styleClass="custom-autocomplete"
          >
          </p-autocomplete>
        </div>

        <div class="form-field">
          <label>Fecha de nacimiento</label>
          <p-calendar
            [(ngModel)]="personalInfo.fechaNacimiento"
            name="fechaNacimiento"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione una fecha"
            styleClass="p-calendar-sm custom-calendar"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <div class="form-field">
          <label>Ciudad</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.ciudad"
            name="ciudad"
            placeholder="Ingrese su ciudad"
            (input)="onCiudadInput($event)"
          />
        </div>

        <div class="form-field">
          <label>Código postal</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.codigoPostal"
            name="codigoPostal"
            placeholder="Ingrese su código postal"
            (input)="onCodigoPostalInput($event)"
          />
        </div>

        <div class="form-field">
          <label>Nacionalidad</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.nacionalidad"
            name="nacionalidad"
            placeholder="Ingrese su nacionalidad"
            (input)="onNacionalidadInput($event)"
          />
        </div>

        <!-- Datos DNI -->
        <div class="form-field">
          <label>DNI</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.dni"
            name="dni"
            placeholder="Ingrese su DNI"
          />
        </div>

        <div class="form-field">
          <label>Fecha de expedición (DNI)</label>
          <p-calendar
            [(ngModel)]="personalInfo.fechaExpedicionDni"
            name="fechaExpedicionDni"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione una fecha"
            styleClass="p-calendar-sm custom-calendar"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <div class="form-field">
          <label>Fecha de caducidad (DNI)</label>
          <p-calendar
            [(ngModel)]="personalInfo.fechaCaducidadDni"
            name="fechaCaducidadDni"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione una fecha"
            styleClass="p-calendar-sm custom-calendar"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <!-- Datos Pasaporte -->
        <div class="form-field">
          <label>Número de Pasaporte</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.pasaporte"
            name="pasaporte"
            placeholder="Ingrese su número de pasaporte"
            (input)="onPasaporteInput($event)"
          />
        </div>

        <div class="form-field">
          <label>País de expedición (Pasaporte)</label>
          <input
            pInputText
            [(ngModel)]="personalInfo.paisExpedicion"
            name="paisExpedicion"
            placeholder="Ingrese el país de expedición"
            (input)="onPaisExpedicionInput($event)"
          />
        </div>

        <div class="form-field">
          <label>Fecha de expedición (Pasaporte)</label>
          <p-calendar
            [(ngModel)]="personalInfo.fechaExpedicionPasaporte"
            name="fechaExpedicion"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione una fecha"
            styleClass="p-calendar-sm custom-calendar"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <div class="form-field">
          <label>Fecha de vencimiento (Pasaporte)</label>
          <p-calendar
            [(ngModel)]="personalInfo.fechaVencimientoPasaporte"
            name="fechaVencimiento"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione una fecha"
            styleClass="p-calendar-sm custom-calendar"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <!-- Botones -->
        <div class="button-container">
          <div class="btn-save">
            <p-button
              label="Guardar"
              styleClass="p-button-primary"
              (onClick)="onSubmit()"
            >
            </p-button>
          </div>
          <div class="btn-cancel">
            <p-button
              label="Cancelar"
              styleClass="p-button-text"
              (onClick)="onCancel()"
            >
            </p-button>
          </div>
        </div>
      </form>
    </div>
  </p-panel>
</div>