<div class="personal-data-container">
  <p-panel header="Pasajeros">
    <div class="passengers-container">
      <div class="passenger-row">
        <!-- Tarjetas de pasajeros -->
        <div *ngFor="let pass of passengers" class="passenger-card">
          <app-passenger-card 
            [passenger]="pass"
            [bookingId]="bookingId"
            [travelerId]="pass._id || ''"    
            (passengerUpdated)="updatePassenger($event)">
          </app-passenger-card>
        </div>
      </div>
    </div>
  </p-panel>
</div>