<div
  id="mlb2-6075553"
  class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-6075553"
>
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">
        <div class="ml-form-embedContent">
          <h4>
            Unete a la comunidad Different y descubre todas nuestras novedades
          </h4>
          <p>
            Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet
            consectetur.
          </p>
        </div>
        <form
          class="ml-block-form"
          action="https://static.mailerlite.com/webforms/submit/l1x1u8"
          data-code="l1x1u8"
          method="post"
          target="_blank"
        >
          <div class="ml-form-formContent horozintalForm">
            <div class="ml-form-horizontalRow">
              <div class="ml-input-horizontal">
                <div style="width: 100%" class="horizontal-fields">
                  <div
                    class="ml-field-group ml-field-email ml-validate-email ml-validate-required"
                  >
                    <input
                      type="email"
                      class="form-control"
                      data-inputmask=""
                      name="fields[email]"
                      placeholder="Escribe tu email"
                      autocomplete="email"
                    />
                  </div>
                </div>
              </div>
              <div class="ml-button-horizontal primary">
                <button type="submit" class="primary">Unirme</button>
                <button
                  disabled="disabled"
                  style="display: none"
                  type="button"
                  class="loading"
                >
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>
            </div>
          </div>
          <input type="hidden" name="ml-submit" value="1" />
          <div class="ml-mobileButton-horizontal">
            <button type="submit" class="primary">¡Me apunto!</button>
            <button
              disabled="disabled"
              style="display: none"
              type="button"
              class="loading"
            >
              <div class="ml-form-embedSubmitLoad"></div>
              <span class="sr-only">Loading...</span>
            </button>
          </div>
          <input type="hidden" name="anticsrf" value="true" />
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4>¡Tu viaje empieza ahora!</h4>
          <p>
            Ahora ya formas parte de la comunidad de Different Roads. Prepárate
            porque tu próximo destino esté más cerca de lo que imaginas...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
