:host {
  --newsletter-primary: #002b57;
  --newsletter-background: #e5f2ff;
  --newsletter-button: #ea685c;
  --newsletter-text: #6a6a6a;
  --newsletter-input-text: #aaa;
}

.section {
  background-color: var(--newsletter-primary);
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: var(--newsletter-primary);
  padding: 2rem;
  border-radius: 0.7rem;
  margin: 0 auto;
  width: 100%;
}

.mlformembedWrapper {
  display: flex;
  padding: 2rem 4.48675rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.71788rem;
  border: 1px solid #000;
  background: var(--newsletter-background);

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.mlformembedBodyHorizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 10%;

  .content {
    flex: 0 0 60%;
    width: 60%;
    max-width: 60%;
  }

  .form {
    flex: 0 0 30%;
    width: 30%;
    max-width: 30%;
    margin: 1rem 0 0 0;

    @media (max-width: 768px) {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    gap: var(--spacing-md);
    
    .content {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}

.content {
  display: flex;
  //width: 34.09913rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.19644rem;
  text-align: left;
  flex:60%;

  h4 {
    color: var(--newsletter-primary);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    color: var(--newsletter-primary);
    font-size: 0.95rem;
    margin: 0;
  }
}

.form {
  margin: 1rem 0 0 0;
  //width: 33rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.mlformhorizontalRow {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #fff;
  border: 1px solid var(--newsletter-primary);
  border-radius: 25px;
  padding: 0.5rem;
  justify-content: space-between;
}

.mlimputhorizontal {
  width: 100%;
  display: flex;
  align-items: center;
}

.horizontalFields {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
  width: 100%;
}

.mlfieldemail {
  text-align: left !important;

  input {
    width: 100%;
    font-size: 0.95rem;
    color: var(--newsletter-input-text);
    border: none;
    outline: none;

    &:focus-visible {
      border: none;
    }
  }
}

.mlbuttonhorizontal button {
  background-color: var(--newsletter-button) !important;
  border-color: var(--newsletter-button);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  box-shadow: none;
  color: #fff !important;
  cursor: pointer;
  font-family: 'General Sans', sans-serif;
  font-weight: 700;
  padding: 7px !important;
  width: 7.5rem;
  height: auto;

  &:hover {
    opacity: 0.9;
  }
}

.ml-form-successBody {
  text-align: center;
  
  h4 {
    font-size: 1.8rem;
    color: var(--newsletter-primary);
  }

  p {
    font-size: 1rem;
    color: var(--newsletter-primary);
  }
}
