// blog-section.component.scss
.tourSection {
  padding: 2rem 6rem;

  @media (max-width: 768px) {
    padding: 2rem 4rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 2rem;
  }

  &Title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
  }

  &More {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    button {
      width: 100px;
      height: 100px;
    }
  }
}

.tourCard {
  margin-top: 1rem;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &Image {
    position: relative;
    width: 100%;
    height: 200px; // Ajusta la altura de la imagen
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 480px) {
      height: 150px;
    }
  }

  &Location {
    display: block;
    color: #1a1a1a;
    font-size: 0.875rem;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  &Title {
    font-size: 1.25rem; // Ajusta el tamaño del título
    color: #1a1a1a;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    padding: 0 1rem;
  }

  &Buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0 1rem;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
      gap: 0.25rem;
    }

    &Travel {
      display: flex;
      gap: 0.5rem;
      border-radius: 200px;
      border-color: #ff6b6b;
      color: #ff6b6b;
      align-items: center;
      white-space: nowrap;
      font-size: 0.875rem;
      padding: 0.5rem 1rem;

      @media (max-width: 480px) {
        padding: 0.5rem 0.75rem;
        gap: 0.25rem;
      }

      &:hover {
        border-color: #4dabf7;
        background-color: #4dabf7;
        color: white;
      }
    }

    &More {
      display: flex;
      gap: 0.5rem;
      background-color: #ff6b6b;
      border-radius: 200px;
      border-color: #ff6b6b;
      align-items: center;
      white-space: nowrap;
      font-size: 0.875rem;
      padding: 0.5rem 1rem;

      @media (max-width: 480px) {
        padding: 0.5rem 0.75rem;
      }

      &:hover {
        background-color: #4dabf7;
        border-color: #4dabf7;
        color: white;
      }
    }
  }
}

.tourImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
