.blog {
  padding: 2rem 4rem;

  @media (max-width: 768px) {
    padding: 2rem 3rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 2rem;
  }

  &Title {
    text-align: center;
    color: var(--background-azul);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &More {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    ::ng-deep .main-btn-circle {
      font-size: 13px;
      width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
      background: transparent;
      color: var(--p-primary-color);

      &:hover {
        background-color: var(--background-azul);
        border: var(--background-azul);
        color: white;
      }
    }
  }
}

::ng-deep .blogCard {
  background: transparent;
  border: none;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none !important;

  .p-card-body {
    padding: 0.5rem;
  }

  .blogCardImage {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    object-fit: cover;

    @media (max-width: 480px) {
      height: 300px;
    }
  }

  .blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .blogCardLocation {
    display: block;
    color: var(--background-azul);
    font-size: 13px;
  }

  .blogCardTitle {
    font-size: 1rem;
    color: var(--background-azul);
    font-weight: 600;
    line-height: 1.5;
  }

  .blogCardButtons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;

    ::ng-deep .p-button {
      font-size: 13px;
      /* border-radius: var(--p-button-rounded-border-radius); */
      background-color: var(--p-primary-color);
      border-color: var(--p-primary-color);
      color: white;

      &:hover {
        background-color: var(--background-azul);
        border-color: var(--background-azul);
        color: white;
      }
    }

    ::ng-deep .blogCardButtonsTravel {
      background-color: transparent;
      border-color: var(--p-primary-color);
      color: var(--p-primary-color);

      &:hover {
        background-color: var(--background-azul);
        border-color: var(--background-azul);
        color: white;
      }
    }
  }
}
