<!-- blog-section.component.html -->
<section class="tourSection">
 <!--  <h2 class="tourSectionTitle">{{ title }}</h2>
  <div class="tourSectionGrid">
    <p-card *ngFor="let item of blogList" class="tourCard">
      <div class="tourCardImage">
        <img [src]="item.image[0].url" [alt]="item.image[0].alt" class="tourImage" />
      </div>
      <span class="tourCardLocation">{{ item.subtitle }}</span>
      <h3 class="tourCardTitle">{{ item.title }}</h3>
      <div class="tourCardButtons">
        <p-button *ngIf="item.travels?.btntext" [label]="item.travels.btntext" icon="pi pi-arrow-right" class="tourCardButtonsTravel"></p-button>
        <p-button label="Leer más" class="tourCardButtonsMore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="tourSectionMore">
    <p-button [label]="'Ver más'" class="main-btn-circle"></p-button>
  </div> -->
</section>