<div class="community-gallery">
  <div *ngFor="let image of communityImages" class="community-gallery-card">
    <img
      [src]="image.url"
      [alt]="'Image from ' + image.location"
      class="community-gallery-card-img"
    />
    <div class="community-gallery-card-info">
      <span class="community-gallery-card-info-location">
        <span>{{ image.location }}</span>
        <i class="pi pi-map-marker"></i>
      </span>
      <span class="community-gallery-card-info-username">
        <i class="pi pi-instagram"></i>
        <span>
          {{ image.username }}
        </span>
      </span>
    </div>
  </div>
</div>
