.community-gallery {
  --card-border-radius: 0.75rem;
  --card-text-size: 0.6875rem;
  --card-spacing: 1rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--card-spacing);
  max-width: 100%;

  &-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--card-border-radius);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 0) 85%,
        rgba(0, 0, 0, 0.5) 100%
      );
      z-index: 0;
    }

    &-img {
      width: 100%;
      height: 100%;
      border-radius: var(--card-border-radius);
      object-fit: cover;
    }

    &-info {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--card-spacing);
      z-index: 1;

      &-location,
      &-username {
        display: flex;
        align-items: center;
        color: var(--background-azul-color-letra);
        font-size: var(--card-text-size);
        font-weight: 500;
        margin: 0;
      }

      &-location {
        align-self: flex-end;

        i {
          color: var(--p-primary-color);
          margin-left: 0.25rem;
        }
      }

      &-username {
        i {
          margin-right: 0.25rem;
        }

        span {
          text-decoration: underline;
        }
      }
    }
  }
}