<div class="community-gallery">
  <div *ngFor="let card of communityImages" class="community-gallery-card">
    <img
      [src]="card.image[0].url"
      [alt]="card.image[0].alt"
      class="community-gallery-card-img"
    />
    <div class="community-gallery-card-info-location">
      <span>{{ card.location }}</span>
      <i class="pi pi-map-marker"></i>
    </div>
    <div class="community-gallery-card-info-username">
      <i class="pi pi-instagram"></i>
      <span>{{ card.account }}</span>
    </div>
  </div>
</div>
