<div class="default-flights">
  <app-default-flights
    #defaultFlights
    [departureId]="departureId"
    [reservationId]="reservationId"
    [selectedFlightFromParent]="selectedFlight"
    (flightSelectionChange)="onFlightSelectionChange($event)">
  </app-default-flights>
</div>

<!-- Botón para activar búsqueda específica -->
<div class="specific-search-toggle" *ngIf="isConsolidadorVuelosActive && !specificSearchVisible">
  <p-button
    label="Ver otras opciones de vuelos"
    icon="pi pi-search"
    (onClick)="checkAuthAndShowSpecificSearch()"
    outlined=" true"
  ></p-button>
</div>

<div class="specific-search" *ngIf="specificSearchVisible">
  <h4>Búsqueda específica de vuelos</h4>
  <app-specific-search 
    [departureId]="departureId" 
    [reservationId]="reservationId"
    [selectedFlightFromParent]="selectedFlight ? convertFlightsNetToFlightSearch(selectedFlight) : null"
    (flightSelectionChange)="onSpecificSearchFlightSelection($event)">
  </app-specific-search>
</div>

<!-- Modal de login -->
<app-login-modal
  [visible]="loginDialogVisible"
  (close)="closeLoginModal()"
  (login)="navigateToLogin()"
  (register)="navigateToRegister()"
>
</app-login-modal>
