.sobre-nosotros {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;

  .arrow {
    color: rgb(255, 51, 54);
    font-weight: bold;
  }

  .arrow-bg {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 51, 54);
    font-weight: bold;
  }

  .link-color {
    color: var(--secondary-color-500);
    text-decoration: none;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #2c3e50;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
