<p-card
  styleClass="highlight-card"
  [style]="{
    'border-radius': '1rem',
    overflow: 'hidden',
    border: 'none',
    boxShadow: 'none'
  }"
>
  <ng-template pTemplate="header">
    <img
      [src]="highlight.image || ''"
      [alt]="highlight.title"
    />
    <span
      class="status-badge"
      [class.optional]="
        !highlight.recommended && highlight.optional
      "
    >
      <i
        class="pi pi-star"
        *ngIf="highlight.recommended"
        style="font-size: 1em"
      ></i>
      {{
        highlight.recommended
          ? "Recomendada"
          : highlight.optional
          ? "Opcional"
          : "Incluida"
      }}
    </span>
  </ng-template>
  <ng-template pTemplate="content">
    <h3>{{ highlight.title }}</h3>
    <div
      [innerHTML]="highlight.description"
      class="highlight-card-description"
    ></div>
  </ng-template>
  <ng-template
    pTemplate="footer"
    *ngIf="highlight.optional"
  >
    <p-button
      (click)="onAddActivity(highlight)"
      label="{{ highlight.added ? 'Añadida' : 'Añadir' }}"
      styleClass="p-button-rounded"
    ></p-button>
    <div>
      +{{ highlight.price | currencyFormat : "EUR" }}
    </div>
  </ng-template>
</p-card>