<!-- app.component.html -->
<div class="container" *ngIf="isVisible">
       <p-panel styleClass="custom-panel">
         <div class="buttons-container">
           <p-button 
             icon="pi pi-envelope"
             label="Enviar recordatorio"
             (onClick)="onSendReminder()">
           </p-button>
           
           <p-button 
             icon="pi pi-print"
             label="Reimprimir información"
             (onClick)="onReprintInfo()">
           </p-button>
           
           <p-button 
             icon="pi pi-ticket"
             label="Reimprimir bono reserva"
             (onClick)="onReprintVoucher()">
           </p-button>
           
           <p-button 
             icon="pi pi-calendar"
             label="Reimprimir recordatorio de pago"
             (onClick)="onReprintPaymentReminder()">
           </p-button>
           
           <p-button 
             icon="pi pi-ticket"
             label="Reimprimir e-tickets"
             (onClick)="onReprintETickets()">
           </p-button>
         </div>
       </p-panel>
     </div>