<div
  class="optional-activities"
  *ngIf="optionalActivities && optionalActivities.length > 0"
>
  <div class="step">
    <div class="step-title">Agrega actividades</div>
    <div class="step-description">
      <i class="pi pi-info-circle"></i>Tambien puedes añadirlas despues desde tu
      perfil
    </div>
  </div>
  <p-dataview #dv [value]="optionalActivities">
    <ng-template #list let-items>
      <div class="dataview-grid">
        <div
          class="dataview-item"
          *ngFor="let item of items; let first = first"
        >
          <div
            class="dataview-card"
            [ngClass]="{ 'dataview-card-border': !first }"
          >
            <div class="dataview-image">
              <img
                class="dataview-img"
                [src]="item.activityImage?.[0]?.url ||''"
                [alt]="item.name"
              />
            </div>

            <div class="dataview-content">
              <div class="dataview-info">
                <div>
                  <div class="dataview-name">
                    {{ item.name }}
                  </div>
                  <div
                    class="dataview-description"
                    [innerHTML]="item.description"
                  ></div>
                </div>
              </div>

              <div class="dataview-actions">
                <div
                  *ngFor="
                    let price of getAdultPrices(item.priceData);
                    let last = last
                  "
                  class="dataview-price"
                >
                  <span class="dataview-price-value">
                    +{{ price.value | currencyFormat : "EUR" }}
                  </span>
                  <span class="dataview-per-person"> por persona </span>
                </div>

                <div class="dataview-buttons">
                  <p-button
                    class="dataview-buy-button"
                    [label]="isActivityAdded(item) ? 'Añadido' : 'Añadir'"
                    [disabled]="item.availability === 0"
                    [rounded]="true"
                    [styleClass]="isActivityAdded(item) ? 'added-button' : ''"
                    (click)="toggleActivity(item)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>
