.carousel-section {
  display: flex;
  align-items: flex-end;
  gap: 70px;
  background: #E7E9ED;
  padding: 70px 0px;

  .title {
    font-size: 29px;
    font-weight: 500;
    font-style: italic;
  }
  .description {
    font-size: 14px;
    line-height: 1.3;
  }
}

.carousel-section-carousel {
  flex: 1;
  max-width: 60rem;

  .box-image {
    margin-right: 20px;
    position: relative;
  }
  .box-image::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 70%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    border-radius: 13px; 
  }
  .info-image {
    position: absolute;
    bottom: 5px;
    left: 60%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    width: 80%;
    text-align: right;
    z-index: 2;

    .buttonVertour {
      width: auto !important;
      height: auto !important;
      padding: 5px 10px !important;
      white-space: nowrap;
    }
    .title-image {
      font-size: 20px;
      font-style: italic;
    }
    .description-image {
      font-size: 12px;
      font-weight: 100;
      line-height: 1.3;
    }
  }
  img {
    object-fit: cover;
    max-width: 350px;
    border-radius: 13px;
    height: 420px;
    aspect-ratio: 16 / 25;
  }
}

.carousel-section-description {
  flex: 1;
  color: #002b57;
  padding: 0px 0px 50px 50px;
}

@media (max-width: 1200px) {
  .carousel-section {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }

  .carousel-section-carousel {
    max-width: 100%;
    .box-image {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .carousel-section-description {
    padding: 0 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel-section {
    padding: 30px 10px;
  }

  .carousel-section-carousel {
    .info-image {
      left: 50%;
      width: 90%;
    }
  }

  .carousel-section-description {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .carousel-section {
    padding: 20px 5px;
  }

  .carousel-section-carousel {
    .info-image {
      left: 50%;
      width: 100%;
    }
  }

  .carousel-section-description {
    padding: 0 5px;
  }
}

@media (min-width: 1700px) {
  .carousel-section {
    padding: 90px 0px;
    .title {
      font-size: 32px;
    }
    .description {
      font-size: 15px;
    }
  }

  .carousel-section-carousel {
    max-width: 70rem;
    .box-image {
      margin-right: 25px;
    }
    img {
      max-width: 280px;
      height: 470px;
    }
  }

  .carousel-section-description {
    padding: 0px 0px 60px 60px;
    .title {
      font-size: 32px;
    }
    .description {
      font-size: 15px;
    }
  }
}

@media (min-width: 2000px) {
  .carousel-section {
    padding: 120px 0px;
    .title {
      font-size: 40px;
    }
    .description {
      font-size: 18px;
    }
  }

  .carousel-section-carousel {
    max-width: 80rem;
    .box-image {
      margin-right: 5px;
    }
    img {
      max-width: 350px;
      height: 580px;
    }
  }

  .carousel-section-description {
    padding: 0px 0px 80px 80px;
    .title {
      font-size: 40px;
    }
    .description {
      font-size: 18px;
    }
  }
}