<div class="img" (click)="handleTourClick()">
  <img [src]="tourData.imageUrl" [alt]="tourData.title" loading="lazy" data-cookieconsent="ignore" />
  <div class="overlay">
    <div class="top-right-container">
      <!-- Rating arriba -->
      <ng-container *ngIf="averageRating !== undefined; else loadingRating">
        <span class="rating p-button-primary">{{ averageRating }} ★</span>
      </ng-container>
      <ng-template #loadingRating>
        <span *ngIf="isLoadingRating" class="rating p-button-primary loading">...</span>
      </ng-template>
      
      <!-- Trip Types circulares debajo del rating -->
      <div class="trip-types-container">
        <span 
          *ngFor="let tripType of tourData.tripTypes" 
          class="trip-type-circle"
          [style.background]="tripType.color"
          [style.color]="'black'"
          [title]="tripType.name">
          {{ tripType.abbreviation }}
        </span>
      </div>
    </div>
    
  </div>
</div>