<div class="insurances" *ngIf="insurances && insurances.length">
  <div class="step">
    <div class="step-title">Seguros</div>
    <div class="step-description">
      <i class="pi pi-info-circle"></i>Tambien puedes añadirlas despues desde tu
      perfil
    </div>
  </div>
  <p-dataview #dv [value]="insurances">
    <ng-template #list let-items>
      <div class="dataview-grid">
        <div class="dataview-item">
          <div class="dataview-card dataview-card-border">
            <div class="dataview-selector">
              <p-radioButton
                inputId="basicInsurance"
                name="insurance"
                [value]="null"
                [(ngModel)]="selectedInsurance"
                [checked]="basicInsuranceSelected"
                (onClick)="toggleInsurance(null)"
              ></p-radioButton>
            </div>
            <div class="dataview-content">
              <div class="dataview-info">
                <div>
                  <div class="dataview-name">Seguro Básico</div>
                </div>
              </div>

              <div class="dataview-actions">
                <div class="dataview-price">
                  <span class="dataview-price-value">incluido </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dataview-item" *ngFor="let item of items">
          <div class="dataview-card dataview-card-border">
            <div class="dataview-selector">
              <p-radioButton
                [inputId]="item.id"
                name="insurance"
                [value]="item"
                [(ngModel)]="selectedInsurance"
                (onClick)="toggleInsurance(item)"
              ></p-radioButton>
            </div>

            <div class="dataview-content">
              <div class="dataview-info">
                <div>
                  <div class="dataview-name">
                    {{ item.name }}
                  </div>
                  <div
                    *ngIf="item.description"
                    class="dataview-description"
                    [innerHTML]="getSanitizedDescription(item.description)"
                  ></div>
                </div>
              </div>

              <div class="dataview-actions">
                <div class="dataview-price">
                  <span class="dataview-price-value">
                    {{
                      getPriceById(item.activityId) === 0
                        ? "incluido"
                        : (getPriceById(item.activityId)
                          | currencyFormat : "EUR")
                    }}
                  </span>
                  <span class="dataview-per-person"> por persona </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>
