/* You can add global styles to this file, and also import other style files */
@use "./styles/custom-lists.scss" as *;
@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "primeicons/primeicons.css";
@import url("//cdn.quilljs.com/1.3.7/quill.core.css");
@import url("//cdn.quilljs.com/1.3.7/quill.snow.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/**
 * Estilos para optimizar el renderizado de contenido Quill
 * 
 * El editor Quill genera p치rrafos con m치rgenes por defecto que crean espaciado excesivo
 * en el contenido renderizado. Estos estilos sobrescriben los valores por defecto
 * para lograr un espaciado m치s compacto y profesional.
 */
.itinerary-content div p {
  margin: 0 0 4px !important;
  line-height: 1.4 !important;
}

.itinerary-content div p:last-child {
  margin-bottom: 0 !important;
}

.itinerary-content div p:empty {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
}

:root {
  --font-family: "Montserrat", sans-serif;

}

/* Configuraci칩n de fuente Montserrat global */
* {
  font-family: var(--font-family);
}