<div class="checkout">
  <div class="checkout-container">
    <!-- Left and Center columns with steps -->
    <div class="steps-container">
      <p-stepper [value]="currentStep">
        <p-step-list>
          <p-step [value]="1">Personaliza tu viaje</p-step>
          <p-step [value]="2">Vuelos</p-step>
          <p-step [value]="3">Viajeros</p-step>
          <p-step [value]="4">Pago</p-step>
        </p-step-list>

        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <app-customize-trip
                *ngIf="orderDetails && prices"
                [orderDetails]="orderDetails"
                [prices]="prices"
              ></app-customize-trip>
              <div class="flex pt-6 justify-end">
                <p-button
                  label="Siguiente"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="nextStep(2) && activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <app-flights
                *ngIf="orderDetails && prices"
                [orderDetails]="orderDetails"
              ></app-flights>
              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="nextStep(3) && activateCallback(3)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <app-travelers></app-travelers>
              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(2)"
                />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="nextStep(4) && activateCallback(4)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
              <app-payment
                [totalPrice]="total"
                [processBooking]="processBooking.bind(this)"
              ></app-payment>
              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>

    <!-- Right column - Order Summary -->
    <div class="order-summary">
      <h3>Resumen del pedido</h3>
      <div class="summary-content">
        <!-- Tour base info -->
        <div class="tour-base-info">
          <!--   <h4>{{ tourName }}</h4>
          <p>{{ tourDates }}</p> -->

          <!-- Selected items list -->
          <div class="selected-items">
            <div *ngFor="let item of summary" class="item">
              <span>{{ item.description }}</span>
              <span>
                {{
                  item.value === 0
                    ? "incluido"
                    : item.qty +
                      " x " +
                      (item.value | currencyFormat : "EUR") +
                      " = " +
                      (item.value * item.qty | currencyFormat : "EUR")
                }}
              </span>
            </div>
          </div>

          <!-- Total section -->
          <div class="total-section">
            <div class="subtotal">
              <span>Subtotal</span>
              <span>{{ subtotal | currencyFormat : "EUR" }}</span>
            </div>
            <div class="total">
              <span>Total</span>
              <span>{{ total | currencyFormat : "EUR" }}</span>
            </div>
          </div>

          <!-- Flights info if selected -->
          <div class="flights-info" *ngIf="selectedFlight">
            <h4>Vuelos</h4>
            <div class="flight-details">
              <!-- outbound -->
              <div
                *ngFor="
                  let segment of selectedFlight.outbound.segments;
                  let idx = index
                "
                class="itinerary-flight"
              >
                <ng-container *ngIf="idx === 0">
                  <div class="itinerary-flight-date">
                    <span>IDA</span>
                    <span class="itinerary-flight-date-line"></span>
                    <i class="icon icon-navigate_next font-xl"></i>
                    <span>{{
                      selectedFlight.outbound.date | date : "dd/MM/yyyy"
                    }}</span>
                  </div>
                  <div class="itinerary-flight-scale">
                    <span>
                      {{
                        selectedFlight.outbound.segments.length > 1
                          ? selectedFlight.outbound.segments.length -
                            1 +
                            " escala"
                          : "Vuelo directo"
                      }}
                    </span>
                  </div>
                </ng-container>
                <div class="itinerary-flight-wrap">
                  <div class="itinerary-flight-departure">
                    <span>{{ segment.departureTime }}</span>
                    <span
                      >{{ segment.departureCity }} ({{
                        segment.departureIata
                      }})</span
                    >
                  </div>
                  <span><i class="icon icon-navigate_next"></i></span>
                  <div class="itinerary-flight-arrival">
                    <span>{{ segment.arrivalTime }}</span>
                    <span
                      >{{ segment.arrivalCity }} ({{
                        segment.arrivalIata
                      }})</span
                    >
                  </div>
                </div>
              </div>
              <!-- inbound -->
              <div
                *ngFor="
                  let segment of selectedFlight.inbound.segments;
                  let idx = index
                "
                class="itinerary-flight"
              >
                <ng-container *ngIf="idx === 0">
                  <div class="itinerary-flight-date inbound">
                    <span>VUELTA</span>
                    <span class="itinerary-flight-date-line"></span>
                    <span>{{
                      selectedFlight.inbound.date | date : "dd/MM/yyyy"
                    }}</span>
                  </div>
                  <div class="itinerary-flight-scale">
                    <span>
                      {{
                        selectedFlight.inbound.segments.length > 1
                          ? selectedFlight.inbound.segments.length -
                            1 +
                            " escala"
                          : "Vuelo directo"
                      }}
                    </span>
                  </div>
                </ng-container>
                <div class="itinerary-flight-wrap">
                  <div class="itinerary-flight-departure">
                    <span>{{ segment.departureTime }}</span>
                    <span
                      >{{ segment.departureCity }} ({{
                        segment.departureIata
                      }})</span
                    >
                  </div>
                  <span><i class="icon icon-navigate_next"></i></span>
                  <div class="itinerary-flight-arrival">
                    <span>{{ segment.arrivalTime }}</span>
                    <span
                      >{{ segment.arrivalCity }} ({{
                        segment.arrivalIata
                      }})</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
