<div class="form-column form-field"
     [ngClass]="{ 
       'half-width': fieldDetails.fieldType !== 'checkbox',
       'full-width': fieldDetails.fieldType === 'checkbox',
       'required-empty': isRequiredEmpty,
       'field-valid': validationState === 'valid',
       'field-invalid': validationState === 'invalid'
     }">
  
  <!-- Label para todos los campos excepto checkbox -->
  <label *ngIf="fieldDetails.fieldType !== 'checkbox'">
    {{ fieldDetails.name }}<span *ngIf="isMandatory">*</span>
  </label>

  <!-- ngSwitch para renderizar el tipo de campo apropiado -->
  <ng-container [ngSwitch]="fieldDetails.fieldType">
    
    <!-- Campo de texto -->
    <ng-container *ngSwitchCase="'text'">
      <!-- Campo de teléfono (code === 'phone') -->
      <ng-container *ngIf="fieldDetails.code === 'phone'">
        <div class="phone-row">
          <input
            *ngIf="prefixControl"
            pInputText
            type="text"
            class="prefix-input"
            [formControl]="prefixControl"
            placeholder="+34"
            inputmode="numeric"
            maxlength="3"
            (input)="onPrefixInput($event)"
          />
          <input 
            pInputText 
            type="tel" 
            [formControl]="control"
            [placeholder]="placeholder"
            [ngClass]="{ 'p-invalid': hasError }"
            inputmode="tel"
            maxlength="20"
            (input)="onPhoneInput($event)" />
        </div>
        <small *ngIf="hasError" class="p-error">
          {{ getErrorMessage(errors) }}
        </small>
      </ng-container>
      
      <!-- Campo de texto normal -->
      <ng-container *ngIf="fieldDetails.code !== 'phone'">
        <div class="field-container">
          <input 
            pInputText 
            [formControl]="control"
            [placeholder]="placeholder"
            [ngClass]="{ 'p-invalid': hasError }"
            (input)="onFieldInput()" />
        </div>
        <small *ngIf="hasError" class="p-error">
          {{ getErrorMessage(errors) }}
        </small>
      </ng-container>
    </ng-container>

    <!-- Campo de email -->
    <ng-container *ngSwitchCase="'email'">
      <input 
        pInputText 
        type="email" 
        [formControl]="control"
        [placeholder]="placeholder"
        [ngClass]="{ 'p-invalid': hasError }"
        (input)="onFieldInput()" />
      <small *ngIf="hasError" class="p-error">
        {{ getErrorMessage(errors) }}
      </small>
    </ng-container>

    <!-- Campo de teléfono (si fieldType es 'phone') -->
    <ng-container *ngSwitchCase="'phone'">
      <div class="phone-row">
        <input
          *ngIf="prefixControl"
          pInputText
          type="text"
          class="prefix-input"
          [formControl]="prefixControl"
          placeholder="+34"
          inputmode="numeric"
          maxlength="3"
          (input)="onPrefixInput($event)"
        />
        <input 
          pInputText 
          type="tel" 
          [formControl]="control"
          [placeholder]="placeholder"
          [ngClass]="{ 'p-invalid': hasError }"
          inputmode="tel"
          maxlength="20"
          (input)="onPhoneInput($event)" />
      </div>
      <small *ngIf="hasError" class="p-error">
        {{ getErrorMessage(errors) }}
      </small>
    </ng-container>

    <!-- Campo de sexo (select) -->
    <ng-container *ngSwitchCase="'sex'">
      <p-select 
        [formControl]="control"
        [options]="sexOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccione"
        [ngClass]="{ 'p-invalid': hasError }"
        (onChange)="onFieldInput()">
      </p-select>
      <small *ngIf="hasError" class="p-error">
        {{ getErrorMessage(errors) }}
      </small>
    </ng-container>

    <!-- Campo de fecha -->
    <ng-container *ngSwitchCase="'date'">
      <p-datepicker 
        [formControl]="control"
        [minDate]="minDate || undefined"
        [maxDate]="maxDate || undefined"
        showIcon 
        appendTo="body" 
        placeholder="dd/mm/yyyy"
        dateFormat="dd/mm/yy"
        (onSelect)="onDateSelect($event)"
        (onBlur)="onDateBlur()"
        [ngClass]="{ 'p-invalid': hasError }">
      </p-datepicker>
      <small *ngIf="hasError" class="p-error">
        {{ getErrorMessage(errors) }}
      </small>
    </ng-container>

    <!-- Campo de país (autocomplete) -->
    <ng-container *ngSwitchCase="'country'">
      <p-autocomplete 
        [formControl]="control"
        [suggestions]="countryOptions" 
        field="name" 
        [placeholder]="placeholder" 
        appendTo="body" 
        [dropdown]="true"
        [ngClass]="{ 'p-invalid': hasError }">
      </p-autocomplete>
      <small *ngIf="hasError" class="p-error">
        {{ getErrorMessage(errors) }}
      </small>
    </ng-container>

    <!-- Campo de checkbox -->
    <ng-container *ngSwitchCase="'checkbox'">
      <div class="checkbox-field">
        <p-checkbox 
          [formControl]="control"
          binary="true" 
          [inputId]="controlName">
        </p-checkbox>
        <label [for]="controlName" class="checkbox-label">
          {{ fieldDetails.description }}<span *ngIf="isMandatory">*</span>
        </label>
      </div>
    </ng-container>

  </ng-container>
</div>
