<section *ngIf="isActive" class="carousel-section">
  <!-- Título y descripción de la sección -->
  <div class="carousel-section-description">
  <h2 *ngIf="title" class="section-title">{{ title }}</h2>
  <div
        *ngIf="textContent"
        class="description"
        [innerHTML]="sanitizeHtml(textContent)"
  ></div>
  </div>
  <!-- Carrusel de cards -->
  <div class="carousel-section-carousel" *ngIf="cards.length > 0; else noCards">
  <p-carousel
        [value]="cards"
        [numVisible]="3.25"
        [numScroll]="0.5"
        [responsiveOptions]="responsiveOptions"
        [showNavigators]="false"
        [autoplayInterval]="carouselConfig.DEFAULT_AUTOPLAY_INTERVAL"
  >
  <ng-template let-card #item>
  <div class="carousel-card">
  <div class="image-container">
  <div class="image-shadow">
  <img
                  [src]="card.image.url"
                  [alt]="card.image.alt"
                  loading="lazy"
                />
  <div class="info-image">
  <h4 *ngIf="card.title" class="card-title">{{ card.title }}</h4>
  <p
                    *ngIf="card.description"
                    class="description-image"
                    [innerHTML]="sanitizeHtml(card.description)"
  ></p>
  <p-button
                    *ngIf="card.buttonText && card.link"
                    type="button"
                    [label]="card.buttonText"
                    class="buttonVertour p-button-rounded"
                    [rounded]="true"
                    fluid="true"
                    size="small"
                    (onClick)="onClick(card.link)"
                    [style]="{ width: '45%', height: '27px' }"
  ></p-button>
  </div>
  </div>
  </div>
  </div>
  </ng-template>
  </p-carousel>
  </div>
  <!-- Estado sin cards -->
  <ng-template #noCards>
  <div class="no-cards-message">
  <p>No hay contenido disponible para mostrar en el carrusel.</p>
  </div>
  </ng-template>
  </section>