name: Merge to Develop and Pre

on:
  push:
    branches:
      - main

jobs:
  merge-to-develop:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Merge main into develop
        run: |
          git checkout develop
          git merge --no-ff origin/main -m "Merge branch 'main' into develop"
          git push origin develop
          # El push a develop activar치 autom치ticamente el workflow de despliegue

  merge-to-pre:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Merge main into pre
        run: |
          git checkout pre
          git merge --no-ff origin/main -m "Merge branch 'main' into pre"
          git push origin pre
          # El push a pre activar치 autom치ticamente el workflow de despliegue
