name: Pull Request Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check-branch:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Check if branch is up to date with main
        id: check_branch
        run: |
          git fetch origin main
          BEHIND_BY=$(git rev-list --count HEAD..origin/main)
          echo "behind_by=$BEHIND_BY" >> $GITHUB_ENV
          if [ $BEHIND_BY -gt 0 ]; then
            echo "⚠️ This branch is behind main by $BEHIND_BY commits"
            exit 1
          else
            echo "✅ Branch is up to date with main"
          fi

      - name: Add comment to PR if branch is not up to date
        if: env.behind_by > 0
        uses: actions/github-script@v7.0.1
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `⚠️ This branch is behind main by ${process.env.behind_by} commits. Please update your branch with the latest changes from main using:\n\`\`\`\ngit merge --no-ff origin/main\n\`\`\``
            })

      - name: Build check
        if: env.behind_by == 0
        uses: docker/build-push-action@v6.11.0
        with:
          context: .
          build-args: |
            BUILD_COMMAND=build
          push: false